[2013-02-01 10:13] FedericoCeratto opened #1 "Silent editor check"
Originally reported by: **paramite (Bitbucket: [paramite](http://bitbucket.org/paramite), GitHub: [paramite](http://github.com/paramite))**

----------------------------------------

During editor command check cmd2 generates output which is not required (and in some cases disturbing). Patch attached. Please check bug [1] in case you wonder why this is needed.

[1] https://bugzilla.redhat.com/show

[2013-03-01 04:47] FedericoCeratto opened #2 "Code repository is private"
Originally reported by: **Tomaz Muraus (Bitbucket: [kami](http://bitbucket.org/kami), GitHub: [kami](http://github.com/kami))**

---

Assembla page says that the project has moved to Bitbucket but the code is private which means I can't contribute here.

Is this intentional or is it a mistake?

---
- Bitbucket: https://bitbucket.org/catherinedevlin/cmd2/issue/2

[2013-03-01 04:57] FedericoCeratto opened #3 "Fix a failure under Python 2.6"
Originally reported by: **Tomaz Muraus (Bitbucket: [kami](http://bitbucket.org/kami), GitHub: [kami](http://github.com/kami))**

---

Latest version (0.6.5) introduced a regression which breaks cmd2 under Python 2.6.

[code]

In Python 2.6, sys.version_info is a tuple and not an object like thing so doing sys.version_info.major won't work.

I'm including a patch which fixes it and works under all

[2013-07-06 19:54] FedericoCeratto opened #4 "python3 doesn't have file type like python2 does"
Originally reported by: **Anonymous**

---

Using python3.3 with a cmd2.py modified by 2to3.
There are two instances were cmd2 checks whether some object is of type file. There is apparently no builtin type file.

I fixed the issue this way:

try:
    import io
    file = io.TextIOWrapper
except ImportError:
    pass # Python2

But only tried it on python3 version.

Also your documentation claims

[2013-07-28 10:12] FedericoCeratto opened #5 "List all help as one-liners"
Originally reported by: **Anonymous**

---

I find it efficient to list a summary of help for all documented commands. Thought you might find this worth including. Thanks for a nice tool! --Ken Bannister

[code]

---
- Bitbucket: https://bitbucket.org/catherinedevlin/cmd2/issue/5

[2013-08-09 05:31] FedericoCeratto opened #6 "packaging bug?"
Originally reported by: **Atsushi Odagiri (Bitbucket: [aodag](http://bitbucket.org/aodag), GitHub: [aodag](http://github.com/aodag))**

---

I download eggs and sdist from https://pypi.python.org/pypi/cmd2 .
I think the egg for 2.7 includes sources applied 2to3.

[code]

---
- Bitbucket: https://bitbucket.org/catherinedevlin/cmd2/issue/6

[2013-09-12 22:00] FedericoCeratto opened #7 "distutils compatibility is broken (and pointless)"
Originally reported by: **Michał Górny (Bitbucket: [mgorny](http://bitbucket.org/mgorny), GitHub: [mgorny](http://github.com/mgorny))**

----------------------------------------

The code reads:

    try:
        from setuptools import setup, find_packages
    except ImportError:
        from distutils.core import setup
        def find_packages():
            return ['sqlpython']

[2013-11-18 19:45] FedericoCeratto opened #8 "Does it parse correct arguments with spaces?"
Originally reported by: **Anonymous**

---

[code]

if you pass:
hello 'Catherine Devlin'
it is printed:
Hello 'Catherine

the same with double quotes

---
- Bitbucket: https://bitbucket.org/catherinedevlin/cmd2/issue/8

[2013-11-18 20:29] FedericoCeratto opened #9 "Fix for issue #8"
Originally reported by: **Giorgio Kaka (Bitbucket: [gosom](http://bitbucket.org/gosom), GitHub: [gosom](http://github.com/gosom))**

---

I figured out what was happening.
check the patch file for a fix.

Thanks for the nice module

---
- Bitbucket: https://bitbucket.org/catherinedevlin/cmd2/issue/9

[2014-02-16 06:02] FedericoCeratto opened #10 "Dictionary usage problem"
Originally reported by: **Bhairav Shah (Bitbucket: [bhairav](http://bitbucket.org/bhairav), GitHub: [bhairav](http://github.com/bhairav))**

---

Have an issue with getting dictionary values.  Python 2.7.  Sample code:

[code]

If I import the original cmd, I get the following output:

[code]

If I import cmd2, I get the following output:

[code]

The original cmd seems to be doing it right, givin

[2014-02-25 11:24] FedericoCeratto opened #11 "Easy way to integrate use as commandline over socket/telnet?"
Originally reported by: **Stuart Axon (Bitbucket: [stuaxo](http://bitbucket.org/stuaxo), GitHub: [stuaxo](http://github.com/stuaxo))**

---

I have a homebuild command parser I'm using on my socket server, I'd like to use something like cmd2 instead.

Ideally, all the command history etc would be available - but that seems a bit ambitious ..

Is there a method I can pass a line of text + then cmd2

[2014-03-04 18:13] FedericoCeratto opened #12 "Use trover classifiers to document versions supported in setup.py"
Originally reported by: **Alex Gaynor (Bitbucket: [alex_gaynor](http://bitbucket.org/alex_gaynor), GitHub: Unknown)**

----------------------------------------

A bunch of tools are starting to use these to introspect which python versions are supported by a package. It'd be awesome for cmd2's setup.py to advertise it's supported versions, e.g.: https://github.com/django/django/blob/master/setup.p

[2014-03-06 18:23] FedericoCeratto opened #13 "Order of shortcuts matter, but defined as dictionary"
Originally reported by: **Kent Duncan (Bitbucket: [slamduncan](http://bitbucket.org/slamduncan), GitHub: [slamduncan](http://github.com/slamduncan))**

---

When adding to the shortcut list, if one shortcut is the start of another shortcut than it will override it and pass the remainder of the longer shortcut in arg.

Example:
    Cmd.shortcuts.update({
                          'p': 'first_sc',

[2014-12-02 20:35] FedericoCeratto opened #14 "Missing Option to Prevent Processing of CLI Args"
Originally reported by: **Tyler Abair (Bitbucket: [tabair](http://bitbucket.org/tabair), GitHub: [tabair](http://github.com/tabair))**

---

Cmd2 has a cool feature where it will process all CLI args passed to a script as commands, but there is no option to turn this feature off.

A quick work-around that I'm using at the moment is to save sys.argv to a tmp variable, and then set sys.argv = [tmp[0

[2014-12-02 20:41] FedericoCeratto opened #15 "Missing Option to Disable Redirection and Piping"
Originally reported by: **Tyler Abair (Bitbucket: [tabair](http://bitbucket.org/tabair), GitHub: [tabair](http://github.com/tabair))**

---

Cmd2's redirection with '>' and piping with '|' is a terrific feature, but I really want to disable redirection and piping sometimes.  Unfortunately, there is no option I can set to make the '>' and '|' characters behave as plain characters.

I can't find a w

[2015-02-03 01:34] FedericoCeratto opened #16 "Use of parse_args in cmdloop"
Originally reported by: **Bhairav Shah (Bitbucket: [bhairav](http://bitbucket.org/bhairav), GitHub: [bhairav](http://github.com/bhairav))**

---

In the cmdloop method, the following line is present:

[code]

Digging deeper into optparse, parse_args() calls the below line:

[code]

Which in turn has this:

[code]

While it may make sense for _get_args in optparse to use the sys.argv arguments, wou

[2015-03-18 03:23] FedericoCeratto opened #17 "self.select list out of index"
Originally reported by: **Anonymous**

---

When an option that is not in the list is inserted, say:
1. 90
2. 180
3. 360
   Select number of samples:11
   list index out of range

the operation is closed  because the list is out of index, it would be nicer to do nothing until a correct option is entered.

---
- Bitbucket: https://bitbucket.org/catherinedevlin/cmd2/issue/17

[2015-09-11 16:48] FedericoCeratto opened #18 "Python 3.5 renames subprocess.mswindows"
Originally reported by: **Barry Warsaw (Bitbucket: [warsaw](http://bitbucket.org/warsaw), GitHub: [warsaw](http://github.com/warsaw))**

----------------------------------------

Actually, subprocess.mswindows is an internal-only API so ideally it shouldn't be used at all.  However, in Python 3.5 the attribute has been renamed to subprocess._mswindows, thus breaking cmd2.

You can just use `(sys.p

[2015-09-29 12:13] FedericoCeratto opened #19 "cannot integrate cmd2 into event loops"
Originally reported by: **Michael Haberler (Bitbucket: [mhaberler](http://bitbucket.org/mhaberler), GitHub: [mhaberler](http://github.com/mhaberler))**

---

I wish there were a way to register cmd2 input with event loops like zmq.loop, asyncio, poll, gobject/gevent etc without occupying the main loop

the assumption cmd2 owns the inner loop of a program is very restrictive - even Gnu readline can

[2016-02-08 09:52] FedericoCeratto opened #20 "Cmd2 . decorator @options([make_option( ....."
Originally reported by: **Anonymous**

---

as options may be added at end of line (optparse) ex : speak -p aaaaa bbbbb  -r2 ( instead of speak -p -r2.....,  it happens in def :  remaining_args(..) that the `\s_$ entails an attribute error because no matching
pattern = '\s+'.join(re.escape(a) for a in newArgList) + '\s_$'
Bypassed by removing '\s*$ in above.
regards

---
- Bitbucket: https://bitbu

[2016-02-10 15:31] #2 closed, assigned to nobody

[2016-02-10 15:32] #3 closed, assigned to nobody

[2016-02-10 15:32] #6 closed, assigned to nobody

[2016-02-19 02:50] hozn commented on #18
I submitted a merge req (matching above suggestion) in #21

[2016-02-20 15:48] FedericoCeratto commented on #18
Merged, thank you!

[2016-02-24 00:03] #18 closed

[2016-02-24 00:09] FedericoCeratto commented on #1
The bug was said to be fixed.

[2016-02-24 00:09] #1 closed

[2016-02-24 00:11] FedericoCeratto commented on #12
Fixed.

[2016-02-24 00:11] #12 closed

[2016-03-07 14:15] felixonmars opened #22 "Missing git tag for 0.6.8 release"
It would be nice to keep them in sync :)

[2016-03-15 00:33] nocarryr commented on #22
:+1:   Also, it would be very helpful to keep version info updated in `setup.py` (so `dependency_links` can be used for requirements in other projects)

[2016-03-15 10:48] #22 closed

[2016-03-15 10:48] FedericoCeratto commented on #22
Tag added, thanks for the bug report.

[2016-03-15 16:54] nocarryr commented on #22
Thanks!  You made my CI tests happy in Py3.5!

[2016-03-15 23:34] FedericoCeratto commented on #8
(Cmd) hello 'foo bar'      does not work anymore, leading to Hello Nobody
(Cmd) hello -n 'foo bar'      still returns only "Hello 'foo"

[2016-03-31 10:13] hukka opened #23 "Documentation links to wrong issue tracker / repository"
Pypi links to https://pythonhosted.org/cmd2/, which links to http://trac-hg.assembla.com/python-cmd2/report/1. The docs in this repository link to bitbucket. Assuming github is now the canonical place (at least it has the latest updates), it should be mentioned in the docs, and the pypi page should be updated.

If the bitbucket is still the canonical place, I think that should be mentioned in the

[2016-03-31 10:17] hukka opened #24 "emptyline() from cmd cannot be used"
Using cmd2 as drop in replacement breaks using https://docs.python.org/3/library/cmd.html#cmd.Cmd.emptyline, as cmd2 completely ignores empty lines (onecmd_plus_hooks catches EmptyStatements and just returns 0). Either this is a bug or needs a note in the docs.

[2016-03-31 10:47] FedericoCeratto commented on #23
The "Home Page" on https://pypi.python.org/pypi/cmd2 is set to this GH repo, where do you see pythonhosted?

[2016-04-04 09:06] hukka commented on #23
Right above the home page:
Documentation: cmd2 package documentation

[2016-04-27 18:10] hatRiot commented on #20
If this is even supported anymore, optparse is deprecated and argparse should be used instead.

[2016-09-16 00:27] PAStheLoD commented on #18
Hello,

First, sorry for bothering you on a closed issue! And second, could you (or anyone with access) release current master on PyPI? (So python-openstackclient - which uses cliff, which uses cmd2 - and probably a bunch of apps would not annoy users with that exception.)

Or is there some reason the recent changes haven't been released (no upload since 2014)?

[2016-09-28 19:16] robgil opened #27 "python3.5 fix for subprocess"
AttributeError: module 'subprocess' has no attribute 'mswindows'

This has been changed to _mswindows. Otherwise everything seems to work in 3.5. Still testing though

[2016-09-28 19:23] robgil commented on #27
This looks fixed in 0.6.9a. Can you add to pip?

[code]

[2016-10-03 10:07] #7 closed

[2016-10-03 10:48] FedericoCeratto commented on #27
0.6.9 has been released.

[2016-10-03 10:48] #27 closed

[2016-10-03 10:50] FedericoCeratto commented on #18
@PAStheLoD v. 0.6.9 has been released. The original author stopped maintaining the library.  Co-maintainers are very welcome :)

[2017-01-30 19:17] tleonhardt commented on #23
This is fixed for the latest documentation.

[2017-01-30 19:17] #23 closed

[2017-01-30 19:20] tleonhardt commented on #4
The Python 3 issue with no basic "file" type existing was fixed about a month ago when the use of 2to3 was replaced by the six module.

[2017-01-30 19:20] #4 closed

[2017-01-31 05:13] tleonhardt commented on #24
@hukka Thanks for pointing this out.  A note has been added to Overview section of the cmd2 documentation:  https://cmd2.readthedocs.io/en/latest/overview.html

[2017-01-31 05:13] #24 closed

[2017-01-31 06:25] tleonhardt opened #35 "Piping output to input of os command causes unhandled exception on Python 3.x"
The output redirection feature where command output can be piped (|) as input to operating-system commands, as in "help | wc" is broken for Python 3.x but still works for Python 2.7.  This feature's expected behavior is documented here:
https://cmd2.readthedocs.io/en/latest/freefeatures.html#output-redirection

Not only is it broken, but it causes an unhandled exception.  It appears to be a str (u

[2017-02-01 07:26] tleonhardt commented on #35
This has been fixed.  The subprocess module is particularly bad in terms of being able to play nicely with unicode or byte strings.  Some features were added in Python 3.5 to make it easier, but prior to that you need to be exquisitely careful how you send data to or get data from a subprocess via stdin/stdout/stderr.

[2017-02-01 07:26] #35 closed

[2017-02-03 05:35] tleonhardt commented on #8
This issue has been fixed with the most recent commit and a couple unit tests have been added to help make sure it doesn't get broken again.

[2017-02-03 05:35] #8 closed

[2017-02-03 05:36] tleonhardt commented on #9
@gosom Thanks for the suggested fix.  A modified variant of what you suggested has been applied and works great.

[2017-02-03 05:36] #9 closed

[2017-02-03 05:50] tleonhardt commented on #20
I put in a try/except to deal with this case of an AttributeError appropriately.  It is fixed in the latest code and a couple unit tests have been added related to it.

@hatRiot I agree that we should look into replacing optparse with argparse since optparse is deprecated.  I'll create a new issue specifically for that.

[2017-02-03 05:50] #20 closed

[2017-02-03 05:55] tleonhardt opened #36 "Investigate replacing optparse with argparse"
optparse has been deprecated since Python 3.2 and all development on it has ceased:
https://docs.python.org/3.6/library/optparse.html

We should investigate replacing the usage of optparse with argparse or a similar library such as docopt or click.

Since the APIs aren't identical, it won't be a trivial drop-in replacement.

[2017-02-03 06:21] tleonhardt commented on #10
@bhairav
The perror() function in cmd2 is defined like so:
    def perror(self, errmsg, statement=None):
        if self.debug:
            traceback.print_exc()
        print(str(errmsg))

So if debug is set to false (which is the default), the trackback won't print out, only the error message will.  In this case, the whole exception is:
    KeyError: 2
So the "message" associated with the except

[2017-02-03 07:38] tleonhardt commented on #10
Exceptions are now much more obvious when they occur, so this confusion cannot happen.

[2017-02-03 07:38] #10 closed

[2017-02-04 15:08] tleonhardt opened #37 "Replacing pyparsing with shlex"
Python's built-in "shlex" module for simple lexical analysis is probably good enough to handle our command-line parsing in cmd2 and it is implemented in C, so its performance would probably be a lot better than pyparsing, which is implemented in pure Python.

ANTLR and PLY also look like potentially superior alternatives to pyparsing, which is slow, dated, and at least in our case requires an over

[2017-02-08 15:54] tleonhardt opened #40 "Investigate refactoring to allow incorporation of prompts from python-prompt-toolkit"
Python Prompt Toolkit provides some really powerful and cool features:
https://github.com/jonathanslenders/python-prompt-toolkit

It would be nice if a cmd2 user could optionally replace the default prompt with a prompt from python-prompt-toolkit.

This would at a minimum require replacing the simple string prompt with a function which prints a prompt and returns the text the user entered.  It wou

[2017-02-08 16:02] tleonhardt commented on #15
@FedericoCeratto
So adding a settable boolean parameter or two to disable redirection and/or piping could potentially be easy.

Do you think it would be good enough to just ignore the > or | and everything that comes after it?  If so this fix/enhancement should be easy as we can just put the relevant function calls for redirecton/piping inside if statements.

But if disabling redirection means we

[2017-02-10 23:19] tleonhardt opened #41 "Consider using IPython for the embedded Python console"
Consider checking if ipython is installed and if so, using an embedded IPython shell instead of a basic Python one for the built-in "py" command.

[2017-02-14 14:06] tleonhardt opened #43 "doctests don't work with pyparsing version 2.1.10 or newer"
All of the existing doctest tests work for older versions of pyparsing.  But not with pyparsing 2.1.10 because how the ParseResults.dump() function treats strings changed (it now puts them in quotes).

I don't see an easy way to get the doctests to work for all versions of pyparsing.

The best option is to convert the existing doctest tests to pytest unit tests.

[2017-02-15 21:35] tleonhardt commented on #14
When we add this option, we should also do a tiny bit of refactoring so that preloop() and the intro message both run prior to the processing of CLI args.

[2017-02-16 00:57] tleonhardt commented on #14
Fixed with PR #44

[2017-02-16 00:57] #14 closed

[2017-02-16 01:00] tleonhardt commented on #5
This is easy enough to add if someone wants this capability.  But not everyone would necessary want this.

[2017-02-16 01:00] #5 closed

[2017-02-16 04:18] tleonhardt commented on #11
Making cmd2 automagically work over a socket in a standard way that would be the same for everyone is far outside the scope of what this module is intended to do.

For those who want to have commands trigger messages to be sent over a socket, that is readily achievable with the existing infrastructure.  But I don't think it would make sense to try to do it in a completely generic way.

[2017-02-16 04:18] #11 closed

[2017-02-16 04:34] tleonhardt commented on #13
Within the __init__() initializer for the cmd2.Cmd class, the shortcuts dictionary is sorted in reverse alphabetical order by key (i.e. by shortcut).  I'm not sure when this code was added, but it solves this particular problem.

[2017-02-16 04:34] #13 closed

[2017-02-16 05:15] tleonhardt commented on #15
A boolean parameter was added in PR #45 that allows disabling redirection and piping.

It just ignores the > or | and everything after it on the command line and the output of the command goes to the screen as normal.

If it is important to disable the special parsing of the characters, a new issue can be created.

[2017-02-16 05:15] #15 closed

[2017-02-16 05:27] tleonhardt commented on #16
@bhairav
Being able to  send commands to your app as you invoke it by including them as extra arguments to the program on the command-line is very much an intentional feature of cmd2:
https://cmd2.readthedocs.io/en/latest/freefeatures.html#commands-at-invocation

If in your particular application you wish to disable this feature, you can set the "allow_cli_args" member to False.

[2017-02-16 05:27] #16 closed

[2017-02-16 05:47] tleonhardt commented on #17
This was fixed in PR #46

[2017-02-16 05:47] #17 closed

[2017-02-16 05:56] tleonhardt commented on #19
@mhaberler
Unfortunately I cannot see an easy way of making cmd2 NOT owning the inner loop of the main thread of its program.  Given that cmd2 inherits from cmd, that is just the way it is designed to work.

I believe most serious use cases for cmd2 involve the use of some sort of concurrency library (be it threading, multiprocess, greenlet, asyncio, or whatnot) for dealing with commands which do

[2017-02-16 06:04] tleonhardt opened #47 "All commands should go through same shlex parsing"
Currently arguments for commands using the options decorator are split using shlex.split(), however arguments for commands which do not use the options decorator are not split in this fashion.

Ideally, arguments for all commands would go through a more similar processing chain.

The real question, is where is the best place in the code to do that?

[2017-02-16 13:55] tleonhardt commented on #36
The argparse documentation has a section on upgrading optparse to argparse:
https://docs.python.org/3/library/argparse.html#upgrading-optparse-code

[2017-02-16 19:02] tleonhardt commented on #36
Porting from optparse to argparse looks like it will be complicated by two aspects of how their APIs are incompatible:

1. argparse has no equivalent of the optparse.make_option() factory function which returns an Option instance.

2. For optparse, the parse_args() method returns a tuple of (options, args):
     (options, args) = parser.parse_args()
   But for argparse, the parse_args() method jus

[2017-02-16 19:15] tleonhardt commented on #36
This StackOverflow article has a few interesting ideas:
http://stackoverflow.com/questions/12750393/python-using-argparse-with-cmd

[2017-02-18 14:50] tleonhardt commented on #43
This issue was fixed by PR #49  and commit 818434efa74ff448018625f70fb586bc220eb965.

[2017-02-18 14:50] #43 closed

[2017-02-18 20:21] tleonhardt commented on #41
I experimented with embedding an IPython shell via the IPython.embed() function.

IPython provided a superior debugging environment for developers due to the ability to introspect via self and tab-completion.

However, and embedded IPython shell doesn't propagate it's state back to the parent shell and there was no easy way to run cmd2 commands from within the IPython shell.  So from an end-user p

[2017-02-18 21:00] tleonhardt commented on #41
So I don't see any easy way to fully replicate the existing "py" command functionality by replacing the Python InteractiveConsole with IPython.

But it might be useful to add a new "ipy" command if IPython is installed which acts vaguely similarly to "py", but uses an IPython embedded shell.  We would just have to document clearly how the "ipy" command behaves differently.

[2017-02-18 23:17] tleonhardt commented on #41
PR #50 added the optional ipy command.  Now we just need to update the Sphinx documentation before we can close this issue.

[2017-02-19 00:46] tleonhardt commented on #41
Commit 671ce96c6b578fc22a56c8bf7d229039ddafd5a4 updated the docs to discuss the optional use of IPython and inclusion of the "ipy" command to enter an embedded interactive IPython shell.

[2017-02-19 00:46] #41 closed

[2017-02-21 22:45] tleonhardt opened #51 "Consider expanding scripting capability to include conditional control flow"
The current built-in scripting capability is very nice for automating the execution of a series of commands.

However, there isn't any built-in way to run a command IF certain criteria are met (based on say whether or not a previous command "succeeded".

This may be beyond the scope of what cmd2 is intended to provide.  But if there was an easy way to add this functionality, it would be useful.

[2017-02-22 21:09] tleonhardt opened #52 "Empty lines can't trigger updates to the prompt"
Currently entering an empty line completely bypasses all precmd and postcmd hooks, so there is no way to do something like update the prompt based on asynchronous notifications from a background thread when the user just presses enter.

postparsing_postcmd() should always be called, even for an empty line.

[2017-02-22 21:16] tleonhardt commented on #52
This issue was fixed by PR #53

[2017-02-22 21:16] #52 closed

[2017-02-24 03:40] felixonmars opened #55 "test_input_redirection fails on Arch Linux"
The same error happens with either Python 3.6.0 or 2.7.13:

[code]

[2017-02-24 03:49] tleonhardt commented on #55
@felixonmars I don't have ready access to an Arch Linux VM.  Would you be able to do me a favor?  Could you try to manually test input redirection and see if it works?  Basically I want to know if the feature is working and there are just problems with the unit test or if the feature itself is broken.

If you start up a bare-bones example by just running ./cmd2.py out of a cloned GitHub repo as th

[2017-02-24 03:55] felixonmars commented on #55
[code]

It seems to work fine.

[2017-02-24 03:56] tleonhardt commented on #55
@felixonmars Thanks for the rapid feedback.  I'll work on getting an Arch Linux VM setup and will find a way to fix the unit test.

[2017-02-24 03:57] felixonmars commented on #55
Thank you :)

[2017-02-24 04:50] tleonhardt commented on #55
@felixonmars I setup an Arch Linux 2017.02.01 VM on a Mac using Parallels 12 and installed a completely minimal install (just base and base-devel) along with Python 3.6.0, six, pyparsing, pytest, mock, and git.  I git cloned this GitHub repo and all py.test unit tests passed, including the input redirection one.  I didn't even get to the point of installing a boot loader, I just tested it all out

[2017-02-24 04:56] felixonmars commented on #55
Latest Arch. This is strange. I have tested it with both pytest-runner and tox, on both my local machine and Arch's build machine, and this particular test failed in all cases.

[2017-02-24 05:04] felixonmars commented on #55
Just tried a hunter trace, and it seems the problem is that the path contains "-", and all chars after it are removed when trying to open the file:

[code]

This is then confirmed when I tried to use the full path on the interactive cmd2.py shell:
[code]

[2017-02-24 05:07] tleonhardt commented on #55
Ok.  That is interesting.  Thanks for the detailed trace!   I was considering just skipping that unit test on Arch.  But I'll look the underlying issue some more.

[2017-02-24 06:48] tleonhardt commented on #55
This appears to be a bug in our pyparsing grammar for parsing input redirection where we are accidentally treating a "-" in the path as the end of the string.  This bug has apparently always been there, but we recently added a unit test related to input parsing.

[2017-02-24 07:22] tleonhardt commented on #55
@felixonmars Would you please test out the fix on the "input_redirection_parsing_bug" branch on your system?

[2017-02-24 07:34] felixonmars commented on #55
It works fine here, thanks!

[2017-02-24 07:37] tleonhardt commented on #55
@felixonmars Thank you sir for the excellent bug reporting.  Your detailed trace made what was a subtle issue easy to find and fix.

[2017-02-24 07:37] #55 closed

[2017-02-24 22:05] tleonhardt opened #57 "Parsing unit tests should not depend on pyparsing implementation details"
Currently all of the unit tests which verify how the command line is parsed are tightly coupled with the details of the underlying pyparsing implementation.

These unit tests should be refactored in a way that they relate to how cmd2 parses the command line, but are not directly dependent upon this parsing being done by pyparsing in particular.

Once they are more generic, they could be used to he

[2017-02-25 17:04] tleonhardt commented on #36
We are going to put this on hold for now.  optparse is still in Python 3.6 and is there are currently no plans to remove it for Python 3.7.

[2017-02-25 17:07] tleonhardt commented on #57
PR #59 addressed this issue.

[2017-02-25 17:07] #57 closed

[2017-02-26 16:57] tleonhardt commented on #37
@FedericoCeratto
I've researched shlex a little bit and it looks like it could serve as a a viable replacement for pyparsing.

The advantages of using shlex over pyparsing would be:

- Reduce dependency on 3rd-party modules which aren't built into the Python standard library
- Likely a significant performance boost in terms of CPU time to parse

But moving to shlex would necessitate a non-backward

[2017-02-26 22:50] tleonhardt commented on #19
Perhaps adding a simple example for using cmd2 with a background thread for asynchronous feedback would be helpful.

[2017-02-26 22:52] tleonhardt opened #61 "It would be useful to have more examples"
Adding more, better, and more complicated / in depth examples which demonstrate the wealth of features present in cmd2 and the various ways cmd2 can be used in an application would likely be most helpful for new users.

[2017-02-27 18:57] tleonhardt commented on #19
After some more thought, cmd2 absolutely can be integrated into event loops.  We just haven't done a good job documenting how to do this or of providing and example for how to do it.

The basic gist of how to do this is:

`class Cmd2EventBased(cmd2.Cmd):
    ... your class code here ...

if __name__ == '__main__':
    app = Cmd2EventBased()
    app.preloop()

    # Do this within whatever event lo

[2017-03-03 16:36] tleonhardt opened #62 "allow_cli_args not properly disabling usage of Optparse to look for -t transcript testing arg"
Currently even if CLI args are disabled, cmd2 still tries to use OptParse to look for the "-t" flag which enables transcript testing.  This interferes with using something like ArgParse to handle command line arguments for the overall application.

The when the **allow_cli_args** attribute is False, it should disable ALL processing of command-line arguments, including the "-t" one passed for trans

[2017-03-05 00:47] #62 closed

[2017-03-06 17:01] #19 closed

[2017-03-10 19:24] tleonhardt opened #65 "Can't run Python scripts using "cmd" before entering an interactive Python session"
There is currently a bug in the py command where the "cmd" function present in the embedded Python console isn't defined until after an interactive python session is entered once.

The fix is very easy, just move the relevant code a little bit earlier in the do_py() function.

[2017-03-10 19:27] tleonhardt opened #66 "Quit command doesn't really quit when issued from within a python script"
In general, all cmd2 commands are scriptable within a Python script via "cmd('command args')".  However, since when running within a Python script we are actually within the do_py command, quit doesn't actually quit the cmd2 application.

The current behavior is non-intuitive.  Issuing a cmd('quit') should really quit.

Add code like the following to do_quit() and do_py():

[code]

[2017-03-10 20:03] tleonhardt opened #67 "The ability to recursively enter embedded interactive Python consoles considered harmful"
The ability to enter a 2nd interactive Python console within an existing one via "cmd('py')" isn't helpful and could be harmful.

Recommend detecting if running in an interactive console, bypassing running a new one, and printing an error with something like:

[code]

[2017-03-10 20:35] tleonhardt commented on #51
Adding this capability to the the simple ASCII-text scripts invoked via the **load** command or **@** shortcut would be very difficult.

However, we could make it easier for users to add conditional control flow to python scripts which can be run with the **py** command.

The main thing we would have to do is to add a standard way of storing off "results" from the last command and making it easy f

[2017-03-10 20:44] #65 closed

[2017-03-10 20:44] #66 closed

[2017-03-10 20:44] #67 closed

[2017-03-10 21:09] tleonhardt commented on #51
My idea to add something like this:

[code]

Then we can add an attribute called something like **self._last_result**, which can be used within Python scripts.  Users would have to make sure that the commands they care about scripting save their results to that self._last_result attribute.

[2017-03-11 15:40] #51 closed

[2017-03-11 23:17] tleonhardt opened #71 "Consider adding support for nested commands or subcommands"
Many REPL frameworks have support for multi-level commands, where the command has sub-commands.

While this can be done with cmd2, there isn't any built-in support to make it easy.

Consider adding some built-in support to make it easy to have nested commands or subcommands.

[2017-03-11 23:17] #61 closed

[2017-03-12 23:47] tleonhardt commented on #37
shlex is just a lexer, not a full parser.  So shlex is capable of doing a fine job of tokenizing the input.  But we would still need to write custom logic to properly parse the tokens.

[2017-03-17 01:25] tleonhardt opened #81 "Add example of using regular expressions in a transcript test"
The documentation states the following:

But the example we have for using transcript testing doesn't include any regular expressions.

Add an example for how to this to make it easier for users to take advantage of this feature.

Also, we don't appear to have any unit tests which use a transcript with a regular expression embedded within it.  So we should add one.

If the feature doesn't work, we

[2017-03-17 03:46] #81 closed

[2017-04-04 19:47] tleonhardt opened #83 "Pipe command output to shell command should not throw exception"
Currently, when piping the output of a command to a shell command with "|", if the command piped to returns a non-zero value, the cmd2 throws an exception.

We shouldn't throw an exception in this case.

[2017-04-04 23:02] #83 closed

[2017-04-18 12:06] ytfei opened #85 "How to switch previous command"
[code]

when I press arrow up, I expect to show the previous command (help), but just display `^[[A`. I guess it displayed what it read from keyboard event without processing.

[2017-04-18 23:19] tleonhardt commented on #85
@ytfei Can you provide any more information about the environment you are running in?  Knowing the operating system, version of Python, and terminal program you are using would be extremely helpful.

The ability to show the previous command by pressing the up arrow is handled by the Readline library or an equivalent.  If you are using a major Linux distro like Ubuntu, Debian, Mint, Fedora, Redhat

[2017-04-19 00:55] ytfei commented on #85
thanks @tleonhardt . I'm running in macOS, iTerm2.

And I've installed `readline (6.2.4.1)` with pip.

[code]

Python is installed with brew.

[2017-04-19 01:05] ytfei commented on #85
According to https://cmd2.readthedocs.io/en/latest/ I installed gnureadline

[code]

Still got `^[[A ` when i pressing the up arrow

[2017-04-19 01:17] tleonhardt commented on #85
@ytfei Interesting.  Your setup is pretty similar to mine actually.  I'm running on a Mac and use a mix of Python 3.6 and 2.7, both installed via Anaconda and switch between them using conda envs.  In both cases, cmd2 and readline function nicely together.

Can you try going into a python/ipython shell and do this:

`Python
import readline
readline._READLINE_VERSION
`

[2017-04-19 01:26] ytfei commented on #85
well, seems `readline` couldn't work.

[code]

[2017-04-19 01:34] tleonhardt commented on #85
That looks like you have the Python readline module installed but not the C library which it relies on.

I've found using pip on a Mac to be unreliable unless you also have GCC installed via Homebrew.  I typically use Python installed via the Anaconda distort and then use the conda package manager which comes with it for installing packages whenever possible.  This has given me a much happier Pyth

[2017-04-19 01:38] tleonhardt commented on #85
Oh duh, you are already using brew.  Did you try "brew install readline" to install the C lib?

[2017-04-19 03:31] ytfei commented on #85
Thanks very much @tleonhardt . I finally fixed it with your help.

The problem is i had two `readline` lib installed (6.3.8, 7.0.3_1) and the default one was set to `7.0.3_1`. but when i execute `import readline`, it always looking for 6.3.8 which is not in the lib path.

[2017-04-19 03:31] #85 closed

[2017-04-19 11:28] tleonhardt commented on #85
Your welcome @ytfei.  Glad your problem is solved.

By the way, if your native language is not English, you may wish to use cmd2 with Python 3 as that way you will get full unicode support.

[2017-04-26 17:21] tleonhardt opened #86 "Transcript testing isn't calling preloop or postloop"
When running with transcript testing, preloop() isn't getting called before the testing and postloop() isn't being called afterwards.

These should be called to handle required initialization and cleanup, respectively.

[2017-04-26 17:34] #86 closed

[2017-04-26 17:43] tleonhardt opened #88 "Transcript tests create apparently unnecessary 2nd instance of cmd2.Cmd class"
Transcript testing creates a 2nd instance of the class derived from cmd2.Cmd.  This appears to be unecessary and done primarily for redirecting stdout.

This should probably be handled in a better and more efficient way which doesn't require creating a second instance.

[2017-04-26 19:59] #88 closed

[2017-05-03 22:32] tleonhardt opened #90 "Consider alternative readline imports for OS compatibility"
Mac OS X ships with libedit instead of libreadline.  libedit doesn't work well with Python's readline module.  So a user either needs to use homebrew to install GNU readline or they need to use pip to install the gnureadline module which is a version of Python's readline module which is statically linked to the GNU readline library.

So to help with Mac OS X compatibility for users that have gnure

[2017-05-03 23:52] #90 closed

[2017-05-12 01:45] tleonhardt opened #92 "GNU Readline goes haywire if prompt contains ANSI color codes"
If at any point the cmd2 prompt gets changed to involve anything involving color via ANSI color escape codes, then the behavior of readline when the up and down arrows are pressed gets really messed up.

This is due to a bug in how GNU Readline calculates the prompt length when the Python3 input() or Python2 raw_input() methods are called.  This article has more info:
https://bugs.python.org/issue

[2017-05-12 02:17] #92 closed

[2017-05-16 13:06] tleonhardt opened #94 "Local path completion wanted"
It would be nice for commands which interact with the local file system such as **edit**, **load**, and **shell** to have built-in tab completion based on file system paths.

[2017-05-16 13:21] #94 closed

[2017-05-16 17:30] tleonhardt opened #96 "Add final separator for path completion"
For the commands which support local file system path completion, in the case where there is a single result and that result is a directory, it would be convenient if the completion function automatically added in the trailing path separator.

[2017-05-16 17:57] #96 closed

[2017-05-17 02:58] tleonhardt opened #98 "Shell command completion wanted"
For the ``shell`` command or equivalent shortcut ``!``, it would be nice if executable command completion worked for the name of the external shell command similarly to how it works in Bash.

[2017-05-18 01:38] #98 closed

[2017-05-18 14:59] tleonhardt opened #100 "Shell command completion not working on windows"
Completion of shell commands isn't working on windows, though path completion is working just fine on Windows and shell command completion is working on fine on both Linux and Mac.

[2017-05-18 15:07] #100 closed

[2017-05-19 15:40] brainbarker opened #102 "Abbreviations of multiline commands do not accept multiple lines"
After adding a command to Cmd.multilineCommands, only the full name of the command accepts multiple lines. Abbreviations of the command still work, but only accept a single line.

Example:
[code]

The output:
[code]

[2017-05-20 06:42] tleonhardt commented on #102
@brainbarker Thanks for the detailed bug report with a good explanation of how to reproduce the problem.

So I took a close look at how everything works under the hood and I can't see any easy way to fix this perfectly.  The parsing logic which determines if a command is a multiline command or not is dependent on the full command name.  The logic which accepts abbreviated command names when it is

[2017-05-22 00:10] tleonhardt commented on #102
This was closed by #103

[2017-05-23 14:59] brainbarker commented on #102
Well, certainly not an ideal solution. It seems like it would be more
flexible if the choice of which parser to use was made after the command
itself (the actual do_ method to be called) had already been identified.
Since multiple command words (the base and any unique abbreviations) can
map to the same do_ method, you really need that information first. Perhaps
if the parsing was a two-step proce

[2017-05-23 16:44] catherinedevlin opened #105 "Refactor out boilerplate methods"
We'd like to get "boilerplate" methods, which writers of cmd2-based apps don't need to see or touch, moved off into separate objects.  Then the Cmd app can be instantiated with links to objects containing those infrastructure methods.

I've made a preliminary map of themes to break out Cmd2 methods into.

[code]

[2017-05-23 17:24] tleonhardt commented on #102
@catherinedevlin What do you think about this issue?  You have a lot more experience with the parsing side of things.

I put in a quick-and-dirty kludge to simply disallow abbreviated multiline commands.

How difficult do you think it would be to get abbreviated multiline commands to work properly?

[2017-05-23 17:28] tleonhardt commented on #105
Thanks for documenting this!  As we discussed, some of this will likely require refactoring the runtime settings into their own shareable object so that other objects that need access to runtime settings can all get to them.

[2017-05-23 17:31] tleonhardt opened #106 "Problem using ~ when doing path completion for shell commands"
There is a minor bug using tilde (**~**) for user path completion specifically for path completion of shell commands.

[2017-05-23 17:51] tleonhardt commented on #106
This was closed by #107

[2017-05-23 17:51] #106 closed

[2017-05-27 16:05] tleonhardt commented on #102
@brainbarker I like your idea of having the multiline capability be a decorator on the do_* method instead of a global list of command words.

I you have a good idea of how to get multiline command functionality working in a way that you would like, please feel free to submit a Pull Request.  I would be happy to work with you on this.

[2017-05-30 02:59] tleonhardt opened #109 "Add some unit tests related to tab completion"
A bunch of tab completion features got added recently, for completing local file system paths and OS commands.  No unit tests were added with them.  It would be nice if a few unit tests were added related to these features.

[2017-06-01 22:24] tleonhardt opened #111 "Add ability to exclude some commands from help menu"
It would be nice to be able to explicitly exclude certain commands from being included in the help menu.

For example, the **eof** "command" shouldn't ever show up in the help menu.  This isn't something an end user would ever really want to manually enter as a command, but is something that will be encountered while running a script or when <Ctrl>-d is pressed.

It would be nice to include a memb

[2017-06-02 00:28] tleonhardt opened #112 "history and list commands are largely redundant"
The **history** and **list** commands largely have the same basic functionality of displaying commands from the history.

There is a partial overlap in the functionality where they both support some of the same features.  But each also has at least one feature that the other doesn't have.

It would probably be more convenient for end users to combine all of the functionality into one common **hist

[2017-06-02 00:30] tleonhardt opened #113 "set and show commands are largely redundant"
The **set** command automatically calls the **show** command if called without any arguments.

Thus, the show command is largely superfluous.  The current functionality present within show could still exist as a helper method, it just doesn't need to be its own separate command.

[2017-06-02 17:33] #111 closed

[2017-06-03 16:05] tleonhardt commented on #113
Upon further inspection, while they are somewhat redundant, they are logically distinct and I don't see a trivial way to do away with one of them.  So I'm going to close this issue.

[2017-06-03 16:05] #113 closed

[2017-06-03 19:02] brainbarker commented on #102
Sounds like a good plan. Let me ponder it for a bit and get back to you when I have a workable idea.

BTW, there was another issue I was having that I haven't posted yet. As far as I can tell, the two ways of handling command "help", the help_ methods and the @Options help system, do not work together. I'll post a code example, but if you use the @Options decorator, your help_ methods no longer ge

[2017-06-03 21:26] #112 closed

[2017-06-04 00:35] tleonhardt commented on #102
Brian,

For **@options** commands, help for those commands is handled by the **print_help** method within the **OptionParser** class in cmd2.

The **print_help** function first prints out the docstring for the associated **do_** method and then prints out the Optparse help for that command.

It would be relatively easy to allow it to search and see if  a **help_** method exists and delegate to tha

[2017-06-04 13:05] brainbarker commented on #102
I was hoping it would be easy to fix from within the module. I just couldn’t get it to work without changes to the cmd2 code.

Below is some code from my current project, showing some of what I was trying to do with help and options. Every command’s help_ method provides three different kinds of output: Terse help, verbose help, and the usage information. Since they all do the same thing, they all

[2017-06-04 23:30] tleonhardt opened #116 "Unhandled exception in history command introduced by recent changes"
A bug was introduced by the recent changes which merged the list functionality into the history command.

When attempting to do a span of history indices, an index error can occur and that exception needs to be caught and default history behavior needs to occur at that point instead.

[2017-06-05 00:05] #116 closed

[2017-06-09 19:25] tleonhardt opened #118 "Local path tab completion not working for paths with a dash in them"
Local path tab completion is not working for paths with a dash "-" in them.

[2017-06-09 21:39] #118 closed

[2017-06-13 00:57] tleonhardt opened #120 "Transcript testing prints errors twcie"
Transcript test failures end up printing the failure twice.

[2017-06-13 13:17] #120 closed

[2017-06-13 17:29] tleonhardt opened #122 "py command needs try/except/finally"
The py command needs a finally block which guarantees the "self._in_py" state variable gets reset to False in the end, even if an exception occurred.

[2017-06-13 17:32] tleonhardt opened #123 "Add ability to pass arguments to a Python script"
The **py** command supports running a Python script via "py run('script.py')".  However, it does not currently support the ability to pass any arguments to the script.

This functionality would be a lot more flexible and reusable if arguments could be passed to the script.

So either either enhance the current py command with the ability to run a script with arguments or add a new command which su

[2017-06-13 18:17] #122 closed

[2017-06-13 19:04] #123 closed

[2017-06-13 20:13] tleonhardt opened #126 "pyscript command should pass an expanded absolute path to the py('run()') command"
The new **pyscript** command should pass expand the script path before passing it to the **py run()** command.

This will enable using **~** user path expansion in the path to a Python script.

[2017-06-14 00:26] #126 closed

[2017-06-15 01:10] tleonhardt commented on #102
@brainbarker From looking at what you are trying to do regarding help, I think your best bet might be to override the **options** function which implements the **@options** decorator.

The line within it which looks like the following is what is actually setting the doctoring (and hence the help) for the returned function:

[code]

You could modify that do do something else.  If your decorator-fu

[2017-06-15 22:27] tleonhardt opened #129 "Add a space after command name when tab-completing commands"
It would be a minor but welcome convenience if tab-completing a command name added a space after the name.

[2017-06-15 22:45] #129 closed

[2017-06-16 16:15] tleonhardt opened #132 "Remove extra help_* methods for maintainability"
Currently there are several help_* methods which don't really need to exist and are just adding some maintenance headache.  They could be replaced with docstrings for the associated do_* method.

[2017-06-16 18:04] #132 closed

[2017-06-21 08:39] mgiaco opened #135 "Is this the right module for me?"
Hello,

For a project I  need  a Command interpreter which runs some commands one after on from a file. So it should be possible to load a speciall command file. And then the interpreter should interpret every command in that file.  I do not need any user interaction. I only need some automation so open the file and run it.

The file is:
[code]
So every command should end in a callback and if the

[2017-06-21 10:40] tleonhardt commented on #135
Hi @mgiaco,

cmd2 can easily do everything you need (plus a whole lot more).  The built-in **load** command runs commands one after another from a file.  It can be run directly from the interactive mode.  Alternatively, this can even be run directly from the command line.  Lets say your application which contains a class which inherits from cmd2.Cmd is in the file **project.py**, you can load and

[2017-06-21 12:27] tleonhardt commented on #102
@brainbarker I'm going to close this issue for now.  Please feel free to submit a Pull Request for either of the issues we have discussed.

[2017-06-21 12:27] #102 closed

[2017-06-21 14:00] mgiaco commented on #135
@tleonhardt  many thanks. Okay so it is also possible to add some timed control flow. So run the interpret in a separated thread and each command should be interpreted with a timeslice of 1 second should be possible with some custom code.

thx

[2017-06-21 15:23] tleonhardt commented on #135
@mgiaco Yes, it is possible to add timed control flow via Python scripting and the **pyscript** command.  Your commands can spawn off a background thread to do work and your Python scripts can do whatever processing you wish.  I do this sort of thing on a regular basis for the apps I design based on cmd2.  You need to write the custom code for where and how data from your asynchronous commands get

[2017-06-21 16:17] mgiaco commented on #135
Okay many thanks. But what do you mean with pyscript => I only know pyscript as a module for postscript.
Can I found any code sample?

[2017-06-21 16:29] tleonhardt commented on #135
**pyscript** is a command built into the cmd2 framework which allows you to run Python scripts within a cmd2 application.  These scripts can run custom cmd2 commands and be used to automate conditional control flow.

See the **python_scripting.py** example cmd2 application:
https://github.com/python-cmd2/cmd2/blob/master/examples/python_scripting.py

And look at the **conditional.py** example Pyth

[2017-06-23 03:37] tleonhardt commented on #135
@mgiaco I'm going to close this issue since there isn't a bug or feature request associated with it.  If you have any more questions, please feel free to ask.

Good luck!

[2017-06-24 14:24] amotoki opened #137 "cmd2 0.7.3: cmd2.Cmd.completenames breaks existing users"
cmd2 0.7.3 now overrides completenames() method from cmd.Cmd and it requires consumers to pass 5 arguments. It is backward-incompatible change and breaks existing consumers.
One example affected is python-cliff. https://bugs.launchpad.net/python-cliff/+bug/1700250

[2017-06-24 14:46] tleonhardt commented on #137
@amotoki Thank you for bringing this issue to my attention.

The new method signature matches what actually gets passed from readline and some of the new arguments are used to provide a welcome convenience to the end user.  It is unfortunate that the implementers of cmd chose to originally design this method in a fashion which isn't fully compatible with readline.

The ``completenames`` method sho

[2017-06-24 15:09] tleonhardt commented on #137
@amotoki I'm not that familiar with cliff, but another thing to potentially watch out for in the 0.7.3 release of cmd2 is the one change which was intentionally backwards incompatible.  See the "warning" in the release notes for more info:
https://github.com/python-cmd2/cmd2/releases/tag/0.7.3

In summary, for all commands defined which use the **@options** decorator for OptParse argument parsing,

[2017-06-25 17:58] tleonhardt opened #140 "Issues with get_paste_buffer() and write_paste_buffer() on macOS and Linux"
The ``get_paste_buffer`` function doesn't work at all on macOS.

The ``get_paste_buffer`` and ``write_paste_buffer`` functions don't work correctly for Python 2.7 on macOS and Linux (but works fine for with Python 3 on these OSes).

The fix for ``get_paste_buffer`` on macOS should be pretty simple, just use the **pbpaste** command-line function instead of **pbcopy**.

The Python 2 vs Python 3 issu

[2017-06-25 20:34] tleonhardt commented on #140
This was closed by #141

[2017-06-25 20:34] #140 closed

[2017-06-25 21:30] tleonhardt commented on #137
@amotoki From what I can see from the cliff bug report, this isn't an issue with cmd2 and some minor changes to cliff unit tests will fix the problem.

So I'm going to close this issue.  If my understanding is wrong, please let me know and I can re-open it.

[2017-06-25 21:30] #137 closed

[2017-06-28 19:21] tleonhardt opened #142 "Remove features from cmd2 which probably don't belong there"
There are a number of features currently present in ``cmd2`` which seem like they probably should not be present in a generic framework for creating interactive command line applications.  Instead these features should probably exist in wrapper code present in specific applications which lie on top of ``cmd2``.

Features included in this ticket include:

- loading scripts from URLs (as opposed to

[2017-06-28 23:05] #142 closed

[2017-06-29 00:40] tleonhardt opened #144 "Sometimes can_clip is False on Linux even when xclip is present"
There is some sort of subtle bug, perhaps timing related, in how the ``cmd2.can_clip`` global variable gets set on Linux systems.  Sometimes when ``cmd2`` is imported it gets set to False even when **xclip** is present.  The behavior has some randomness to it, where even on the same system sometimes it is True and other times False.

The code related to this should be refactored to make it reprodu

[2017-06-29 02:02] #144 closed

[2017-06-29 16:42] tleonhardt opened #147 "StubbornDict class appears to be unecessary"
It looks like StubbornDict is used only to construct and setup the self.settable custom dictionary.

It seems like a collections.OrderedDict can handle this purpose without needed to define a custom class.  This would cleanup and simplify the codebase a tiny bit.

[2017-06-29 17:05] #147 closed

[2017-06-30 16:19] tleonhardt opened #151 "Explore replacing custom clipboard code with pyperclip"
``cmd2`` has a good chunk of code which enables copying to and pasting from the OS Clipboard/PasteBuffer.  This code is rather limited in that on Windows it requires pywin32 extensions and on Linux it requires xclip.

The [pyperclip](https://github.com/asweigart/pyperclip) modules appears to be a good cross-platform solution for clipboard functionality which is much less limited.

While this would

[2017-06-30 17:08] tleonhardt opened #152 "Better error checking for load command"
It would be nice if the ``load`` command had a little bit better error checking and reporting.  Ideally it would check to make sure it is a text file, either ASCII or UTF-8 encoded.  It should provide the user with a good informative error message based on why it can't load a script, including cases such as:

- File doesn't exist or is not a file
- File is empty
- File isn't an ASCII or UTF-8 enco

[2017-06-30 19:24] tleonhardt opened #154 "Refactor shell command to use cmd2 stdout"
Currently the ``shell`` command (or ``!`` shortcut) is implemented using ``os.system()``.  This doesn't allows passing the cmd2.stdout to the other process.  One implication of this is that as it is currently implemented, the output of shell commands in cmd2 cannot be piped to other shell commands using ``|`` or redirected to a file using either ``>`` or ``>>``.  It also makes unit testing of shel

[2017-06-30 20:31] #152 closed

[2017-06-30 23:46] #151 closed

[2017-07-01 20:50] #109 closed

[2017-07-02 00:04] tleonhardt opened #161 "pyscript broken on Windows"
pyscript is broken on windows when certain absolute paths are used.

When a path such as "C:\Users\my_script.py" is used with the pyscript command on Windows, the "\U" is treated as a Unicode Escape.

This can be fixed by using a raw/repr form which adds escapes for backslashes.

[2017-07-02 00:55] tleonhardt commented on #161
This was closed by #162

[2017-07-02 00:55] #161 closed

[2017-07-02 16:04] tleonhardt commented on #154
This was closed by #163

[2017-07-02 16:04] #154 closed

[2017-07-05 03:25] felixonmars opened #171 "test_path_completion_user_expansion fails when $HOME is /"
[code]

[2017-07-05 13:06] tleonhardt commented on #171
@felixonmars Could you please provide more information regarding the specific environment you encountered this problem in including OS name and version and Python version?

I tested this on the following setups and was unable to reproduce the problem ( and I both tried manually exporting HOME to be "/" and hard-coding the user_dir in the unit test to be "/" just to be sure):

- Debian 8.8 with Pyt

[2017-07-05 15:40] tleonhardt commented on #171
@felixonmars Thanks for the bug report!

I have now managed to reproduce the issue on my end.  The problem occurs when we expand a user path and there is only a single tab-completion result.  We will look into it further and work on a fix.

Thanks again for finding this subtle issue!

[2017-07-05 16:08] tleonhardt commented on #171
After looking into the issue some more, this is a bug in our unit test itself.  The actual behavior at the command-line works as intended.

I will push a fix for this shortly.

[2017-07-05 16:14] #171 closed

[2017-07-05 17:07] tleonhardt commented on #171
@felixonmars If you can pull the last commit and test it on your end, I would appreciate it.

Thanks again!

[2017-07-06 01:29] tleonhardt commented on #71
There are a wealth of existing modules which support parsing sub-commands including:
- argparse:  https://docs.python.org/3/library/argparse.html
    - probably the most common framework used for sub-commands in Python
    - ArgumentParser.add_subparsers
- click:  http://click.pocoo.org/5/
   - clean decorator-based framework
- docopt:  https://github.com/docopt/docopt
    - Define the argument pa

[2017-07-06 01:44] felixonmars commented on #171
Confirmed the fix, thanks so much :D

[2017-07-06 12:01] mgiaco commented on #135
@tleonhardt
Hey Todd,

So now I need to implement that stuff what I asked. So first I try a little example.

[code]

And the file test.cmd

[code]

So I feed the jobs to the cmdqueue and run the loop. Is there a better way to go? Is it possible to:

feed the queue
start/run the queue
and if the queue is empty ... do nothing i do not need to run the queue.
Or can i stop the cmdloop in a way feed th

[2017-07-06 12:47] tleonhardt commented on #135
@mgiaco
Hey Mathias,

If you want to run a script at time of application invocation, you can directly pass arguments such as a load command on the command line like so:
[code]
Or equivalently:
[code]

In either case you don't need to manually feed the cmdqueue so the bottom of your script can just be:
[code]

If you want to do something more complicated or exotic, you can manage your own event loo

[2017-07-06 13:30] mgiaco commented on #135
Okay that's also a nice feature which i will use. But the second use case is: The app runs I receive a file over a network stream. Once the transmitted file is completed I will start the automation of that file.

Ah okay ... So that means I have to implement the timed flow by myself okay sounds good. With that it should also be possible to change the timing in the flow of the commands. Something l

[2017-07-06 13:31] #135 closed

[2017-07-06 14:42] tleonhardt commented on #135
If you come up with an example you are happy with, please feel free to submit a Pull Request and add it to the examples directory.

And yes, feel free to come back here for questions.

[2017-07-08 15:06] tleonhardt opened #176 "load command should populate cmdqueue instead of spawning nested _cmdloop"
Currently the ``load`` command creates its own **_cmdloop()** main loop which is running nested within the primary **_cmdloop()** main loop.

This is confusing and unnecessary.  The ``load`` command can simply read the file and append all lines to the ``self.cmdqueue`` list which is already used by the **_cmdloop()** method.

A little bit of extra plumbing will need to be added to keep track of th

[2017-07-08 15:47] tleonhardt commented on #176
This was closed by #177

[2017-07-08 15:47] #176 closed

[2017-07-11 01:20] tleonhardt opened #186 "Extraneous output from pyperclip on Linux when using Python 3 and xclip"
Currently when importing ``cmd2`` on Linux with Python3 when pyperclip is using xclip under the hood, there is some extraneous output when attempting the paste from an empty clipboard which says: "Error: target STRING not available".

This output comes from the **xclip** command-line application and is occurring because when pyperclip calls xclip via a suprocess.Popen() call, it is redirecting std

[2017-07-11 01:59] #186 closed

[2017-07-12 15:43] mgiaco commented on #135
Hi,

So are you sure I can run the command on startup? I have tried it but it does not work for me.

[code]

test.cmd

[code]

I run:

[code]

I only see the command line but no running commands.
What I am doing wrong here?

[2017-07-12 23:32] tleonhardt commented on #135
What you have done wrong is to set ``self.allow_cli_args`` to ``False``.  This is telling it to not allow you to pass in commands at the command-line.

Set that variable to ``True`` (or just don't set it since it is ``True`` by default) and you will be able to pass in commands on the command-line.

[2017-07-13 00:02] tleonhardt opened #188 "Case-sensitive command parsing is broken"
When ``cmd2.Cmd.case_insensitive`` is ``False``, then parsing is completely broken.

``statement.parsed.command`` ends up containing a list of strings instead of a single string.

I'm not sure if this has been broken for a long time or if recent refactoring of the parsing logic into a ParserManager accidentally broke this feature.

[2017-07-13 00:42] #188 closed

[2017-07-13 06:39] mgiaco commented on #135
Oh .. sorry :-)

[2017-07-13 16:34] tleonhardt opened #190 "Add case-insensitive tab-completion of command names"
When ``case_insensitive`` is ``True`` (the default), then it would be nice to support case-insensitive tab-completion of cmd2 command names.

[2017-07-13 16:48] #190 closed

[2017-07-29 18:00] vvalien opened #194 "Remove unused commands"
Would like a option to remove all the included commands that I don't need for instance with this simple example.

[code]

I by no means need all the rest of this stuff in the psudo shell, and would only like the ones I define.

[code]

This might be possible already but I couldnt find a way to do it.

Thanks

[2017-07-31 14:30] tleonhardt commented on #194
@vvalien Thanks for your good question.  It prompted me to add an new example "remove_unused.py".  What you want is already possible.  Code from new example is here:

[code]

You can hide commands from displaying in the help menu by adding them to the ``exclude_from_help`` list.  These commands will still exist, they just won't display in the main help menu.

You can remove unwanted commands entir

[2017-07-31 14:32] #194 closed

[2017-08-02 18:12] tleonhardt opened #195 "transcript testing works poorly when prompt can contain ANSI escape codes"
The transcript testing feature is a pain to use and works poorly when ANSI escape codes can be used within a prompt to colorize it and such.

In order to make transcript testing easier to use and more reliable, it would be better for transcript testing to strip ANSI escape codes both from the current prompt and from the current line in the transcript when comparing to the prompt.

[2017-08-02 18:52] #195 closed

[2017-08-08 02:03] tleonhardt opened #197 "Improve how command output gets piped to shell command"
Currently the way piping command output to a shell command is implemented, a temporary file is used as an intermediate.

It would be better if a real pipe were used.  However doing so in a manner which works consistently and reliably across all OSes and versions of Python may be non-trivial.

[2017-08-08 12:34] niwred opened #199 "cmd2 0.7.5 on python 3.5 bails out if EDITOR environment variable is not set"
File "./wesadmin.py", line 3, in <module>
    from lib.admin_interpreter import AdminInterpreter
  File "/home/U805316/projects/wesadmin/lib/admin_interpreter.py", line 5, in <module>
    import cmd2
  File "/usr/lib/python3.5/site-packages/cmd2.py", line 386, in <module>
    class Cmd(cmd.Cmd):
  File "/usr/lib/python3.5/site-packages/cmd2.py", line 428, in Cmd
    if _which(editor):
  File "/usr

[2017-08-08 13:11] tleonhardt commented on #199
@niwred Thanks for the bug report.

I would appreciate some additional information so I can reproduce and fix this issue.   Most importantly, **what operating system** (name and version) did this occur on?  Secondly, what version of Python 3.5 (i.e. 3.5.3?  3.5.0?).

Is the original application which you encountered the bug in something you could share to help me quickly reproduce it?

Thanks in a

[2017-08-08 15:22] niwred commented on #199
BTW: exact versions:

Python 3.5.3 on CentOS 7.3.1611 (Core)

Von: Erwin Richard
Gesendet: Dienstag, 8. August 2017 17:18
An: 'python-cmd2/cmd2' <reply@reply.github.com>
Betreff: AW: [python-cmd2/cmd2] cmd2 0.7.5 on python 3.5 bails out if EDITOR environment variable is not set (#199)

Hi Todd

Thanks for contacting me and thanks a lot for your work on this module!

I’m writing a little inhouse op

[2017-08-08 15:29] tleonhardt commented on #199
@niwred Thanks for the update on OS and Python versions.

Is it just stock CentOS 7.3 with Python 3 and Python 3rd-party packages installed from the CentOS repos using yum?  With cmd2 installed with pip?

If so I'll create a CentOS VM later today and try to reproduce this issue.

I've worked extensively on various versions of Debian and Ubuntu with Python installed both from apt-get repos and from

[2017-08-08 15:31] niwred commented on #199
see example in my prev. comment.
I don't know exactly how the integration machine is set up it's not really under my control. cmd2 installed with pip.

[2017-08-08 16:27] niwred commented on #199
@tleonhardt had a brief look at the code and seems to me that the problem stems from an unclean installation of python 3.5 on that system.  a simple

subprocess.check_output(['which','vi'])

produces the same error. so its not cmd2 related.
Strange thing is that I didn't see any other problems with with testing my application so far. (and it uses quite a bunch of libraries). Sorry to have bothered

[2017-08-08 16:27] #199 closed

[2017-08-08 16:44] tleonhardt commented on #199
@niwred Thanks for looking into this issue further and closing it once you verified it wasn't cmd2 related!

It is no bother at all.  I would much rather be made aware of a potential issue than not.

Good luck to you.

[2017-08-08 20:44] #197 closed

[2017-08-10 13:18] tleonhardt opened #201 "Extraneous output at start for Python 2.7 on Linux"
There is an extraneous line of output for Python 2.7 on Linux when Pyperclip is using xclip under the hood and the clipboard is empty.

[2017-08-10 13:35] tleonhardt commented on #201
This was closed by #202

[2017-08-10 13:35] #201 closed

[2017-08-10 15:57] mgiaco commented on #135
@tleonhardt

What is the best way to extend a running python Qt app with cmd2? I think adding a thread and run cmdloop() in that thread did not work.

many thanks

[2017-08-10 16:08] tleonhardt commented on #135
@mgiaco
Since cmd2 is fundamentally a command-line (i.e. terminal) application, you need a way to have a terminal embedded within your PyQt GUI application.  How to do that is really a PyQt question.  I'm not super-familiar with PyQt, so I'm probably not the guy to answer it for you.  But maybe this StackOverflow post will be helpful:
https://stackoverflow.com/questions/29112349/how-to-use-a-termi

[2017-08-14 20:38] soggysec opened #205 "asynchronous messages blocking until a key is pressed"
I'm having an issue printing asynchronous messages while using cmdloop(). I have a CLI, and a threaded server that should be able to print messages as it receives them. On Ubuntu 16.04 x64, the asynch messages are printed as expected, but on both Debian 8 and Kali the buffer doesn't seem to flush until a key is pressed. As soon as any key is pressed, the expected messages are printed.

[2017-08-15 00:42] tleonhardt commented on #205
@soggysec Thanks for the issue report.

If you could provide us with some additional information, it would likely be helpful.  First and foremost, what exact version of Python are you using on each of the OSes you mentioned?  Also, what version of readline is installed on each of those OSes?

Additionally, what command are you using to print these messages?

I've used **cmd2** with both asynchrono

[2017-08-15 14:23] soggysec commented on #205
@tleonhardt - Thanks for the response! I would love to see the @kmvanbrunt example, as I haven't quite ruled out the locking issue like you've described. The thing pointing me towards believing it was cmd2 is that the issue came about once I upgraded from an older version.

Python: 2.7.13

1792
$ dpgk -l | grep readline
libreadline7:amd64 7.0-3

As for command to print out messages, I've tried bot

[2017-08-15 15:19] kmvanbrunt commented on #205
@soggysec - I'll try to get an example posted this evening.
Out of curiosity, does calling sys.stdout.flush() after your call to print() make the output appear without having to press a key?

[2017-08-15 15:21] soggysec commented on #205
@kmvanbrunt Nope. flushing hasn't changed the result. I also tried running it with python -u, which apparently removes buffering, but it did not help either.

[2017-08-15 21:12] soggysec commented on #205
Hey guys, here's an almost equivalent of what I'm trying to do, and what's failing. On Kali and Debian 8, but works on Ubuntu 16.04. I copied two different samples online and smashed their parts together:

`'''A sample application for cmd2.'''

from cmd2 import Cmd, make_option, options, set_use_arg_list
import time

class CmdLineApp(Cmd):
    def __init__(self):
        self.multilineCommands = [

[2017-08-15 21:47] kmvanbrunt commented on #205
OK, I've narrowed this down to strange behavior between Python 2's raw_input() function and pygtk.

cmd2 imports the pyperclip module, which imports gtk if it exists on the system. I'm guessing that your Ubuntu system does not have Python gtk installed, so pyperclip  is using a fallback method for its clipboard functionality.

For some reason, if gtk is imported, then no printing will occur when r

[2017-08-15 22:11] soggysec commented on #205
Wow, what a strange bug. So that seems to make my sample program work, but now my real application is bailing immediately after cmdloop.

My code looks like the following

`
class MyClass(Cmd):
       def __init__(self):
         self.prompt = "> "
         Cmd.__init__(self)
         self.allow_cli_args = False
         self.use_rawinput = False
`
 as soon as cmdloop is called, it exits.

[2017-08-15 22:29] tleonhardt commented on #205
@soggysec I tried making a minimal app like you suggested:

[code]

In this case the cmdloop() runs as expected.  Can you share the complete example where ``cmdloop`` is exiting as soon as it is called (or a scaled-down demonstration which we can use to reproduce that issue)?

However, readline tab completion is totally broken.  We will look into this issue some more and see if we can't find a bet

[2017-08-15 22:34] soggysec commented on #205
Ah, I was just going to say. I found an issue in my code that was causing it to bail, but now the tab-completion is broken. If that's as-expected, that's a bit rough. What version would you recommend to still have tab-completion, but not have the pygtk bug?

[2017-08-15 22:37] tleonhardt commented on #205
@soggysec So the tab-completion not working when ``use_rawinput`` is ``False`` probably **is** either a ``cmd2`` bug or a ``cmd`` bug.  I'll look into it and probably create a new issue for that.

If you have the option of using Python 3, then things should probably work ok for you with that and leaving the default value of ``True`` for ``use_rawinput``.  To the best of my knowledge, the ``pygtk``

[2017-08-15 22:42] soggysec commented on #205
Unfortunately Python3 is a ways out for us. We are hoping to transition, but not quite ready, yet. Please let me know if you create an issue for this, so I can follow along.

I'm also seeing an extra newline coming after the prompt, but I haven't looked into it fully, and it could be an issue on my end. I'm setting self.prompt = "> ", but when it's printed, I'm getting a:

<new text goes here>

I

[2017-08-15 22:50] tleonhardt opened #206 "tab completion broken when ``use_rawinput`` is set to ``False``"
If the ``use_rawinput`` attribute is set to ``False`` so that Python 3's builtin ``input()`` function (or Python 2's ``raw_input()`` function) isn't used for reading user input and basic ``readline`` is used instead, then tab completion is broken.

[2017-08-15 22:50] tleonhardt commented on #205
@soggysec I created #206 to track the issue of broken tab completion when ``use_rawinput`` is ``False``

[2017-08-15 22:55] tleonhardt commented on #205
Just to summarize for a TLDR:

This is a bug in ``pygtk`` in Python 2 (but not Python 3) exposed by ``cmd2``'s dependency on ``pyperclip``.  It only occurs when all of the following conditions are true:

- OS = Linux
- Python version = 2.7
- pygtk is installed
- cmd2 version >= 0.7.4

[2017-08-15 22:55] kmvanbrunt commented on #205
@soggysec
This is kind of a hack, but it appears to work and it does not require setting use_rawinput, so tab completion is not broken.

Put this after you import cmd2.

[code]

[2017-08-15 22:57] tleonhardt commented on #205
@soggysec

I like @kmvanbrunt recommended hack.  I think that is likely to be a good solution for you.  We may even incorporate that into ``cmd2`` as a proactive workaround.

Another possibility would be to run your application in an environment where ``pygtk`` isn't installed, possibly a **virtualenv** where you carefully control the Python modules installed.

[2017-08-15 22:58] soggysec commented on #205
Excellent, I'm out for a while, but I will give this a shot later tonight.

The virtualenv is another interesting idea. I'll try both!

Sent from iPhone
________________________________
From: kmvanbrunt <notifications@github.com>
Sent: Tuesday, August 15, 2017 6:55:54 PM
To: python-cmd2/cmd2
Cc: soggysec; Mention
Subject: Re: [python-cmd2/cmd2] asynchronous messages blocking until a key is pressed

[2017-08-15 23:00] kmvanbrunt commented on #205
Also, I tested clipboard functionality using the hack and it worked fine.

[2017-08-15 23:07] tleonhardt commented on #205
@kmvanbrunt I realize the hack doesn't "belong" in ``cmd2`` code, but what do you think about us putting it there for now at least and maybe submitting a PR to ``pyperclip`` as well?

At least that way other users would be prevented from running into this problem.

[2017-08-15 23:12] tleonhardt commented on #205
I created a related issue in the GitHub page for ``pyperclip`` at:
https://github.com/asweigart/pyperclip/issues/101

[2017-08-15 23:18] kmvanbrunt commented on #205
@tleonhardt Sounds good, but fix the Python comment in that ticket. I wrote it poorly the first time. It should be something like:

[code]

[2017-08-15 23:29] tleonhardt commented on #205
Ok, I'll submit a PR shortly to add this workaround to ``cmd2``.

I fixed the comment in the ``pyperclip`` issue.  I'll submit a PR to ``pyperclip`` as well, but I'm not sure how frequently the maintainer of that module looks at PRs.

[2017-08-15 23:53] #205 closed

[2017-08-16 00:00] tleonhardt commented on #206
This appears to be a bug in Python's built-in ``cmd`` module itself.  Moreover it is one which apparently exists in all versions of Python and on all OSes.

I'll experiment a little bit to see if there is any sort of easy workaround we can implement in ``cmd2``.

[2017-08-16 00:33] kmvanbrunt commented on #205
@soggysec
The gtk workaround was added to cmd2. Try the latest version and see if the printing works.

[2017-08-16 00:34] tleonhardt commented on #206
From taking a quick look, there is no easy fix for this bug in ``cmd``.  Honestly, given the sparse documentation for ``cmd``, we can't even tell if this is a "feature".  Regardless, this one wouldn't be worth fixing even if we could -``cmd2`` supports this attribute only because it's parent ``cmd`` module does.  It isn't something we can think of a good use case for.

[2017-08-16 00:34] #206 closed

[2017-08-16 00:38] tleonhardt commented on #205
@soggysec See the instructions for installing the latest version of ``cmd2`` directly from GitHub using **pip** in the ``cmd2`` docs:
http://cmd2.readthedocs.io/en/latest/install.html#install-from-github-using-pip

This change will be included in the upcoming 0.7.7 release of ``cmd2`` to PyPI, which will occur in about a month.

[2017-08-16 11:12] soggysec commented on #205
Thanks guys! All is good with the world again. I have pulled from github and both versions seem to be working well. Thanks for all the help.

[2017-08-19 15:52] kotfu opened #209 "feedback_to_output setting doesn't work"
Feedback always appears to be redirected into the captured output. Discovered on python3.6.

[2017-08-19 15:52] kotfu commented on #209
I've forked the repo and am working on a test and a fix.

[2017-08-19 16:56] tleonhardt commented on #209
Do you mean that messages printed with the **pfeedback** function are redirected regardless of the **feedback_to_output** setting?

If so then I think the **print** in that function should be replaced with **sys.stderr.write**.  But the **pfeedback** function is used very sparingly within the current code base - mostly for printing command timing if enabled via the appropriate setting, but also wi

[2017-08-19 16:59] kotfu commented on #209
Correct. Messages printed with **pfeedback()** are redirected regardless of the **feedback_to_output** setting. I agree the fix is easy. The tests are taking me a bit more time.

[2017-08-19 17:04] tleonhardt commented on #209
For tests like that the **capsys** fixture in pytest can be helpful.  Combined with a temp file maybe.

[2017-08-19 17:05] tleonhardt commented on #209
@kotfu Thanks for bringing the issue to our attention.  Good catch.

[2017-08-19 17:41] kotfu opened #210 "test_transcript.py::test_regex_transcript fails if editor includes the letter 's'"
If your setting for **editor** includes the full path to the editor, i.e. '/usr/local/bin/zile', test_transcript.py::test_regex_transcript fails.

Working on a fix.

[2017-08-19 17:44] tleonhardt commented on #210
@kotfu Thanks for another great catch!

[2017-08-19 20:16] kotfu commented on #210
Deep rabbit hole here. Further testing reveals that **test_transcript.py::test_regex_transcript()** fails if **editor** contains an 's'. The path part is a red herring. For example, if **editor** is 'emacs', the test fails.

The transcript in this test, located in **transcript_regex.txt**, intends to ensure that that the value of **editor** does not include any whitespace.  **cmd2.py::_test_transc

[2017-08-19 20:31] tleonhardt commented on #210
If I recall my thought process, the intent of **test_regex_transcript()** was two-fold:

1. Help demonstrate to users how they can use a regular expression in a transcript
2. Test that the basic regex feature of is working within transcript tests
3. Pass regardless of what editor is set to

A couple things that are probably worth pointing out:

- The transcript testing feature is probably the leas

[2017-08-19 20:38] #209 closed

[2017-08-19 20:38] kotfu commented on #210
Makes sense. I'll work on:

1. Test and ensure **do_edit** works if **editor** has spaces in it. I can't think of any editors that have a space in their executable file name, but I suppose it is possible that it could be a) not in your path, and b) the path where it is located has a space in it.
2. Make sure **test_regex_transcript()** works whether **editor** has spaces, esses :smile:, or no spac

[2017-08-19 20:41] tleonhardt commented on #210
Thank you for your contribution.  I appreciate you bringing this issue to our attending and doubly appreciate your help fixing it!

[2017-08-19 20:49] tleonhardt commented on #209
@kotfu So given that you are a user of ``cmd2`` who has at least played with the **feedback_to_output** feature a little bit, I would like your opinion on something.  I'm thinking of changing the default value of this setting to **False** because that seems to make more sense for use cases I might deal with.  What do you think?

[2017-08-20 04:26] kotfu commented on #209
I think about this like I think about bash. stdout and stderr are different unless I specifically redirect them to the same spot. I think that feedback and output should be separate, unless I ask them to go together by setting **feedback_to_output** to true.

The flip side is that many users of cmd2 powered tools may not be as familiar with the unix shell. They may think that all output should go

[2017-08-20 05:41] kotfu commented on #210
Just sent a PR to fix. However, it occurs to me that this problem of squashing backslashes in **Cmd2TestCase** means that any transcript with regular expressions containing backslashes will not behave as expected. Backslashes in regexes are super common, so I'm a little surprised nobody has noticed this, must not be many people using regexes in transcripts.

Should we open another issue to fix **C

[2017-08-20 12:37] tleonhardt commented on #209
@kotfu
Thanks for the feedback.  I think I will change **feedback_to_output** to default to False.  People familiar with Unix shells is our primary target audience.

@kmvanbrunt and I have previously discussed how it would be nice to be able to optionally redirect stderr in a manner similar to bash.  For a feature like this we could decide whether we want to just redirect the "feedback" which can

[2017-08-20 12:44] tleonhardt commented on #210
This issue was closed by PR #212.

Good catch on all backslashes getting squashed in regexes used in transcript testing.  I'll create an issue for that.    I'm not sure if it would be an easy or a hard fix.

[2017-08-20 12:44] #210 closed

[2017-08-20 12:46] tleonhardt opened #213 "Backslashes get stripped from regexes used in transcript testing"
With the way parsing in **Cmd2TestCase** is implemented, it means that any transcript with regular expressions containing backslashes will not behave as expected. Backslashes in regexes are very common.  It would be much better if a much wider variety of regexes worked properly.

[2017-08-20 12:48] tleonhardt commented on #210
@kotfu

Issue #213 created to fix **Cmd2TestCase** so regexes with backslashes work.

If you have a good idea of how to fix it and are so inclined, that would rock.  If not, I'll start looking into it.

Thanks for bringing this issue to our attention.  I had noticed at one point that certain regexes didn't work properly with transcript testing, but my knowledge of regexes is weak enough that I was

[2017-08-20 18:33] kotfu commented on #213
I have some background with regexes, so I'll take a crack at this one. I've never used pyparsing before, so we'll see how I do. I'll holler if I need some help or guidance.

[2017-08-21 05:39] kotfu commented on #213
The current code (and documentation) is very clear that the transcript testing ignores whitespace in the comparison. The documentation states you can use regular expressions, but says 'they should not include any whitespace expressions.'

The code does (almost) exactly what the documentation says, but there are many non-obvious implications that even a user with lots of experience with regular exp

[2017-08-21 13:35] kotfu commented on #213
Sounds good. I'll write up the documentation for how this new approach would work, and maybe you can have a look see before I go write the code.

[2017-08-21 18:44] kotfu commented on #213
Here's my branch which now includes a first cut at the documentation for the revised approach: https://github.com/kotfu/cmd2/tree/fix/transcript_regexes

[2017-08-21 19:12] tleonhardt commented on #213
@kotfu What you have in your branch looks great!  It is a very significant improvement to the existing documentation and unit tests associated with transcript testing.

There are a few minor Sphinx-related bugs that doing a "make html" in the docs directory will reveal assuming you have Sphinx and the RTD Sphinx theme installed.

For example, in **index.rassumpingst** the name needs to match the n

[2017-08-21 19:14] kotfu commented on #213
Yeah, I didn't even run sphinx yet, just tried to hammer out the words. I'll get it all cleaned up as I continue working on it.

[2017-08-22 15:38] mgiaco commented on #135
Hi @tleonhardt

So now I working on that problem. So concerning the scripting I mentioned at the beginning of this conversation.... You told me, that it should be possible to add a conditional and time controlled behavior with pyscript as shown in the python_scripting.py example. So tried that example  and it worked as expected. I also read the code and now I understand what you mean I think.

So

[2017-08-22 16:50] tleonhardt commented on #135
Hi @mgiaco

The "commands at invocation" feature that allows you to run commands when you start the app by adding them on the command line works with all commands not just load or "@".  So you should be able to do something like "python3 yourapp.py 'pyscript your_script.py'".  You just need to put the command plus its arguments in quotes so the parser knows that is a single command.

I think it wo

[2017-08-22 21:02] mgiaco commented on #135
Hi,
Many thanks for your as always very quick response. Okay thanks i will try this later. Okay but the problem is the commands are not constant so the commands.txt changes by time.

[2017-08-23 00:51] #213 closed

[2017-08-23 01:05] tleonhardt commented on #135
Are you saying that you have some other tool which is dynamically generating the **commands.txt** file?

[2017-08-23 05:53] kotfu opened #218 "Piping input from the shell behaves poorly"
[code]

Notice how the command is not output by **Cmd2**, but the prompt is. This means that the output can not be used as a transcript. There are several options to improve the behavior:

1. Output the prompt and the command. This makes the output a testable transcript.
2. Output neither the prompt or the command. This makes the output easily parseable by other command line utilities that may wan

[2017-08-23 08:59] mgiaco commented on #135
Hi, no other tool. A user can generate some command.txt file and try to run it with the tool.

[2017-08-23 11:49] tleonhardt commented on #218
As far as the options go, I like either **2** or **3**.

The **echo** setting may be the appropriate setting.  If it is on, then the command name (but not prompt) will print out when using the ``load`` command for example.  Now that I think about it, it would be better if the prompt printed as well.

Regarding the *stty: stdin isn't a terminal* messages, that only happens if you are using input di

[2017-08-23 11:59] tleonhardt commented on #135
Ok, I was just suggesting you have your Python script read the commands in the command.txt file and process them one at a time since you wanted some kind of special conditional or timing behavior that you can't get with the ``load`` command.

[2017-08-23 12:04] tleonhardt commented on #218
Of possible relevance ... ``cmd2`` and its ``cmd`` parent allow you to pass a **stdin** argument to the initializer.  If this argument isn't ``None``, then ``cmd`` uses it to set ``self.stdin``, otherwise ``self.stdin`` gets set to ``sys.stdin``.

[2017-08-23 12:18] tleonhardt opened #219 "load command with echo on should print prompt as well as command"
Currently the ``load`` command just prints the command name if **echo** is **True**.  It would be more clear if it displayed both the prompt and the command.  Additionally, doing that way should make the full output a testable transcript.

[2017-08-23 12:34] tleonhardt commented on #219
I pushed a small fix so that if echo is on and commands are loaded from the ``cmdqueue``, then both the prompt and command get printed before printing the output.

[2017-08-23 12:34] #219 closed

[2017-08-23 16:54] tleonhardt commented on #218
I committed a small change earlier which fixed the issue with the ``load`` command not printing the prompt when **echo** is set to True.

[2017-08-23 17:39] kotfu commented on #218
I've created a new branch to start working on this.

[2017-08-24 11:44] #218 closed

[2017-08-24 13:21] mgiaco commented on #135
@tleonhardt

Okay so now I think i do not need scripting but it is really nice. So I think I can handle everything inside each command also the time triggered behavior. And there is also some CmdResult I do not know before I have looked into the examples.

[code]

So I think i can handle the timing in each command by using some class variables. So in the cmd3 command I measure the start and wait f

[2017-08-24 14:50] kotfu commented on #135
I'm new to this thread, but perhaps I could offer two suggestions, one in this message, and I'll make another suggestion in the next reply.

I also have a project that uses **cmd2** and it has several commands which require a connection. I implemented it as a decorator. Instead of:

[code]

I did something like this

[code]

And then defined **@requires_connection** like this:

[code]

I found thi

[2017-08-24 14:53] kotfu commented on #135
My second suggestion relates to the timing. It may not exactly suit your needs, but **cmd2** has built in support to time each command and print how long it took.

[code]

You can set this from code by:

[code]

[2017-08-24 16:06] tleonhardt commented on #135
@kotfu That is an excellent suggestion regarding the **requires_connection** decorator.

[2017-08-24 19:14] mgiaco commented on #135
Cool many thanks. The decorator is really nice.

[2017-08-26 14:26] tleonhardt commented on #135
@mgiaco ``CmdResult`` is a useful data structure which at this time is only used in examples and unit tests, but isn't used within built-in ``cmd2`` commands themselves (at least yet).  It serves as an example for one way which you can store the results of a command so they can be inspected within a Python script executed by the ``pyscript`` command or manually by an advanced user or developer dur

[2017-08-26 22:03] mgiaco commented on #135
Okay I understand, so I will add some result handling inside my derived class.

[2017-09-05 03:31] kotfu opened #222 "poutput() can not print a zero."
Say you built an app which subclasses cmd2. Say you wanted to have an 'exit_code' command in your app which printed out the exit code of the last command processed. Say you wanted to output an exit code of zero, using the poutput() function. It won't print it.

Here's the poutput() function:

https://github.com/python-cmd2/cmd2/blob/5d5675bac5a8d431fbae1e12daf9b27ca4edfe91/cmd2.py#L588-L599

If ms

[2017-09-06 01:17] tleonhardt commented on #222
@kotfu

The original intent of the **if msg** check was to make sure that **msg** is not an empty string and I was making use of the *Falsiness* of empty strings.  My underlying assumption was that **msg** was either of type **str** or something automatically convertible to **str** using **.format()**.  But I didn't think about non-string types which would be Falsy.

So I would recommend slightly

[2017-09-06 01:34] tleonhardt commented on #222
@kotfu
I'll go ahead and submit a PR for this shortly unless you are already working on it.

[2017-09-06 02:38] kotfu commented on #222
Makes sense. The check for None and an empty string is better.

[2017-09-06 03:06] #222 closed

[2017-09-15 02:25] tessebier opened #224 "load no longer works when used inside onecmd_plus_hooks"
As of 0.7.5 load uses cmdqueue, which means running load inside onecmd_plus_hooks no longer works as nothing processes the cmdqueue in that scenario. Ditto for any of the functions which call onecmd_plus_hooks like run().

If do_eos were to return self._STOP_AND_EXIT, and a self._cmdloop() were added back to the end of do_load(), it would work as it used to.

Not sure if such a change is acceptabl

[2017-09-15 22:43] alevy03 commented on #224
@tessebier: I'm thinking about working on this issue. Can you elaborate on your use case and maybe give some minimal test case that replicates the problem you are having?

My understanding is that `onecmd_plus_hooks` doesn't call `_cmd_loop` in order to support using custom command loops or 3rd party frameworks. How are you using it? Do you call onecmd_plus_hooks in your own event loop? Or, do you

[2017-09-16 00:32] tessebier commented on #224
Thanks for responding and looking into it, much appreciated.

I have a command tool that uses cmd2 with a CmdLoop() for standard cli type
operations, primarily to execute a particular query command, call it "tql",
and surrounding configuration commands to set up a suitable environment for
tql. cache management, cache persistence, bunch of config/status command to
on-process query results etc. with

[2017-09-19 20:05] alevy03 commented on #224
I don't think we should add `_cmdloop()` to the end of `do_load`.  `_cmdloop` sets readline configuration for the duration of the loop and then restores the original config when finished. `_cmdloop` stores those settings in member variables on `self`, and not in any kind of stack, so recursive calls are a no-no. If there was already an existing `_cmdloop` running, which executed the `do_load`, the

[2017-09-19 22:44] tessebier commented on #224
Your reasoning seems sound, and I'm certainly not in a position to argue
with it. I was indeed worried about the whole recursive and other potential
side-effects aspect of placing any _cmdloop() invocations anywhere - I just
don't know the code well enough.

Adding a runcmds_plus_hooks that does it all seems a reasonable compromise,
so no objections from me. Must have taken you a while to figure o

[2017-09-22 12:33] sluser opened #225 "Issue with # character in command strings"
Hello,
I recently upgraded my application from 0.6.7 to 0.7.7. This went smoothly with one exception. One one of my cmd2 application's test cases calls a command with a parameter including a '#' character. Previously, this worked fine, but with the new version, the test failed. I found that actually, any time a # appears in the command string, the # and all characters following it are stripped off

[2017-09-22 13:48] tleonhardt commented on #225
Hi @sluser,

``cmd2`` has always support usage of both C-style comments enclosed within **/*I */** and Python-style comments beginning with **#**.  This feature exists to support comments within scripts, but by necessity of keeping the parsing logic sane it is also supported directly at the command line.

Numerous stability changes were made in the 0.7 release to ensure that all supported features

[2017-09-22 13:53] tleonhardt commented on #225
I think I will add an example app in the **examples** directly similar to the one above to help demonstrate to users both how argument parsing works and how they can change what is considered a comment.

[2017-09-22 14:31] sluser commented on #225
Thank you for taking the time to write that example, this is exactly what I need. I was actually still working from an old bookmark of the previous documentation and had neglected to see that there had been an overhaul. Thanks again.

[2017-09-22 18:08] #225 closed

[2017-09-22 18:11] tleonhardt commented on #225
@sluser Your welcome!

If you haven't checked out the recent features, I'd highly recommend checking out the following features:

-  improved tab-completion for local file system paths (with functions you can re-use for your own commands)
- improved Python scripting with new ``pyscript`` command
- improved ability to pipe command output to shell commands

[2017-09-22 18:18] alevy03 commented on #224
OK. I've made a PR that should fix it. @tessebier can you look at PR #227 and see if it works for you?

[2017-09-22 19:48] #224 closed

[2017-09-27 20:37] kotfu commented on #36
I'm gonna take a crack at this. New branch https://github.com/python-cmd2/cmd2/tree/argparse for the work.

[2017-09-27 20:47] tleonhardt commented on #36
@kotfu Bless you sir for giving this a shot!  I couldn't find a good way to do it which would preserve backwards compatibility in the API or something close to it.  But I think your Python Fu may be stronger than mine ;-)  Good luck.

[2017-10-12 20:27] tleonhardt commented on #36
@kotfu Let me know if you get to the point where there is some code you would like me to look at or if there is anything I can help with related to this issue.

[2017-10-17 00:20] soggysec opened #229 "OutputTrap and Shell Command Traceback"
Hi Guys,

I'm having an issue, and I'm not sure if it's something I'm doing wrong, or a bug with cmd2.

I have an OutputTrap defined:

        class OutputTrap(object):
             def __init__(self, handle):
                 self.handle = handle

             def write(self, msg):
                 self.handle.cli.userLog(msg.rstrip())

             def flush(self):
                 pass

[2017-10-18 16:17] tleonhardt commented on #229
@soggysec I tested this issue using the following minimal cmd2 application:

[code]

I verified that this issue is present on both Python 2.7 and 3.x.

However, I don't see a clear way to alleviate the underlying issue which would make sense in general for all use cases.  The underlying problem is that Python's subprocess module expects a legitimate file object (or at least file-like) if you pass

[2017-10-20 19:59] soggysec commented on #229
I think your do_shell override is elegant enough. I kind of liked Option 3, and but haven't figured out a clever way to make it work. I wanted to write a kind of loopback that basically created its own file handle-like object, and piped everything to the overloaded write function. I think for now, I'll go with your suggested easy solution. Thanks!

[2017-10-20 19:59] #229 closed

[2017-10-21 22:51] mgiaco commented on #135
@tleonhardt

Hi,

I came back to this thread, because I really do have some problems with extending the cmd queue.
I do have an app running cmd2 with the feature above - which works fine.

But I also do have a RS232 connection to that app. My idea was use some simple protocol and extend the cmd queue with the commands coming from the RS232. The problem is that if I extend the queue from the RS232

[2017-10-23 15:05] tleonhardt commented on #135
@mgiaco
Hi,

In its default behavior a ``cmd2`` application using the built-in ``cmdloop`` method is a **line-oriented command interpreter**.  What this means is that the main thread will block waiting for the user to enter a command and press **<Enter>** (technically it is actually running code within the C readline library that supports tab-completion and such and not purely blocking).  Once the

[2017-10-24 07:53] mgiaco commented on #135
@tleonhardt
Hi Todd,

Many thanks I taught that this was the problem. Okay but I do really like the cmdloop -> so I mean that feature that I can control the app over the command line. But I do net the second channel over the Serial Line. So I changed nothing except that I feed in the commands coming from the serial line with onecmd_plus_hook - no it works.  Is it okay that I use it that way or wou

[2017-10-24 17:13] tleonhardt commented on #135
@mgiaco
Hi Mathias,

As long as you don't have any thread synchronization issues, what you are doing should work fine.  With the way you are doing it you may get two commands running at the same time, one from the serial line via ``onecmd_plus_hooks`` and one from the ``cmdloop``.  If there are any data structures in your application which need protection for multithreaded access, you may want to

[2017-10-25 07:32] mgiaco commented on #135
@tleonhardt
many many thanks for your as always very fast support.

[2017-11-08 16:35] chair6 opened #230 "Breaking change in unpinned pyperclip dependency"
On trying to import a new cmd2 install on a Ubuntu system where pyperclip cannot access the clipboard (triggering the failure path in https://github.com/python-cmd2/cmd2/blob/master/cmd2.py#L326), I'm getting the following traceback:
[code]

It seems cmd2's unpinned pyperclip dependency is pulling in a breaking-change pyperclip release from yesterday.  In https://github.com/asweigart/pyperclip/com

[2017-11-08 17:28] tleonhardt commented on #230
@chair6 Thanks for bringing this to our attention.  We will work on a fix for it shortly.

[2017-11-08 18:50] #230 closed

[2017-11-09 00:53] tleonhardt commented on #230
@chair6 This issue has been fixed in ``cmd2`` version **0.7.8**, which has been released and is available now from PyPI

[2017-11-09 02:27] teto commented on #47
I call this in every command:
`shlex.split(args)`

Isn't preparse a good place to do it ? (i haven't tried yet)
[code]

[2017-11-09 02:39] teto opened #232 "can't use colorize"
Thanks for maintining cmd2, it s a great module. It took me a long time before moving from Cmd to Cmd2 but the transition was seamless and that's great.

colorize  works in terminal, Cmd2 shows errors in colors etc so I thought I would use it in my commands too, to colorize the prompt for instance but then I have

[code]
with
`class MpTcpAnalyzer(Cmd):`
What's the matter ? I use python 3.6

[2017-11-09 03:20] teto opened #233 "command aliases"
I want to have aliases for my commands with long names.
According to http://cmd2.readthedocs.io/en/latest/settingchanges.html?highlight=shortcuts, the doc advises to use
`Cmd2.shortcuts.update({'l': 'lift_subflows', 'l': 'list_reinjections'})` but here it generates an error
[code]
shortcuts seem to be a list of tuple instead of a dict.
`[('@@', '_relative_load'), ('@', 'load'), ('?', 'help'), ('!'

[2017-11-09 03:22] teto commented on #36
@kotfu looking forward to this :)

[2017-11-09 03:58] teto opened #234 "invoke several commands at startup while still allowing manual parsing"
Coming from vanilla Cmd, I had some code similar to what allow_cli_args (http://cmd2.readthedocs.io/en/latest/freefeatures.html#commands-at-invocation) does yet I wanted to parse some flags at invocation.

What I did was
[code]
I wonder if I could turn allow_cli_args on while discarding the known flags beforehand ?

That was the last issue opened today. sorry I gathered some xD

[2017-11-09 05:52] tleonhardt commented on #47
@teto
``cmd2`` has the "normal" ``cmd2`` way of doing commands, but it also has the much, much nicer way using the ``@options`` decorator.  The ``@options`` decorator uses **optparse** to parse options, but it also automatically uses shell.split() on the args.  So an ``@options`` command definition looks like the following

[code]

Note that these command accept **two** arguments instead of just t

[2017-11-09 06:11] tleonhardt commented on #232
@teto
Can you give me some more information regarding your test setup and specifically what you are doing.  What OS are you using (and version)?  If you have any example code you can share that I could use to reproduce the issue that would be most helpful.

Whatever the problem you are experiencing, it isn't a general problem which always occurs.  I use Python 3.6 as well.  The **python_scripting.

[2017-11-09 06:31] teto commented on #232
realized file descriptors must have been setup by the constructor so I moved up the constructor call
 `super().__init__(completekey='tab', stdin=stdin)` and it fixed it. Thanks.

[2017-11-09 06:31] #232 closed

[2017-11-09 06:32] chair6 commented on #230
Thanks, @tleonhardt!! The quick turnaround is greatly appreciated...

[2017-11-09 07:09] tleonhardt commented on #233
@teto
The problem is that you need to update shortcuts before calling the super class ``__init__`` method.  You can't update them after that has been called.

I will update the documentation to make this more clear.

For now, I would recommend looking at this example:
https://github.com/python-cmd2/cmd2/blob/master/examples/example.py

[2017-11-09 07:18] teto commented on #233
that was indeed the case. It's confusing for seemingly no reason (why change the datatype ?). Paired with https://github.com/python-cmd2/cmd2/issues/232, it means using cmd2 requires much attention on where to put each line. One before calling the constructor and one after. I believe it should stick to one or the other (most likely the first one). Or use decorators instead (looks sexy in my opinio

[2017-11-09 07:28] tleonhardt commented on #233
I agree, it is confusing.

However, there is an obscure yet valid reason for why it is done related to shortcut parsing logic and how shortcuts get sorted.  Suppose you define two shortcuts where one is a substring of the other, such as the built-in shortcuts ``@`` and ``@@``.  If you are not exquisitely careful about how you parse and sort the shortcuts you will end up with non-deterministic beha

[2017-11-09 07:33] tleonhardt commented on #233
I do really like the decorator idea for command aliases.  I'll give that some thought.

[2017-11-09 07:46] teto commented on #233
I thought that the shortcuts injected new functions so in my example `shortcuts.update({'ls': 'list_subflows', 'l': 'list_reinjections'}) `would inject ` do_ls(**args): do_list_subflows(args)` but apparently you parse the command (maybe because python would refuse `do_@` xD). If order matters than the backend could use an OrderedDict instead ? or use another name than `shortcuts`, make shortcut a

[2017-11-09 07:51] tleonhardt commented on #234
I imagine you could use **argparse** or whatnot to parse your know flags and then manually reconfigure what is present in ``sys.argv`` before calling ``cmdloop()`` on the ``cmd2`` instance.

[2017-11-09 08:12] teto commented on #233
also it might be nice if "help <shortcut>" would work.

[2017-11-09 08:12] #233 closed

[2017-11-11 17:15] tleonhardt commented on #234
PR #236 modified argparse_example.py to do exactly what I think you were looking for:
https://github.com/python-cmd2/cmd2/blob/master/examples/argparse_example.py

If this doesn't answer your question, we can re-open this issue, but I'm going to close it for now.

[2017-11-11 17:15] #234 closed

[2017-11-15 11:01] mikusjelly opened #238 "Tab completion not work in win7"
In Linux it work.
In Win7, it just give me a space.

[2017-11-15 12:51] tleonhardt commented on #238
HI @mikusjelly

On Windows you need to install pyreadline, so do something like:

[code]

or

[code]

There is a note on the first page of the User Manual that mentions this:
http://cmd2.readthedocs.io/en/latest/

How would you recommend that I document this to make it clear for users?

[2017-11-16 02:17] mikusjelly commented on #238
@tleonhardt Thank you very much.

Maybe you can add **Note** to [installation](https://github.com/python-cmd2/cmd2/blob/master/README.md#installation).

[2017-11-16 02:17] #238 closed

[2017-11-16 02:21] tleonhardt commented on #238
@mikusjelly

I'm working on modifying the dependencies so that pip will view **pyreadline** as a dependency, but only on Windows.  If that doesn't work out, I'll make sure to add a good note.

Thanks for the feedback.

[2017-11-18 20:27] mgiaco commented on #135
Hi Todd,

I am back again :-)
I do have a question concerning feeding in with ```onecmd_plus_hooks or``` ```runcmds_plus_hooks```.
I do have some performance problems when I feed in some new command - it takes some long time before the processing of the command begins. Do you know a way how I can accelerate that behaviour?

many thanks

[2017-11-18 22:05] tleonhardt commented on #135
Hi Mathias,

I'm not aware of anything in particular within ``cmd2`` which would limit the performance of what you are trying to do, at least if you are dealing with typical human reaction-time type timescales.

Do you have any example code you can share that demonstrates these performance problems?

Whenever I encounter a performance problem, the first thing I do is profile the application to get

[2017-11-20 17:11] mgiaco commented on #135
Hi Todd,

Many many thanks - I will try all that.

thanks
mathias

[2017-11-24 20:32] SpotlightKid commented on #36
Just add 'capture all remaining position args' argument with the `nargs` option:

    parser.add_argument('args', nargs='*')

[2017-11-24 20:41] SpotlightKid commented on #105
Aren't many of these methods (e.g. `preparse` and `postparse`) explicitly there to be overwritten and empty by default? What's the benefit of moving them out of the `Cmd` class then?

[2017-11-27 16:27] tleonhardt commented on #105
@SpotlightKid
The general point of this issue was to move some things related to internal implementation details which should not be publicly accessible to end users out of the cmd2.Cmd class.

This was largely accomplished by the creation of the ``ParserManager`` class which encapsulates most of the **pyparsing** parsing logic.

@catherinedevlin I'm going to close this issue.  I think your previo

[2017-11-27 16:27] #105 closed

[2017-12-12 18:27] tleonhardt commented on #36
@kotfu I saw you pushed some code to the branch.  I'm excited to take a look at it as soon as I have some free time.  I noticed that the build is failing with it for Python 3.3 but works for 2.7 and 3.4+.  If that isn't a glitch and is a real problem, I'd be happy to abandon official support for Python 3.3 and add testing for 3.7.  At this point I don't know anyone using 3.3 anymore.

[2017-12-12 20:21] kotfu commented on #36
It’s very early code, but there is some documentation describing my thinking which will let you know which direction I’m headed.  I’m not surprised that the build failed, I didn’t even try it on all the python versions. I’m not aware of a compelling reason we need to dump support for 3.3, so lemme keep working before we decide.

[2017-12-19 18:59] tleonhardt commented on #36
@kotfu I finally got around to looking at the code you pushed to the branch.  I added a few comments to the commit:
https://github.com/python-cmd2/cmd2/commit/4f57dc14a7ffc2cbd741622da7d05d42ba7f7789

Let me know what you think.

[2018-01-04 20:00] tleonhardt commented on #36
@kotfu The build failing on the argparse branch had nothing to do with any code on that branch.  Apparently Travis CI no longer supports Python 3.3 builds.  So I updated the build scripts and documentation to reflect that we "officially" support Python 3.4+ and 2.7.  Everything should still work on Python 3.3, we just lost a quick and easy way to run automated unit tests on that platform.

[2018-01-06 02:37] tleonhardt opened #244 "Unit test failures in Python 3.7.0a3"
When running the ``pytest`` unit tests for ``cmd2`` with the alpha 3 development version of Python 3.7, there are 7 failures, all within the **test_parse_transcript_expected** test suite.

They all appear to be similar in nature, like the following:

[code]

I have no idea if something changed in Python 3.7 which is causing these failures or if it is a change in pytest which is causing them.

[2018-01-06 02:39] tleonhardt commented on #244
@kotfu If you have time, this would likely be a quick fix for you since you wrote these unit tests.

I verified the behavior with a version of Python 3.7.0a3 installed on my system after initially seeing it on Travis CI.

[2018-01-06 05:13] kotfu commented on #244
I have also reproduced the errant behavior in 3.7.0a3. It appears that 3.7.0 has a change in behavior in the `re.escape()` method, which is causing the problem. I'll continue to investigate and get it resolved.

[2018-01-06 09:18] tleonhardt commented on #244
The docs for 3.7 say this about **re.escape**:
“Changed in version 3.7: Only characters that can have special meaning in a regular expression are escaped.”
https://docs.python.org/3.7/library/re.html

[2018-01-07 04:29] #244 closed

[2018-01-07 04:43] kotfu commented on #244
Just one more thought about this whole regular expression business. Regexes are like Perl: they are both write once, read never 😎 . I write that regex code, and wrote it recently, and it still took me forever to figure it out...again.

[2018-01-07 04:48] tleonhardt commented on #244
Agree about regexes.  They are powerful, but I use them infrequently enough that it requires relearning except for the most basic cases.

A long term wish would be simplifying the transcript testing slightly somehow, particularly for chained regexes when there are multiple commands.  Maybe a modification that strips all trailing whitespace from the end of both the expected and actual before compar

[2018-01-11 01:11] #36 closed

[2018-01-11 01:13] tleonhardt commented on #71
Now that we are using argparse for command argument parsing, doors have been open for this.  Users can manually do it using argparse.  But maybe we could come up with some sort of clever deocrator-based approach akin to how ``click`` approaches subcommands that helps make it easier?

[2018-01-11 01:16] tleonhardt commented on #47
This issue should now be revisited in light of the new argparse-based decorator in lieu of the old optparse-based one.

Basically, it would be nice that even if for normal non-decorated commands the arguments where parsed with shlex.split() and the **do_** methods get passed a list of arguments instead of a single string.

[2018-01-11 05:40] kotfu commented on #47
I can think of several ways we could make this happen:

1. Pass `do_` methods a list of arguments instead of a string. Very `sys.argv`-ish. If we didn't have to worry about backwards compatibility, this makes the most sense to me. But we do have to worry about backwards compatibility, so I don't this this approach is viable.
2. Use @tleonhardt's suggestion to use @options or the new @with_argument

[2018-01-11 14:50] tleonhardt commented on #47
I like the combination of methods 3 and 5 - that does sound like the most convenient option which will also preserve backward compatibility.

I originally added the **USE_ARG_LIST** attribute within ``cmd2`` and associated **set_use_arg_list** setter function (outside of the Cmd class) for this exact purpose, but limited to within the **@options** decorator.  Initially I had set it to False for ba

[2018-01-13 06:14] kotfu commented on #47
Just pushed a new branch with this change. I had to modify the onecmd() method, which means if I broke something, I broke it big. Tests pass on my local box, but I wanna see if they all pass here.

[2018-01-13 14:55] tleonhardt commented on #47
I hadn't thought through some of the compatibility implications.  The decorator approach works great and is a very welcome addition.  However, the modifications to onecmd() based on an attribute would create compatibility problems with the ``cmd`` module which ``cmd2`` extends.  For example, the low-level implementation of the **help** command actually occurs within ``cmd``.

[2018-01-13 18:41] kotfu opened #250 "Use @with_argument_parser for all methods which require argument parsing"
Many methods in cmd2 utilize the now deprecated **@options** decorator, ex. **do_pyscript()** and **do_history()**. Other methods like **do_save()** use `pyparsing`, which works, but it too should probably be migrated to **@with_argument_parser**. **do_set()** does custom argument parsing not utilizing any library. Still other methods do no argument parsing, but probably should, like **do_load()**

[2018-01-13 21:05] tleonhardt commented on #250
Oh wow, I didn't realize that **do_save()** was using ``pyparsing`` for its parsing logic.

Everything should be migrated to use the argparse-based decorator for parsing if it needs special parsing or perhaps just the decorator which causes a list of arguments to get passed if it doesn't need special parsing but needs more than a single argument.  Some of the existing functions which use **@option

[2018-01-14 23:54] kotfu commented on #250
## no changes required
- [x] **do_eos()** - can't pass arguments to this command
- [x] **do_eof()** - can't pass arguments to this command
- [x] **do_quit()** - ignores all arguments passed

## accepts only a single argument
modified all these to use the **@with_argument_list** decorator
- [x] **do__relative_load()**
- [x] **do_load()**
- [x] **do_help()**

## still to investigate
- [ ] **do_cmden

[2018-01-15 00:52] tleonhardt commented on #250
I have some thoughts/comments regarding a few of the "to investigate" methods.  They aren't necessarily related to this issue, but they could potentially be, so I thought I would share them ...

I've been thinking of eliminating the **do_cmdenvironment()** method.  I don't think that it is something which is generically useful to end users of ``cmd2`` applications and as such it feels out of place

[2018-01-15 01:24] kotfu commented on #250
Never used **do_cmdenvironment()** so no opinion there. I agree **do_show()** feels redundant.

As for **do_shortcuts()**, my initial reaction is that I don't want a way for users to create/modify shortcuts at runtime. But I really like the idea of eliminating the **shortcuts** command and instead modify help so that it shows what the shortcut is a synonym for.

[2018-01-15 02:05] kotfu commented on #250
Just looked at **do_cmdenvironment()**, and agree its not generally useful to end users. However, since it is potentially useful to developers, what if we modified the **set** command to accept a **-a/--all** option. If you do "set --all" then you get the standard settings, and then a blank line, and then a line that says "Read only settings", and then the output of **cmdenvironment**. Then it wou

[2018-01-15 02:36] tleonhardt commented on #250
I think your above suggestion related to **do_cmdenvironment()** is an excellent one.  Eliminating the **cmdenvironment** command, but adding a flag to the **set** command which would then also display read-only settings (which is basically what cmdenvironment does) would give a simpler **help** menu for end users, but preserve access to the additional information developers may desire.

[2018-01-15 04:02] kotfu opened #251 "Move read-only settings from cmdenvironment to set"
The **cmdenvironment** command outputs settings that the end user can not modify. This command is generally only useful to developers, and may be confusing to users.

Suggest modifying the set command to accept a **-a/--all** option. If you do **set --all** then you get the standard settings, and then a blank line, and then a line that says "Read only settings", and then the output of cmdenvironme

[2018-01-15 06:04] tleonhardt commented on #251
When working this issue, it would probably be a good time to remove the **show** command since **set** without an argument provides the same functionality.  The implementation for **do_show** can remain, just as a private method which gets called by the appropriate branch within **do_set**.

[2018-01-15 15:46] tleonhardt commented on #40
Incorporating ``python-prompt-toolkit`` prompts into ``cmd2`` isn't possible without creating essentially a completely different tool.

``cmd2`` is based on ``cmd`` which in turn is based on the readline C library or an equivalent.  ``prompt-toolkit`` is (among other things) a replacement for readline.  So there is a fundamental incompatibility at a low level.

A fork of ``cmd2`` which removed the

[2018-01-15 15:46] #40 closed

[2018-01-15 17:05] kotfu opened #252 "Consolidate functionality of editing, saving, and showing the history of commands entered"
The **do_history()** command allows you to search and slice history before displaying it. The **do_save()** command doesn't, but it will save history to a file. The **do_edit()** command lets you edit one history item and then run it. We should consolidate all the history functionality into a single command.

- [x] Add a **-o/--output-file** argument to **do_history()** which writes the selected h

[2018-01-15 17:09] tleonhardt commented on #252
Yeah, I like this idea a lot.  That puts the functionality in a more logical place.

[2018-01-15 17:20] tleonhardt commented on #252
There are a couple more potentially desirable changes of a similar nature.

First, the **run** command simply re-runs a command from the history.  We can probably added a **--run** argument to the **history** command which encompasses the same functionality.

Secondly, the **edit** command is a bit odd in its behavior where if it is passed an integer it edits that command number from the history (

[2018-01-15 17:23] tleonhardt opened #253 "Hide __relative_load command from the help menu by default"
The **__relative_load** command is not a command which an end user would ever want to invoke directly from the interactive command line because it is intended to be used within a script that then loads another script.

As such, it would probably be best to hide it from the help menu to prevent any unnecessary confusion to end users.

[2018-01-15 17:34] kotfu commented on #252
I like all of this. **edit** does seem overloaded. I also discovered that you can already use the history command to save output to a file by using shell redirection, like:

    history -s > /tmp/history.txt

I've revised the issue description and my first comment to reflect all the changes discussed so far.

[2018-01-15 19:18] tleonhardt commented on #71
If we can't think of a good way of adding explicit support for nested commands (i.e. subcommands), then perhaps it would be sufficient to simply document by example how to use argparse to do this.

[2018-01-15 23:07] kotfu commented on #71
Since this is possible using argparse, I'll add some documentation and an example or two showing how to do it with argparse. That can be our first step, and then we can reassess whether we should add additional support later.

[2018-01-16 13:22] lobocv commented on #71
I've come up with a system that allows you to nest Cmd classes within each other. The top level (root) command then handles passing the subcommands down to it's subordinates. You can also "change directory" so that you are at the subcommand's level and therefore do not need to specify the subcommand anymore.

I tried to come up with a decorator like approach but found it to be too complicated. I a

[2018-01-16 18:43] tleonhardt commented on #71
@lobocv
Hi Calvin, it is a pleasure to make your acquaintance.  Let us know when you are happy with your system that allows you to nest Cmd classes in order to support subcommands and @kotfu and I can take a look at it.  We can either take a look at it within a branch on your fork or you can submit a PR.  I'm curious to see what you have devised.  Having separate Cmd classes for subcommands sounds

[2018-01-16 18:53] tleonhardt opened #254 "Explore having history command automatically generate a transcript"
Now that the **history** command is capable of both executing previous commands and saving previous commands to a file, it would be really great if it could essentially combine these capabilities so that it could automatically generate and save a transcript file which could then be used with the transcript testing built-in regression testing feature.

[2018-01-16 19:43] lobocv commented on #71
@tleonhardt Happy to meet you too!

I would have preferred to make a separate SubCommand class (and maybe we can still go that route). My reasoning for having separate classes for each subcommand and then layering them were:

1. Code cleanliness. When a command line tool gets too large it's easier to read if the subcommands can be grouped together and placed in a separate file.
2. Modularity. Subc

[2018-01-17 05:25] kotfu commented on #47
lots more discussion and detail in the PR #249

[2018-01-17 14:11] tleonhardt commented on #71
@lobocv
pytest is a wonderful unit test framework.  If you haven't already checked it out our [Contributor's Guide](https://github.com/python-cmd2/cmd2/blob/master/CONTRIBUTING.md) has some good suggestions for using it.  In particular, I would highly recommend the **xdist** plugin for running tests in parallel - it really speeds things up.

Honestly, the vast majority of our tests are integration

[2018-01-17 14:28] #47 closed

[2018-01-17 14:28] #250 closed

[2018-01-17 14:28] #251 closed

[2018-01-17 14:28] #252 closed

[2018-01-17 14:28] #253 closed

[2018-01-18 03:19] tleonhardt commented on #71
@lobocv
I took a look at what you are doing in your fork on the feature/subcommands branch.

As it turns out what you are doing is totally, radically different from what I have been envisioning when I have talked about a feature that adds support for subcommands.

What I'm talking about is akin to a command such as "git" where that one command has many subcommands - i.e. "git clone", "git status",

[2018-01-18 13:50] lobocv commented on #71
@tleonhardt  Thanks for having a look at my work. I had a feeling that my connotation of "subcommand" was slightly different. For my job I needed the feature I had made and I thought it would be helpful to contribute it back to the project. I understand the changes are quite significant and can have an adverse affect on people if we merged it. I'm not sure what the best approach would be now.

If

[2018-01-20 15:16] tleonhardt commented on #71
@lobocv
I really like the idea of a decorator-based approach for providing the sub-menu feature instead of altering the cmd2.Cmd class itself.  I think I would be pretty comfortable merging in such a feature.

[2018-01-20 15:19] tleonhardt opened #256 "Consider adding a feature to support submenus"
In some types of interactive command-line applications it is desirable to have stateful behavior where the commands available depend on the state and you effectively have sub-menus.

This should not be the "default" behavior in ``cmd2``.  But it would be nice to have it as an optional opt-in behavior through something like a decorator-based approach.

[2018-01-20 15:21] tleonhardt commented on #71
@lobocv
I created Issue #256 to explore adding a sub-menu feature.  It would probably be a good idea to move future discussion of this feature there since it is logically a different feature than this issue was created to discuss.

[2018-01-20 15:22] tleonhardt commented on #256
Early discussions related to this feature started in Issue #71 about support for sub-commands.

[2018-01-20 18:25] tleonhardt commented on #71
PR #257 contains an example of how to use argparse sub-commands as well as a tweak to ``cmd2`` so that it properly supports help for sub-commands.

If anyone has any comments or suggestions for improvement, I'd appreciate hearing them.

[2018-01-21 00:46] tleonhardt opened #258 "Unknown commands should not end up in the history"
Currently if an unknown command is executed, that command ends up in the history and is displayed by the **history** command.

Unknown commands should not be saved in the history.

[2018-01-21 02:23] tleonhardt opened #259 "Explore issue with automated transcript generation"
Currently the ability to automatically generate a transcript with **history -t transcript_file.txt** works well, but not perfectly.  There are a minority of cases where it generates a transcript which nominally looks correct but which fails actual transcript testing.

The automated transcript generation feature is awesome if users can count on it 100% of the time (or at least very close to it).  S

[2018-01-22 02:59] kotfu commented on #259
I completely agree that the new **history -t** function to generate a transcript should always produce a transcript which will pass transcript testing. Do you have an example that doesn't work?

[2018-01-22 03:10] tleonhardt commented on #259
I found a few examples last night that didn't work, I'll see if I can replicate one ...

[2018-01-22 03:42] tleonhardt commented on #259
Overall the **history -t** functionality seems pretty reliable.  The cases I can find where it doesn't work properly so far appear to exclusively be because something is getting printed to **sys.stdout** or **sys.stderr** instead of **self.stdout** or because some command behaves slightly differently when outputting to a pipe/file instead of a terminal.

Lets just keep this issue around for a litt

[2018-01-22 05:13] tleonhardt commented on #259
@kotfu Ok, I finally have a decent example for you.  Using the latest code on the **sub-commands** branch (in the PR), if you do the following in a ``cmd2`` application:

[code]

And then when you attempt to validate the generated transcript, it will fail:
[code]

[2018-01-22 05:36] tleonhardt opened #260 "Discontinuing support for Python 2.7 on April 15, 2018"
Supporting multiple old versions of Python is becoming more and more burdensome as good features get added to newer versions of Python which don't get back-ported to older versions.

I don't want to abandon support for versions of Python that users are actively using.  But I also don't want to waste developer time supporting versions nobody cares about.

So whoever reads this, please feel free to

[2018-01-22 05:37] tleonhardt commented on #260
I only care about Python 3.5, 3.6, and 3.7 at this time.  Supporting each of those versions is important to me for the foreseeable future.

[2018-01-23 02:07] #71 closed

[2018-01-23 02:07] #254 closed

[2018-01-23 02:07] #258 closed

[2018-01-23 03:03] kotfu commented on #260
3.4+ for me, although I could be persuaded to discontinue support for 3.4.

As an only partially relevant data point, the [Requests](http://docs.python-requests.org/en/master/) library supports 2.6, 2.7, 3.4, 3.5, 3.6 and 3.7.

[2018-01-23 03:14] tleonhardt commented on #260
@kotfu Last night I merged in a change where for Python 3.4 and earlier there is now an additional dependency on ``contextlib2``.  Does that affect you negatively at all?  I hope not.  This was in pursuit of having "help" provide output to stdout for commands using one of the argparse decorators.  For 3.5+ all the good stuff in ``contextlib2`` got merged into the built-in ``contextlib``.

What do

[2018-01-23 03:19] kotfu commented on #260
The additional `contextlib2` dependency is no problem for me.

I think we should choose some date when we will no longer be supporting python 2.x. On that date, we make a new release (i.e. 0.12.0 or whatever) that does not run tests against python 2.x and which states that there is no support for python 2.x. Then we can begin cleaning up the 2.x cruft, like the `six` library and the `contextlib2`

[2018-01-23 03:29] tleonhardt commented on #260
Ok, I like the date-based approach?  When do you think a good date would be?  The latest I would want it to be would be the end of 2018.  But I would be happy with earlier in the year.  I look forward to cleaning up the codebase by removing the 2.x cruft.  And I would love to start being able to use optional type hints for arguments and return values.

[2018-01-23 03:36] tleonhardt commented on #71
@lobocv Just an FYI, you can look at the [subcommands.py](https://github.com/python-cmd2/cmd2/blob/master/examples/subcommands.py) example that recently got merged into master to see what we were talking about in terms of support for sub-commands.

[2018-01-23 04:32] kotfu commented on #260
What about end of summer? We give ~ 6 months notice and discontinue support for Python 2.x on Aug 31, 2018.

[2018-01-23 04:49] kotfu commented on #259
The problem is that the help text for the **history** command includes slashes. According to our current transcript rules, anything enclosed in slashes is a regular expression. In the case of the history help, we don't intend for the thing inside the slashes to be a regular expression. That's why it fails. If you change the **/regex/** literal in the help to **|regex|**, then the transcript works

[2018-01-23 14:20] tleonhardt commented on #259
I can see a couple possible solutions other than the one you mentioned:

1. For the **history** command, replace the usage of "/" as the regex escape character with "|".  This is a quick and easy.  But it feels a little asymmetric since we use "/" as the regex escape for transcripts.

2. Add a post-processing step to **history -t** where after the file has been written, we grep through it and esca

[2018-01-23 15:57] lobocv commented on #256
I have a decorator based approach that has zero code changes to the Cmd class. However, it is not developed by me so I will need to ask permission before I make any PR.

[2018-01-23 16:57] tleonhardt commented on #256
I look forward to a PR from you and/or your colleague.  A decorator-based approach with zero code changes to the Cmd class sounds perfect!  Thanks.

[2018-02-01 01:45] #259 closed

[2018-02-01 19:14] xNinjaKittyx opened #262 "Has cmd2 completely dropped support for optparse?"
I was unaware that argparse support was released, and it seems like optparse isn't usable anymore either.

The docs say that optparse is deprecated (not removed), but when I try to do
`from cmd2 import make_option`

I get ImportError

So, is optparse support completely gone?

Edit: This is version 0.8.0 For now, I've just downgrade my cmd2 to 0.7.9 to make it work.
Still the 0.8.0 docs should be f

[2018-02-01 21:59] tleonhardt commented on #262
@xNinjaKittyx ``argparse`` support was added in the 0.8.0 release which came out early this morning.  In that same release ``optparse`` support was officially deprecated, but not yet removed.

If you wish to continue to use ``optparse`` with the current ``cmd2`` release, then you simply need to import **make_option** directly from ``optarse``:

[code]

We did cover this caveat in the CHANGELOG.  I

[2018-02-02 00:06] xNinjaKittyx commented on #262
I see. Thanks for the clarification. I've already started to port my code to argparse.
Also it makes a lot of sense to change that import statement to force users to realize that it will be removed eventually. (However, I think print statements could also be helpful in those deprecated files to constantly warn users that it'll be deprecated soon.)

I think the docs could be more clear by at least

[2018-02-02 00:30] tleonhardt commented on #262
Thanks for the feedback.

I don't want to put in nagging print statements warning users about the ``optparse`` deprecation, at least not yet.

But I will try to make the docs more clear.

[2018-02-02 01:01] tleonhardt commented on #262
@xNinjaKittyx I submitted PR #263 to help improve the clarity of the docs in relation to this issue.  Please feel free to comment on that PR if you have further suggestions for improvement and/or to let us know if you think those changes are sufficient to clearly communicate the changes in this release.

Hopefully you are finding porting your ``cmd2`` application code to use the new argparse-based

[2018-02-02 02:04] xNinjaKittyx commented on #262
Looks good!

Yeah I was able to switch over to argparse fairly easily. The only mildly annoying thing is setting up all the parent ArgumentParsers rather than just having make_options assigned to variables and customizing each options parser.

[2018-02-02 02:12] tleonhardt commented on #262
We tried hard to find a way to provide something equivalent to **make_option** from ``optparse`` and we couldn't figure out how to do it for ``argparse``.  Their APIs are so close to being compatible, but not quite.

Thanks again for your feedback.

[2018-02-02 02:13] #262 closed

[2018-02-04 02:14] tleonhardt opened #265 "Consider adding optional persistent history"
It would be nice if there was an easy way to add persistent history to ``cmd2`` applications.

We would need to decide if this is done for readline history, ``cmd2`` **history** command history, or both.  Perhaps there would be two separate options for making each of these persistent?

We could probably add an optional argument or two (with default values) to the cmd2.Cmd.__init__() initializer.

[2018-02-04 02:22] tleonhardt opened #266 "Explore automatically paging long output"
It would be nice if long output which is bigger than can fit within the height of the terminal is automatically paged or at least if the option for doing so in an opt-in fashion existed within ``cmd2``.

The size of the terminal can be retrieved on all platforms as follows:
[code]

It probably wouldn't make sense to add a dependency on [Click](http://click.pocoo.org) just for this, but Click's [ec

[2018-02-07 14:06] mgiaco opened #267 "add a 'do_xxx' method to the cmd2 object?"
Hi,
Is there a way to extend a Cmd2 object with a custom "do_xxx" method?  I would like to add some "do_xxx" method´s after I have already initialized the object.
[code]

[2018-02-07 20:53] tleonhardt commented on #267
Extending a Cmd2 object with a custom ``do_xxx`` method is trivial if you do it **before** you initialize the instance of the object:

[code]

It is also trivial to extend a Cmd2 object with a custom method **after** you initialize the object **if you don't care about that method appearing in the help menu**:

[code]

With that code, running the **xxx** command will work and getting help on it wit

[2018-02-07 21:00] tleonhardt commented on #267
The entire implementation for **get_names** is:
[code]

So if there is some way to get the method dynamically added at runtime to show up in a **dir** for the class, then you wouldn't need to override this method.

[2018-02-08 13:28] mgiaco commented on #267
Hi @tleonhardt, as always many thanks for the great answer.  I made a short example and it works for me. Do you see anything I could do in a more pythonic way?

[code]

thx
mathias

[2018-02-08 17:27] tleonhardt commented on #267
What you are doing looks fine to me.  If dynamically adding **do_*** command methods at runtime is a feature multiple end users want, then we could add a method in the ``cmd2.Cmd`` class to better support this.  But so far you are the first user who has mentioned wanting something like this.

[2018-02-09 01:23] #256 closed

[2018-02-09 01:29] tleonhardt opened #268 "Improve code coverage of unit tests"
Over time our code coverage has slowly declined from a high watermark of 97% to a current value around 87%.  This has primarily been do to new features getting added which have incomplete code coverage.

We should all make an effort to increase code coverage for the 0.9.1 release.  This will likely be a tricky and time consuming effort because a lot of the uncovered code is particularly difficult

[2018-02-09 02:52] tleonhardt opened #269 "Fix Sphinx docs automethod feature"
It appears that none of the documentation being inserted into the Sphinx docs at [cmd2.rtfd.io](http://cmd2.readthedocs.io) via the **automethod** capability of automatically inserting documentation on Python methods is actually getting in inserted into the docs.

[2018-02-12 04:23] #265 closed

[2018-02-12 04:23] kotfu opened #271 "Multiple decorators breaks help on subcommands"
Make the attached modifications to [examples/subcommands.py](https://github.com/python-cmd2/cmd2/files/1715319/subcommands.txt). I added a simple decorator, which I then added to `do_base()`. With the additional decorator, the `help` command does not behave as expected.

`help base` yields:

[code]

Notice the incorrect and mangled command name on the first line.

If you switch the order of the de

[2018-02-12 04:34] tleonhardt commented on #269
This was fixed by PR #270.

We simply needed to add **contextlib2** to ``docs/requirements.txt``.

[2018-02-12 04:34] #269 closed

[2018-02-12 04:36] tleonhardt commented on #271
Hmm .. this one seems like it might be tricky to fix.  Do you have any good ideas?

Getting the help to work correctly for subcommands at all was a pain, in part because I couldn't find a way to query an ``argparse.ArgumentParser`` to get access to its subparsers - it was easy to find out if it hand any subparsers, but not to get access to them.

[2018-02-12 04:38] kotfu commented on #271
I haven't even looked at the help code yet, I'll try and take a peek tomorrow.

[2018-02-12 21:30] tleonhardt opened #273 "Consider which class variables should be made into instance variables"
PR #272 brought up the fact that now that users can nest instances of ``cmd.Cmd2`` to support creating sub-menus, we should revisit which class variables should be made into instance variables to prevent potential problems.

[2018-02-14 04:26] kotfu commented on #271
Yikes. I'm not sure the current implementation can be modified to solve this problem. I can't think of a way to make the `__dict__['has_parser']` bits work when there could be multiple decorators and those decorators could be in any order. We may have to try and think of an alternative design pattern, like some class method which you call to register your arg parser where you pass the arg parser a

[2018-02-14 05:02] tleonhardt commented on #271
I'm not sure, but I think that using the [functools.wraps](https://docs.python.org/3.6/library/functools.html) helper in our decorators to carry over the metadata from the undecorated method may solve a lot of problems for us.

[2018-02-15 04:09] kotfu commented on #271
Didn't know about `functools`, looks super useful. `functools.wraps` could solve the problem, but it won't work if you want to use a decorator from another 3rd party package.

[2018-02-15 10:18] mgiaco commented on #267
many thanks, works great

[2018-02-15 10:18] #267 closed

[2018-02-16 02:20] tleonhardt opened #274 "Fix tab completion for subcommand help"
Tab completion works for subcommands and subcommand help works, but tab completion of the subcommand name does not work when using the **help** command.

[2018-02-19 02:21] teto opened #275 "My transcript does not contain the output of commands"
I had written some tests manually that are now obsolete because of internal changes. I thought of using transcript based testing instead so this is my first try but I am not sure to do it correctly:
http://cmd2.readthedocs.io/en/latest/transcript.html
After running a few commands, I did `history 1:4 -t transcript.txt` which saves the following transcript.txt:
[code]
This lacks the output, here is

[2018-02-19 03:24] tleonhardt commented on #275
@teto
In your ``cmd2`` application, how are you sending your output to the screen?

In general ``cmd2`` makes some important assumptions regarding how you generate output for users.  I'm thinking we may want to make it a little more clear in the documentation what these assumptions are.   The main assumption is that all output for the user is generated using one of the following three methods:
- `

[2018-02-19 05:06] teto commented on #275
I had no idea, poutput doesn't appear in http://cmd2.readthedocs.io/en/latest/transcript.html.
Couldn't the function hijack the stdout temporarily though ? use its own fd and write it on the regular standout  as well as in the transcript ?
I had not realized the project was so lively (seen 0.8 this morning). Thanks for your work and the new features !

[2018-02-19 06:49] aseemjakhar commented on #194
Hi,

In the latest version do_cmdenvironment has been removed. How does one entirely remove built-in commands now?

[2018-02-19 13:42] tleonhardt commented on #194
Hi Aseem,

I'm not sure I understand your question.  Would you like to remove other built-in commands?  Or are you upset that we removed the ``cmdenvironment`` command?

In the latest version the functionality in the **cmdenvironment** command  got combined with the ``set`` command in the form of **set -a**.

If you wish to remove other built-in commands, look at the following example:
https://git

[2018-02-19 13:43] tleonhardt opened #276 "Update remove_unused.py example"
Now that the functionality present in ``do_cmdenvironment`` got combined with ``do_set``, the [remove_unused.py](https://github.com/python-cmd2/cmd2/blob/master/examples/remove_unused.py) example is outdated and needs to be updated.

[2018-02-20 03:15] tleonhardt commented on #275
That function is already hijacking ``self.stdout`` and redirecting it to a file.  I'd have to look at it - we might be able to hijack ``sys.stdout`` and also redirect it to that file.  But in order to get all of the features of ``cmd2`` to work properly, such as redirecting command output to a file and the ability to pipe command output to a shell command, it is important to use ``self.poutput()``

[2018-02-20 04:26] kotfu opened #277 "Consider adding synonym capabilities"
It would be nice if you could teach cmd2 about synonyms for commands.

Say for example I create a command called **config** which shows the contents of a configuration file. I would like to make that same functionality available in a command called **settings**. I can make that happen by creating a **do_settings()** method which calls **do_config()**, but I have to remember to handle the help mess

[2018-02-20 04:43] kotfu opened #278 "Consider categorizing output of 'help' command"
Right now the help command just gives you an alphabetical columnar list of commands. It would be nice if there was a way to create groups or categories of commands, so you could have related commands show up together.

Instead of this:

[code]
It would be nice if you could create something like:
[code]

It would be great if you could not only control the sections of the help, but the order and for

[2018-02-20 06:29] aseemjakhar commented on #194
Hi Todd,

Thanks for the quick response.
No, Im not upset :). My query is:
1. To remove all the builtin commands entirely, based on this example we could just del do_cmdenvironment.
2. Now that do_cmdenvironment is removed in the latest version of cmd2. I wanted to know if there is still an elegant way to remove all built-in commands, like a single method to disable all or something similar to the

[2018-02-20 13:36] teto opened #279 "failed tests on nixos"
I've updated the package for nixos here https://github.com/NixOS/nixpkgs/pull/35162#issuecomment-366727634.

When running the tests, I get 25 failures. It's not very important but maybe you have an idea about fixing these. I might be able to help when I get more time.
[code]

[2018-02-20 16:58] tleonhardt commented on #277
The current ability to add shortcuts basically functions as an alias capability, but there is now ability to get help on the shortcut.

There is also the ability to easily set another do_* method equal to an existing one to create and alias, but this also has issues.

It would be nice if there were something like a ``@alias(do_foo)`` decorator that could be applied to a **do_*** method and automat

[2018-02-20 17:03] tleonhardt commented on #278
I really like the concept of having categories of commands which get displayed together in the help menu, particularly if this is an opt-in capability which defaults to the current behavior by default.  That would be a nice addition.

Potentially of relevance, the existing behavior actually divides the help menu into three categories:
- Documented commands
    - A **do_foo** method exists which ha

[2018-02-20 17:09] tleonhardt commented on #194
Hi Aseem,

Thank you for clarifying you question.

The previous example for removing a built-in command demonstrated how to remove a **single** command, in particular the **cmdenvironment** command.  There never has been a capability for automatically removing all built-in commands.

You can still remove built-in commands in the same manner.  Just replace the ``do_cmdenvironment`` with the appropr

[2018-02-20 17:14] tleonhardt commented on #194
Issue #276 was created to remember to update the relevant example.

[2018-02-20 17:38] teto commented on #279
Honestly I wouldn't recommend you to try in a VM. https://nixos.org/ is very different from typical linux distributions such as debian/gentoo/arch so unless you want to invest ton of time learning the nixos way (and fixing the tests without would be hard), it will be very hard. It s still confidential so if anything I should do it (but my list is full already). Nevertheless I believe some errors m

[2018-02-20 20:57] kotfu commented on #279
@tleonhardt I'll be happy to run with this one, while I've never used NixOS, I have done lots of packaging work on other linux distros.

My initial, but far from comprehensive review of the test output leads me to believe there are several problems:

1. Many of the tests fail because they can't locate certain files (i.e. `tests/scripts/empty.txt`, `tests/scripts/recursive.py`, etc). It appears tha

[2018-02-21 00:58] Mic92 commented on #279
Switching to build from github using`fetchFromGitHub` instead of pypi should solve some missing files.
vi could be also added as build time dependency (`buildInputs`).
Also we are usually try to be strict on specifying all dependencies, we sometimes make trade-offs.

[2018-02-21 01:05] kotfu commented on #279
A few additional thoughts upon further study of the test output above.

I continue to believe the source distribution did not get completely unpacked, or something deleted a portion of the source distribution after it was unpacked. Many of the test errors  appear to be caused by missing files in `tests/scripts` or `tests/transcripts` which should be included in the source distribution.

The test s

[2018-02-21 01:36] tleonhardt commented on #279
It looks like I may have not sufficiently cleaned up before building a PyPI package and it picked up examples and tests from a previous release.

I believe we need to add the following lines to the bottom of MANIFEST.in so that all of the tests get packaged into the PyPI package.  If we want the examples included, we would need to add similar lines.

[code]

[2018-02-21 01:36] Mic92 commented on #279
after switching to github as source and adding vim to `checkInputs` the only failing test is:

[code]

utf8 locales could be set easily for the tests. But apparently this package works fine without.

[2018-02-21 01:41] kotfu commented on #279
Good catch @tleonhardt. I'm happy to make a PR to fix the MANIFEST.in file which should allow @mic92 to switch back to pulling from pypi if he wants. I can look at why the `test_path_completion_user_expansion` test is failing, my initial guess is something to do with the **$HOME** environment variable, but I'll have to check for sure.

[2018-02-21 01:42] tleonhardt commented on #279
@Mic92 Is it failing on that very last assert in that test?  If so perhaps we can just move that very last assert.  I believe it is making an inherent assumption that the user this test is running as has a home directory (i.e. either when they were added as a user, a directory was created, or they have logged in at least once so the directory was created) and a $HOME environment variable exists.

[2018-02-21 01:42] Mic92 commented on #279
I first suspected this was due non-existing home (our build user does not have a home because rooky build-systems try to install stuff there). But also `HOME=$(mktemp -d) py.test` yields the same failure.

[2018-02-21 01:43] tleonhardt commented on #279
I'm not sure if Bash user path expansion relies on the $HOME variable or not.  It may not.

[2018-02-21 01:46] tleonhardt commented on #279
We can probably just remove the last 5 lines or so of that unit test so that it will still work on systems with a non-existent user home directory.

@kotfu Do you want to do the PR for the MANIFEST.in file change and the unit test tweak?

[2018-02-21 01:46] Mic92 commented on #279
`HOME=/tmp python -c "import os; os.system('ls ~')"` works as expected.

[2018-02-21 01:47] Mic92 commented on #279
same for python's globbing

[2018-02-21 06:12] tleonhardt opened #280 "Add a script at the top-level to help automate releases"
It would be useful to add a top-level script called something like **pypi_release.sh** that automates the steps involved with a PyPI release of ``cmd2``.  The contents would be something like the following:

[code]

This script should contain a comment that reminds the user that the version needs to be update in four (4) separate places before doing a release:
- cmd2.py
- setup.py
- docs/conf.py
-

[2018-02-21 06:36] tleonhardt commented on #279
This should be closed by PR #281.  If you still have problems running the tests on NixOS, please let us know and feel free to re-open the issue or create a new one.

[2018-02-21 06:36] #279 closed

[2018-02-21 13:15] aseemjakhar commented on #194
Hi Todd,

Thank you for the detailed reply. I just realized, I skipped part of the comments in the code. My bad. It clearly mentions del for each do_* to remove individual commands. The project Im working on, currently needs a command line interface only to execute custom commands and not explore any python/shell specific features. However, going forward I may think of using built-ins.

[2018-02-21 17:30] kotfu commented on #279
One other comment for @teto and @mic92: if you want to go back to retrieving source from pypi, you'll need to wait until we release version 0.8.1, so the packaging bugs we fixed will be represented in the archive.

[2018-02-21 20:30] Mic92 commented on #279
It is not an issue to build from github. In the end it will end up in our source cache.

[2018-02-23 05:12] kotfu opened #282 "Fix help message for edit command"
The edit command no longer allows you to edit previous commands, but the help message says you can.

[2018-02-24 21:18] tleonhardt commented on #280
It might be possible to just update **fabfile.py** and use [Fabric3](https://pypi.python.org/pypi/Fabric3).

[2018-02-27 13:57] tleonhardt commented on #271
#283 closes this

[2018-02-27 13:57] #271 closed

[2018-02-27 14:08] #275 closed

[2018-02-27 14:51] #273 closed

[2018-02-27 14:54] tleonhardt commented on #273
@kotfu Do you think that #284 should have closed this?  Or do you think we should reopen it and work on it further?

[2018-02-27 17:07] #276 closed

[2018-02-27 17:07] #282 closed

[2018-03-01 04:17] kotfu opened #287 "Exponential growth in time required to run large numbers of tests"
I'm still investigating the root cause of this issue, but it is reproducible.

I discovered this problem while working on https://github.com/tomcatmanager/tomcatmanager, a project which utilizes `cmd2`. A complete run of the test suite for that project makes several hundred calls to `cmd2.Cmd.onecmd_plus_hooks()`.  As the test suite has grown, I have noticed the performance of the test suite degra

[2018-03-01 06:19] tleonhardt commented on #287
Nice writeup for a confusing issue.  I have noticed for awhile now that there is a problem with slowness in the unit tests if you don't run with pytest-xdist.  When I did a little profiling six-ish months ago, the culprit definitely seemed like ``pyparsing``, which is why I created #37.

[2018-03-01 14:07] tleonhardt commented on #287
Other people have reported similar problems with pyparsing getting slower under vaguely similar circumstances:
- https://github.com/tulip-control/tulip-control/issues/54
- http://pyparsing.wikispaces.com/share/view/34557794

The first link above reported a 500 times performance improvement after porting their parsing logic to [PLY](https://github.com/dabeaz/ply).

[2018-03-01 20:40] tleonhardt opened #288 "Add tab-completion helpers for positional and flag-based completion"
Add helper functions in ``cmd2`` to assist with tab-completion in the following scenarios:
- Completion following an ``argparse`` flag
- Completion based on argument index/position

Include an example of how to use these and unit tests.

[2018-03-01 20:46] tleonhardt opened #289 "Remove support for abbreviated commands"
The ability to abbreviate commands has always seemed like an anti-feature.  The presence of good tab-completion of command names makes it completely unnecessary to allow for accepting abbreviated command names.  While accepting abbreviated command names can result in users accidentally doing something quite unintentional.  Supporting abbreviated commands significantly complicates other support for

[2018-03-01 20:47] tleonhardt commented on #289
@kotfu Let me know if you have a problem with removing abbreviated commands.  It is something I have been thinking about removing for around a year and I would like to finally get rid of it as long as you do not have a strong objection.

[2018-03-01 20:56] kotfu commented on #289
No objections here. Tab completion is super easy, and if you really want to still offer abbreviated commands, you can just create *do_command()* methods for both the long and the short name.

[2018-03-01 21:00] tleonhardt opened #290 "Consider removing support for case-insensitive commands"
Supporting case-insensitive command names via the ``cmd2.Cmd.case_insensitive`` attribute gets a little complicated.  How should the case-insensitiveness behave for shortucts?  What about sub-command names?

Does anyone actually use and and like support for case-insensitive commands?  If not, I would prefer to remove this "feature".  But if people do use it and like it then we won't touch it.

[2018-03-01 21:00] tleonhardt commented on #290
@kotfu Do you have an opinion on this one way or the other?

[2018-03-01 23:46] tleonhardt commented on #288
@kmvanbrunt You should possibly be aware of issues #274 and #277 - they may have some degree of relevance towards what you are working on for this issue.

[2018-03-02 04:18] kotfu commented on #290
I can speak for an army of one (that's me 😄 ), but I think case insensitivity is a relic of poor system design from the 1970's that I would love to see disappear. I'm sure at some point in the distant past, it was easier to be case insensitive than to be case sensitive, but since the advent of "modern" stuff like ASCII, case insensitivity has just been a pain. I wouldn't feel a bit bad if we got r

[2018-03-02 04:35] kotfu commented on #37
I have no experience with any of the parsing tools linked above, but in 30 minutes of trying to learn a bit about each one, I think PLY seems like the best fit for cmd2. ANTLR doesn't feel very python-ish, given that you use a java program to define the grammar and then have it auto-generate python code for you. shlex only tokenizes and would require us to write a custom parser. pyparsing is slow

[2018-03-02 05:20] tleonhardt commented on #37
I think either ``PLY`` or ``shlex`` would be reasonable options, with ``PLY`` probably being the path of least resistance.

Regardless this issue will be somewhat of a pain to work on because it will involve two learning curves:
- First figuring out how ``pyparsing`` works along with how the current ``cmd2`` pyparsing-based parsing implementation functions
- Second learning how ``PLY`` works and h

[2018-03-02 21:58] #274 closed

[2018-03-02 21:58] #288 closed

[2018-03-03 00:09] tleonhardt opened #293 "Remove unused unit test which uses pexpect"
Remove the usage of ``pexpect`` by unit tests and the one unit test which uses.  This test is always skipped on the continuous integration (CI) platforms since it doesn't work there, so it isn't doing us any good.

[2018-03-03 00:12] #289 closed

[2018-03-03 00:56] #293 closed

[2018-03-03 04:47] #290 closed

[2018-03-03 15:41] tleonhardt commented on #280
Improved the clean() function in **fabfile.py** in the following commit:
https://github.com/python-cmd2/cmd2/commit/a6f0e06a350f2ab65d3bf635fa7aae0b655ed44a

The ``fabric3`` module allows running commands in the fabfile in the following fashion:
[code]

So for doing a release, it should be as simple as the following (_untested_):
[code]

[2018-03-03 15:42] tleonhardt commented on #280
This was closed by https://github.com/python-cmd2/cmd2/commit/a6f0e06a350f2ab65d3bf635fa7aae0b655ed44a

[2018-03-03 15:42] #280 closed

[2018-03-08 01:00] tleonhardt commented on #266
PR #297 adds a new ``cmd2.Cmd.ppaged()`` method for displaying long output using a pager.

On macOS and Linux it uses **less -SRXF** and on Windows it uses **more**.

If we actually wanted to in some cases redirect ALL long output through a pager, we could add a new runtime-settable attribute to turn this capability on/off.

[2018-03-12 16:18] tleonhardt commented on #268
PR #301 partially addressed this issue, in particular in relation to tab-completion of submenu commands.

[2018-03-12 20:51] albertored opened #303 "SubMenu `shared_attributes` behaviour"
The current behaviour for `shared_attributes` in submenus is to copy attributes from parent on entering command loop and then reset original child attributes on exit loop.

Is there a reason for this?

I was expecting to have shared attributes modified on child to be copied back to parent on child loop exit in order to preserve the change.

What do you think? Maybe this behaviour can be conditione

[2018-03-13 00:17] tleonhardt commented on #303
Honestly I haven't used the submenu feature yet and I'm not sure if there is a good reason for why the ``shared_attributes`` behave like they do.  My guess would be that it met the needs of the people who designed this feature.

@lobocv Is one of the folks who designed this feature.  Calvin, can you speak to why it is implemented like that?

Regardless, I think it would be reasonable to condition

[2018-03-13 08:21] albertored commented on #303
Ok, it sounds good to me.

Just to add more info I explain the use case I'm working on.

Suppose you have a main `Cmd` class with a submenu. I would like to be able to set some options (like `debug` and `colors`) globally in my application so I put them in the `shared_attributes` dict argument of `AddSubMenu`. In this way if a user changes one option in the main app and then it enters the submenu

[2018-03-14 01:34] lobocv commented on #303
I'm fine with changing the behaviour to make it apply the changes to the parent. That actually seems logical otherwise it's basically read-only. Care will have to be made for anything non-mutable such as lists.

[2018-03-14 16:46] tleonhardt commented on #277
I think it would be cool if there was some sort of **alias** command that an end-user could use at run-time to create aliases in a fashion similar to how ``Bash`` aliases are created.

It would also be nice if there was an option for reading these aliases from some sort of configuration file at application startup time.  That could allow specific end users to customize an application for their nee

[2018-03-15 01:15] tleonhardt commented on #303
I believe this issue was closed by PR #306.

@albertored Feel free to re-open this issue if there was more work you want to do with it.

[2018-03-15 01:15] #303 closed

[2018-03-15 01:24] tleonhardt commented on #277
@kmvanbrunt Do you have any ideas for a good way to architect this sort of alias/synonym feature?  I'm curious since both @kotfu and I like the idea and it seems like something which would be fairly generically useful.  Moreover, we would want both **help** and tab-completion to work properly for command aliases and I know you have better insight into the overall tab-completion architecture than e

[2018-03-15 04:41] kmvanbrunt commented on #277
I don't think the **help** command should apply to aliases, since an alias isn't necessarily just a command. It could be an entire command line like the common `alias ll='ls -l'`. If you were to run a **man** command on ll, bash does not expand it first.  So basically aliases, like shortcuts, must be the first token on the command line for them to be expanded.

I currently tab complete shortcuts t

[2018-03-15 14:00] tleonhardt commented on #277
I like the behavior that the **alias** command would just list all aliases if no arguments are given.

[2018-03-16 16:43] tleonhardt opened #313 "Add unit tests for cmd_with_subs_completer"
Add the following associated with PR #312 which added the new ``cmd_with_subs_completer()`` method as a convenience to make tab-completing subcommands easier:
- Unit tests covering this new method
- Update of [subcommands.py](https://github.com/python-cmd2/cmd2/blob/master/examples/subcommands.py) and/or [tab_completion.py](https://github.com/python-cmd2/cmd2/blob/master/examples/tab_completion.py

[2018-03-16 22:58] #277 closed

[2018-03-17 00:20] tleonhardt opened #317 "Add option to specify a startup script in the cmd2.Cmd.__init__()"
One thing which would make the new **alias** command dramatically more useful would be the ability to specify a script to automatically **load** at startup.

This script could run any arbitrary set of commands contained within the given ``cmd2`` application.  But one thing it would be particularly suitable for is allowing different end users to personalize their environment with custom aliases.

[2018-03-17 00:23] #313 closed

[2018-03-17 00:25] tleonhardt commented on #277
@kotfu Does the recently added **alias** command meet the needs of what you envisioned with the synonym capability?  If not, we can re-open this Issue and/or create a new one.

[2018-03-17 02:18] MarkLalor commented on #317
I think this is super useful for much more than aliases! This was basically one of the first things I implemented in my own cmd2 app since it requires initialization to be useful. It's nice to be able to quickly add and remove things like "set debug true" as well.

I think it would be a good idea to encourage using an rc file for configuration in the documentation because as far as I can tell, it'

[2018-03-17 15:30] kotfu commented on #37
Created new branch `ply` for this work.

[2018-03-17 15:40] kotfu commented on #277
The recently implemented **alias** capability is better than what I had envisioned for synonyms, because the user can control it. No need to re-open this issue.

[2018-03-17 16:08] #317 closed

[2018-03-24 01:23] kmvanbrunt opened #327 "Explore eliminating POSIX_SHLEX and STRIP_QUOTES_FOR_NON_POSIX"
cmd2 currently defaults to non-POSIX parsing with shlex and strips quotes before passing args to functions.

The basic difference between POSIX and non-POSIX parsing rules in shlex deals with how quotes are processed. See [https://docs.python.org/3/library/shlex.html#parsing-rules for more details.](url)

Previously it was decided to default to non-POSIX since the quoting rules are more intuitive.

[2018-03-24 01:30] tleonhardt commented on #327
I am happy with the default behavior and would be fine with simplifying maintenance by removing these options.  If we do, just make sure to flag it as a potentially breaking change in the CHANGELOG.

I don't know if anyone is using these to change the default behavior.

[2018-03-24 01:35] MarkLalor commented on #327
Sorry if this isn't directly related, but is this non-POSIX option why backslashes are not recognized? This seems to cause path completion to fail for directories with spaces.

[2018-03-24 01:41] tleonhardt commented on #327
@MarkLalor
Hey Mark, @kmvanbrunt has been putting a TON of work recently into dramatically improved tab-completion of paths with spaces and other things like that.  His changes are in the **new_quoted_completion** branch and I suspect he will create a PR for this in another week or so.

He could do a better job than I could of explaining exactly why it doesn't work in the current incarnation ...

[2018-03-24 01:57] kmvanbrunt commented on #327
@MarkLalor
That isn't the exact reason we currently don't tab complete strings with spaces.
However, in my current branch where I am adding support for spaces and quotes in completion, I need to settle on 1 way to parse. The non-POSIX rules of just using quotes as opposed to escaped space characters is a lot more intuitive to me.

So it will work like this. If you know the item you are completing

[2018-03-24 02:08] MarkLalor commented on #327
@kmvanbrunt That sounds awesome, the way you've described it makes it sound nice and easy to use, just like normal POSIX commands, with the benefit of the intuitive quotes. Thanks for explaining. I think it's a great area to improve the package.

[2018-03-24 02:09] kmvanbrunt commented on #327
@MarkLalor
Thanks, I hope the final product is helpful.

[2018-04-03 04:41] kotfu commented on #327
Been working on the ply branch to replace pyparsing and agree that supporting multiple options here is kind of a pain.

Here's my ideal scenario:
- user types in their input
- cmd2 parses the input, stripping comments, looking for pipe redirection, quoted strings, etc
- cmd2 calls the appropriate `do_command` method, passing a ParsedString object (cmd2 already does this) which:
    - looks like a

[2018-04-03 04:43] kotfu commented on #37
Tried implementing it with ply, spent lots of time and got frustrated trying to make the pipe work.

Tried implementing it with shlex, and made rapid progress. I think I'm gonna switch horses and try and finish it just using shlex.

[2018-04-03 04:58] tleonhardt commented on #37
@kotfu You should touch base with @kmvanbrunt since I know he was thinking of taking a stab at a silex-based implementation and had a lot of ideas for how to best proceed with that.

I like the idea of a shlex-based implementation for multiple reasons:

1. ``shlex`` is built into Python so we would remove a 3rd-party dependency
2. ``shlex`` is designed for parsing shell-like commands and that is e

[2018-04-03 13:17] kmvanbrunt commented on #37
@kotfu @tleonhardt
I'll just dump core here. You may already know this stuff.

I found `shlex` to be very effective in the latest tab completion code I added.
Take a look at `tokens_for_completion()`. You could probably take the middle part of the function that parses out redirection/pipes and turn it into a common function that your tokenizer and the completion tokenizer use. That block of code w

[2018-04-03 21:36] kotfu commented on #37
I already saw `tokens_for_completion()`, it's what inspired me to try a `shlex` based implementation.

I easily solved the C and C++ style comments with a regular expression before calling `shlex.shlex()`. I'm gonna look at multi-line commands next, and I would like to continue to support them, because if you want to do any SQL, you pretty much need them.

My current strategy is to build a parser

[2018-04-06 23:02] xNinjaKittyx commented on #267
Is there an easy way to combine Cmd Subclasses together?

I would like to have multiple Cmd Subclasses (so they can access commands like poutput/perror) and combine them together.

[2018-04-06 23:06] elohim971 opened #339 "No module named cmd2"
Hello,
I would like to run a program.py with python but I get this error "No module named cmd2" even though I imported cmd2 and installed it... What could be wrong? What am I missing?

I've got Python 2.7.14 on Kali Linux via VirtualBox.

Thanks for your time

Jé

[2018-04-07 00:40] tleonhardt commented on #267
Hey Daniel,

In the latest version of Cmd2 you can use the SubMenu feature to combine
multiple Cmd subclasses into a menu-based hierarchy.

Hope hat helps,

Todd

On Fri, Apr 6, 2018 at 4:02 PM Daniel Ahn <notifications@github.com> wrote:

[2018-04-07 05:28] tleonhardt commented on #339
Hi @elohim971,

Can you give us a little more information regarding how you installed ``cmd2`` on Kali and how you are launching your **program.py**?

The fact that you are using VirtualBox as your VM environment shouldn't matter.  Kali is Debian-based nowadays isn't it?  That should be fine - we regularly test on Debian.

[2018-04-07 06:28] tleonhardt commented on #339
I just setup a VM with the latest version of Kali and installed ``cmd2`` using **pip** and was able to run one of the examples (after cloning this GitHub repo) just fine.

[2018-04-07 06:43] elohim971 commented on #339
Thank you for your quick answer already.

I imported cmd2 then **pip install** then **sudo apt-get install cmd2** just like that... maybe I missed a step, right?

"Kali is Debian-based nowadays isn't it?" How can I verify that on my computer? I don't really know :/

Thank you @tleonhardt

[2018-04-07 07:15] tleonhardt commented on #339
I would recommend using **pip** to install ``cmd2`` instead of using **apt-get** because you will get a newer version of ``cmd2`` that way, though either one should work fine.

I did the following on my Kali VM:
[code]
This updated all files on the Kali distro, installed ``cmd2`` using **pip**, cloned the ``cmd2`` git repo, and then ran a completely bare-bones vanilla ``cmd2`` application.  This a

[2018-04-07 18:34] elohim971 commented on #339
Thank you, I did all of that but I got a problem after #apt-get upgrade
  _The common error message triggered by this change looks as follows:    > zsh: defining function based on alias `foo'   > zsh: parse error near `()'    See https://bugs.debian.org/871816 for more information._

[2018-04-07 18:53] tleonhardt commented on #339
Ok, so your problem appears to be due to a bug in a specific version of **zsh** which has been fixed in newer versions of **zsh**.

I would recommend trying to run your ``cmd2`` application using **bash** and/or finding a way to update to a newer version of **zsh**.

I'm going to close this issue because there does not appear to be any problems with ``cmd2`` involved.  Feel free to reopen it if yo

[2018-04-07 18:53] #339 closed

[2018-04-07 23:56] tleonhardt commented on #37
I think your strategy of building a parser that passes all of the existing unit tests and then figuring out how to integrate it into ``cmd2.Cmd`` sounds like an excellent one.

[2018-04-08 00:13] tleonhardt opened #340 "Delete deprecated optparse code"
For the 0.8.0 release of ``cmd2`` on February 1, 2018 we officially deprecated all usage of the **optparse** module within ``cmd2`` and replaced it with **argparse**-based decorators.

We should plan to delete the deprecated **optparse** code in either the 0.8.3 or 0.8.4 release.

Any opinions regarding which of these releases it should be deprecated in?

[2018-04-09 12:58] cornerpirate opened #341 "Tab Completion of Paths"
Firstly I love cmd2. I have been trying to get tab completion of paths to work. On a Linux environment. I am getting this error below trying to follow the code shown at PyCon Florida:

`AttributeError: class Cmd has no attribute 'path_complete'`

Same error on Python 2.7 and 3 both of which have "cmd2" installed via pip and pip3 respectively.

The source I managed to get from the talk is as below

[2018-04-09 13:31] #341 closed

[2018-04-09 15:32] tleonhardt commented on #341
Hey @cornerpirate,

Recently @kmvanbrunt has been working on a lot of improvements to tab completion to handle things like tab completing paths with a space in it (and automatically adding quotes for you).

In the process of his refactoring, in the 0.8.2 release he made an architectural change where things like ``path_complete`` got converted from a method within ``cmd2.Cmd`` to a function outside

[2018-04-09 15:50] cornerpirate commented on #341
Thanks for the reply to this. There is now a working solution at least documented if people are hitting the error in this thread. So it is not currently pausing people I hope.

I have to say that I haven't had too many problems apart from that with the library in use today. Knocked out about 3 useful sub-commands with tab completion as required today.

[2018-04-09 16:44] tleonhardt commented on #340
Ok, unless there are any objections, lets target deleting the old **optparse** code for the 0.8.4 release.

[2018-04-09 17:07] tleonhardt commented on #341
We are glad you are finding ``cmd2`` easy to use ;-)

@kmvanbrunt Just put out the 0.8.3 release to PyPI which has the same code as the latest in GitHub.

[2018-04-09 20:51] cornerpirate opened #342 "Optional Formatting of Help Output"
Is there an option to control the formatting of commands displayed by the "help" command? By default it lists documented and undocumented commands as categories. What I would like to do is introduce categories.

So all the commands provided by cmd2 are clearly shown, and then all of my "do_*" functions are clearly identified separately. Am I just missing something in the documentation here or is t

[2018-04-09 21:00] tleonhardt commented on #342
@cornerpirate I think what you are requesting duplicates Issue #278.  Can you take a look and verify if that sounds like what you are looking for?

We currently don't have a way of separating documented commands into separate lists, but it is a good idea for a feature and one we are considering adding soon-ish.

[2018-04-09 21:54] anselor commented on #278
I just added a low-impact implementation of help categories in the help_categories branch.
Let me know what you guys think of this approach.

For the **help --long** (or maybe **help --verbose**), I was thinking just take the first non-empty line of function docstring used in the help for the command. Any thoughts?

[2018-04-09 22:07] cornerpirate commented on #342
Can 100% confirm that #278 is describing this.

Close the ticket and dance that you have a plan?

[2018-04-09 22:07] #342 closed

[2018-04-09 23:07] tleonhardt commented on #278
@anselor cmd2 will still be supporting Python 2.7 until the end of August 2018.  Optional type hinting is only available in Python 3.  So you will need to remove your usage of optional type hinting.

Also, there appear to be a lot of unit test failures for every version of Python other than 3.5.

We currently support versions 2.7, 3.4, 3.5, 3.6, and 3.7.

[2018-04-09 23:10] tleonhardt commented on #278
If recommend setting up multiple versions of Python in different virtual environments for testing.  This can be done either using the **conda** package manager which comes with the Anaconda distribution or the **virtualenv** module.

[2018-04-09 23:16] tleonhardt commented on #278
@anselor If you haven't already, check out the [Contributing Guide](https://github.com/python-cmd2/cmd2/blob/master/CONTRIBUTING.md) for advice on how to run the unit tests and such.

[2018-04-10 03:09] kotfu commented on #340
No objections here.

[2018-04-10 03:30] tleonhardt commented on #340
@kmvanbrunt Do you anticipate any negative end user impact if we delete the **optparse** code in the next release - i.e. will you be able to port all applications to using the **argparse** decorators?

[2018-04-10 03:35] tleonhardt commented on #37
I'm very glad to hear that the ``shlex`` implementation is progressing nicely!

I could take or leave the POSIX parsing support.  I'm happy with whatever you and @kmvanbrunt decide in regards to that.

For the multiline support, while I personally have never used it, I know that some of our end users do use it on a regular basis because we have gotten some interesting bug reports in the past relat

[2018-04-10 03:38] kmvanbrunt commented on #37
@kotfu
I believe the unicode issue is solved if you set ``shlex.whitespace_split`` to True. Otherwise anything not in ``wordchars`` gets split into an individual token. So something like 'αβγδ' would become ['α', 'β', 'γ', 'δ']

Is there a danger in just having ``shlex`` split on whitespace to allow unicode support? We can always handle the punctuation characters like I did in ``tokens_for_complet

[2018-04-10 03:46] kmvanbrunt commented on #340
We started that conversion today. I don't anticipate another release for
months, so its fine to delete the code now.

On Mon, Apr 9, 2018 at 11:30 PM, Todd Leonhardt <notifications@github.com>
wrote:

[2018-04-10 03:48] kmvanbrunt commented on #340
No, we have plenty of time to port the old **optparse** code to **argparse**

[2018-04-10 06:22] tleonhardt opened #345 "Investigate intermittent failures on AppVeyor for Python 3.6"
Occasionally the AppVeyor (Windows) tests will fail for Python 3.6 with an error like "ValueError: signal only works in main thread".

But when it fails and we force a rebuild, it will usually pass the next time.

I cannot reproduce the failure on my own Windows 10 VM.  From what I've seen this failure only occurs on AppVeyor and only for Python 3.6.

[2018-04-10 13:58] dhellmann opened #346 "version 0.8.3 dependency handling breaks cliff"
I had a bug report against cliff that cmd2 0.8.3 breaks the interactive mode because of a missing package. Looking at setup.py, I see it doing a bunch of logic in Python that could be handled using environment markers passed to setuptools instead that would let it be more reliable and let it work with wheels.

The original bug report is at https://bugs.launchpad.net/python-cliff/+bug/1762715

[2018-04-10 14:52] tleonhardt commented on #346
@dhellmann
Hi Doug,

We apologize for breaking ``cliff``.  Thanks for creating the issue.

PR #330 was created by @nsoranzo to add "wheel-compatible conditional requirements" which sould now allow us to work with wheels as well as source distributions.

I am relatively ignorant when it comes to ``setuptools``.  I just published a wheel of the 0.8.3 release to PyPI.  But it appears to be specific t

[2018-04-10 15:01] tleonhardt commented on #346
Oh and for whatever it is worth, the new dependency that was added for POSIX (non-Windows) platforms is [wcwidth](https://pypi.python.org/pypi/wcwidth).

[2018-04-10 15:04] nsoranzo commented on #346
The issue was introduced in commit 2f4198ef94262dc0c747c34541a72128164dc340 where the new `wcwidth` requirement was added only for setuptools < 18 . I'll open a PR to fix this and allow generic wheels (if possible).

[2018-04-10 16:01] tleonhardt commented on #346
We will have to try releasing a new Wheel distribution to PyPI and see how it goes.

@dhellmann Do you think that the changes @nsoranzo made in PR #347 should address the problems the recent release of ``cmd2`` created for ``cliff``?

[2018-04-10 18:48] anselor commented on #278
help -v / help --verbose
![screenshot_2018-04-10_14-46-05](https://user-images.githubusercontent.com/17968842/38577155-285b48a8-3cce-11e8-8dac-bdc10d7120fe.png)

[2018-04-10 20:05] tleonhardt commented on #278
I like the verbose help where you see a brief description about what the command does.

[2018-04-11 15:17] anselor commented on #278
I ran into a slight snag with the verbose help.
I'm currently checking the __doc__ property of the function. In the cases where there's a help_<command> function provided, this overrides the __doc__ string. The help_<command> functions don't return a string. Instead, they directly write their output to stdout by whatever means they wish. I could temporarily redirect all of stdout to a string to ca

[2018-04-11 21:53] tleonhardt commented on #260
@kotfu What would you think about moving the date we stop supporting Python 2.7 up a little bit so it happens sooner?  I've received multiple complaints from other ``cmd2`` developers that continuing to support Python 2.7 is a significant burden.  Maybe May 31, 2018 or April 30, 2018 could be a possibility?

[2018-04-11 23:02] tleonhardt commented on #278
This was closed by #348

[2018-04-11 23:02] #278 closed

[2018-04-12 02:50] kotfu commented on #260
I stopped supporting python 2 in my own projects almost 5 years ago. I have no problem accelerating the date when we stop supporting python 2.7.

There are clearly a handful of contributors that would like to stop doing the extra work to support python 2. We may cause some inconvenience for other users of `cmd2` by accelerating the date when we drop support for python 2. It's not like `cmd2` will

[2018-04-12 02:57] tleonhardt commented on #260
Ok, I think all active developers are in unanimous agreement that the sooner we stop supporting Python 2, then the easier it is for us to focus on making ``cmd2`` better.

Since supporting Python 2 has essentially been an extra tax on our developers, so as long as nobody objects lets say that April 15, 2018 (USA Tax Day) is the last day that Python 2 will officially be supported.

[2018-04-12 03:04] tleonhardt commented on #260
Are there any outstanding features which will be completed in the near term that anyone would like to get into a final Python 2 release?

If so, we can plan to do an 0.8.5 release on April 15, 2018.  If not, then we can stick with the 0.8.4 release as the final Python 2.7 release.

[2018-04-12 04:15] tleonhardt commented on #260
So tentatively, I think we should make the first Python 3 only release 0.9.0 and we should tag the codebase before that with a "Python2" tag and perhaps leave a "Python2" branch around for awhile in case we find any really bad bugs and want to put out a 0.8.x bug release fix for Python 2.

[2018-04-12 13:26] kotfu commented on #260
That’s how I did it for my own projects. So we would say the 0.8.x series is the last one that supports python 2. We branch 0.8.4 (or 0.8.5 depending on if we create it or not) and leave it around, maybe indefinitely. That way we can easily produce an additional 0.8.6 release should the need arise.

0.9.0 and forward would only support python 3.

I have nothing outstanding that I think needs to be

[2018-04-12 15:02] kotfu commented on #37
*@#&!*%. `ushlex` is python2 only. Maybe it's time for me to write a `shlex2` module...

[2018-04-12 15:10] kotfu commented on #37
@kmvanbrunt `shlex.whitespace_split` solves the unicode issue, but introduces other problems, like:

- `command>output.txt` lexes as a single token, not three tokens
- `command |wc` lexes as two tokens, not three tokens
- `command arg;suffx` lexes as two tokens, not four

[2018-04-12 15:11] tleonhardt commented on #37
@kotfu I don't believe we have ever advertised that we support unicode in command names, in fact I think we may say somewhere that we do not.  I'm not sure if that helps the parsing logic, but it might.

We do need to support unicode in command arguments (and command output).  But I don't think there is a hard rule that we need to support unicode in command names.  Of course if it is easy to do so

[2018-04-12 15:14] tleonhardt commented on #37
On a positive note it sounds like there are some good unit tests if you caught all of those edge cases in the parsing logic that quickly ;-)

[2018-04-12 15:17] tleonhardt commented on #37
When you parse with ``shell.whitespaces_split``, can it leave quotes in the tokens if they were there to start with?  If so, we could make a 2nd pass through each token and split in a different way and then strip quotes in the final tokenized output.

[2018-04-12 16:01] kmvanbrunt commented on #37
@tleonhardt
``shlex.whitespaces_split`` does leave quotes when used in non-POSIX mode. I use this feature a lot.
I also strip the quotes as you describe. ``tokens_for_completion()`` returns both versions of the tokens.

@kotfu
The following cases are already handled by the second pass I make over the shlex tokens. Did you receive the function I emailed you? It performs a second pass on the ``shlex

[2018-04-12 16:07] kmvanbrunt commented on #37
@tleonhardt
Unicode commands are not really supported unless the user overrides identchars.
``IDENTCHARS = string.ascii_letters + string.digits + '_'``

cmd has this requirement about commands:

[2018-04-12 17:06] tleonhardt commented on #37
@kmvanbrunt Can you paste the function you refer to within this Issue?

[2018-04-12 17:49] anselor opened #349 "argparse tab autocompleter"
I'm working on a tab completion implementation that automatically generates completions based on an argparse definition. Creating this issue to enable discussions.

[2018-04-12 18:51] kmvanbrunt commented on #37
def split_on_punctuation(self, initial_tokens):
    """
    # Further splits tokens from a command line using punctuation characters
    # as word breaks when they are in unquoted strings. Each run of punctuation
    # characters is treated as a single token.

    :param initial_tokens: the tokens as parsed by shlex
    :return: the punctuated tokens
    """
    punctuation = [self.terminator]

[2018-04-12 21:29] anselor opened #350 "command decorator wrapper functions don't return the function's return value"
The wrapper functions are not returning the wrapped function's result. When trying to override and add arguments to do_quit(), this causes do_quit() to not actually quit.

[2018-04-12 22:45] #350 closed

[2018-04-15 18:58] tleonhardt commented on #260
0.8.5 has been released to PyPI and on GitHub.

A **python2** branch has been created to facilitate Python 2 bug fix releases in the 0.8.x line and the version on this branch has been bumped to 0.8.6.

The version in the **delete_optparse** branch has been bumped to 0.9.0 and that related PR should merge into master soon.

The cleanup work can begin soon.

[2018-04-15 19:02] tleonhardt commented on #349
f we move to the state where we have a 2nd file as part of the cmd2 module instead of just the single cmd2.py file, then we should change the directory structure to create a src directory and make cmd2 a proper Python package by including a init.py and such.

Hopefully this should be a small change, but it will likely require small tweaks in all of the following areas:

packaging for distribution

[2018-04-15 19:06] tleonhardt commented on #349
When you create a PR for this, make sure you update **setup.py** to add a dependency on ``colorama`` if you use that module. I'm fine with that - it is a very common library which I always end up using anyways.

For a long time I've been considering adding a dependency on ``colorama`` and retrofitting ``cmd2``'s existing colorizing code to use ``colorama`` so that it will work on Windows as well a

[2018-04-15 23:29] tleonhardt commented on #349
From the limited experimentation I have done playing with this feature on the **autocompleter** branch, I think it rocks socks.  It is a very slick feature which makes tab completing everything related to ``argparse`` arguments quite simple.  And the way it provides a hint specifically for the argument you are attempting to complete is very helpful.

[2018-04-16 03:53] tleonhardt opened #355 "Add type hinting"
Now that ``cmd2`` no longer needs to support Python 2.7 from release 0.9.0 onward, we can begin to add [type hinting](https://docs.python.org/3/library/typing.html) to function/method arguments and return values.

Everyone is encouraged to begin doing this for all new and modified code.  In the long run it should make the code easier to read and maintain.

Note: If you use type hinting for functio

[2018-04-16 04:14] tleonhardt commented on #349
@anselor
I love this feature.  It combines so synergistically with the existing ``argparse`` decorators and existing tab-completion functionality that it goes a long way to make it just so damn easy to provide awesome tab-completion that end users will love pretty much "out-of-the-box".

I recommend that you work in conjunction with @kmvanbrunt  to update the "front-page" code example in **README.

[2018-04-17 03:40] #260 closed

[2018-04-17 04:08] tleonhardt opened #356 "Convert to a package directory structure"
``cmd2`` has grown to the point where the **cmd2.py** file is over 4000 lines and with new features being added the overall code size is likely to grow substantially.

It has probably reached the point that ``cmd2`` would benefit by becoming a real Python package with multiple source code files.

For this to happen, we will need a **cmd2** directory in which all of the source code lives and there

[2018-04-17 04:10] tleonhardt commented on #355
Supporting type hinting will require a conditional dependency on the ``typing`` module backport for Python 3.4.

I believe @anselor has already taken care of this on the **autocompleter** branch which incorporates type hinting in new code.

[2018-04-17 04:26] kotfu commented on #356
I like this idea a lot. If we head this direction, I'd recommend we put the parsing classes in a separate file too. They are already separate classes in `cmd2.py`.

[2018-04-17 04:26] tleonhardt commented on #287
That is good news.

[2018-04-17 04:27] tleonhardt commented on #356
@kotfu Good call.  I'm not very familiar with making Python packages, are you?

What will the implications be for **setup.py** and the unit tests, for example?

[2018-04-17 04:35] kotfu commented on #356
There seems to be no standard best practice for this, but here's how I've done it:

[code]

So inside the `cmd2` source code there are two packages, one called `cmd2` and another called `tests`. A few minor tweaks to `pytest.ini` and `setup.py` and we are in business.

[2018-04-17 04:39] tleonhardt commented on #356
@kotfu I am hesitant to ask you to do anything which will distract you from the ``shlex`` work, but if this is something you think you could knock out in a few minutes, would you like to take a crack at it?

[2018-04-17 04:42] kotfu commented on #356
On it.

[2018-04-17 05:29] anselor commented on #356
Everyone that's using Cmd2 is probably doing:
  from Cmd2 import Cmd

We probably need something like this in __init__.py:
  from Cmd2 import Cmd

That way when they import from the new Cmd2 directory it'll provide Cmd in the location they expect.

Otherwise everything will break for everyone when we release the next version.

[2018-04-17 05:30] anselor commented on #356
Ok, just looked at your branch and looks like you're already on top of this.

[2018-04-17 05:36] kotfu commented on #356
The *package* branch is mostly working now. There are lots of functions and static variables that aren't part of a class, so the `__init__.py` file is pretty messy, but that's probably OK. I haven't tried building a package, and this would need lots more testing before merging, but it's a start. I guess we need to decide if we really wanna do this now; if so, let's get this finished up and merge i

[2018-04-17 05:39] tleonhardt opened #357 "Fix ReadTheDocs build of Sphinx docs"
By default [ReadTheDocs](https://readthedocs.org) builds the [cmd2 documentation](http://cmd2.readthedocs.io) using Python 2.

Given that the version of ``cmd2`` on the **master** branch no longer supports Python 2, the *automethod* feature of Sphinx isn't working right now.

So fixing this probably consists of figuring out how to configure ReadTheDocs to build the ``cmd2`` documentation using Pyt

[2018-04-17 05:43] kotfu commented on #357
Whoever has admin access to these docs on https://readthedocs.org (the administrative site for readthedocs.io), needs to log in and go to the "Advanced Settings" page and change the python interpreter from "CPython 2.x" to "CPython 3.x".

[2018-04-17 05:45] tleonhardt commented on #356
I think now is a good time to convert to a multi-file package.

The 0.9.0 release is going to be a major release with huge backwards incompatible changes.  So I feel like we might was well just rip that bandaid off now.  Given that now is when we have given up supporting Python 2.7 in interests of supporting enhanced ability to refactor and add new features, it feels like an appropriate time.  And

[2018-04-17 05:50] kmvanbrunt commented on #356
Since everyone's so excited to introduce "huge backwards incompatible changes", I'd like to chime in that I still think submenus should be a third party thing since no one stuck around to maintain them or write more unit tests.

[2018-04-17 05:53] tleonhardt commented on #357
I have enough access where I can view the build logs, but not enough where I can change the settings for the build.

@FedericoCeratto
Federico, could you please change the build settings for ``cmd2`` on ReadTheDocs to build with Python 3 instead of Python 2?  Alternatively, could you grand me admin privileges for the ``cmd2`` project on ReadTheDocs?

[2018-04-17 06:06] tleonhardt commented on #356
@kmvanbrunt
Does the existence of the SubMenu feature significantly detract from the maintainability of ``cmd2``?  If so, then I could see an argument for removing it.

While I haven't used the SubMenu feature myself and I am disappointed better unit tests and comments didn't get added, I do think it is a pretty cool feature that I can see being useful for a certain subset of users.

My personal p

[2018-04-17 06:10] tleonhardt commented on #356
As a potential aside if we do decide at some point to remove certain features from the core of ``cmd2`, we have the overall **python-cmd2** GitHub organization which we could create an additional repository underneath for for ``cmd2_extras`` or something similar.

[2018-04-17 07:49] tleonhardt commented on #356
@kotfu I pushed a few small changes to the *package* branch and everything appears to be working now, or at least all of the unit tests are passing both on my machine locally and on both CI systems.

[2018-04-17 08:18] albertored opened #358 "Batch mode and exit on error with code not 0"
I need to be able to perform one or more commands directly from CLI call and exit on finish. I've resolved this need overriding the `onecmd_plus_hooks` method of my `Cmd` class to return `True` in some circumstances and adding a flag to the CLI to set the batch mode:

[code]
(This works pretty well so if you think is useful I can try to integrate it in the package)

There is a problem anyway... Th

[2018-04-17 14:48] albertored commented on #358
Thanks @tleonhardt for your reply, nice think that of using `quit` for batch processing!

For  what regards the exit code my use case is calling the cli in some script and being able to catch failures. Using `postloop` seems a lot verbose, the only way I can think of is surrounding all my commands with `try` statements, setting some class attribute in exceptions and use that in `postloop` for exit

[2018-04-17 14:56] tleonhardt commented on #358
As far as returning an exit code, maybe you just need to change **cmdloop()** so that it saves the return value of **_cmdloop()**.

But I'm curious to see what you come up with.  I'll take a look at your PR.  Thanks.

[2018-04-17 15:32] kotfu commented on #356
I'd like to take a closer look at the stuff that's currently in `__init__.py`. I put a lot of things in there because it was an easy way to make the unit tests pass, but many of those things only need to be exposed for unit testing. Those items can/should be imported directly in the unit test.

[2018-04-17 21:38] anselor commented on #349
@tleonhardt

Instead of updating the example in README,md, I'm thinking I'll change how cmd2 handles all with_argparse commands such that if a complete_COMMAND function isn't provided cmd2 will automatically create an AutoCompleter. Users can still optionally implement the complete_CCOMMAND function to do whatever they want.

[2018-04-17 22:18] tleonhardt commented on #349
@anselor
I like your idea much better ;-)

If you just make it so the two ``argparse``-based decorators automatically create an AutoCompleter that sounds like the best possible scenario!