[2020-04-28 01:08] kmvanbrunt commented on #932
The `onecmd_plus_hooks()` change was to fix bug #909. I don't believe it changed any functionality mentioned in the docs. We still catch and display `Exceptions` raised by `do_*` functions and we never were catching `BaseExceptions`. The return in the `finally` was eating them.

The user needed a way to stop a text script with Ctrl-C. Returning `True` from a `do_*` function stops the entire comman

[2020-04-28 03:20] tleonhardt opened #934 "If a tab completion hint is very large it seems to crash"
There appears to be a bug in [ArgparseCompleter._format_completions()](https://github.com/python-cmd2/cmd2/blob/master/cmd2/argparse_completer.py#L479) where `fill_width` can go negative when `token_width` is large relative to the terminal width.

This was reported by @anselor.

Eric, please fill in additional details, in particular how to reproduce.

[2020-04-28 12:39] astrand opened #935 "async_alert and long running scripts"
I'd like to create an application where status information ("Current time is 2020-04-20 21:44") is continuously updated, even though a script is active. In particular, I'd like to create a Python script which sleeps, ie something like:

cmd1
time.sleep(2)
cmd2
...

However, it seems like when the script is running, async_alert is not called. Is it possible to, for example, run the script in a sepa

[2020-04-28 14:25] tleonhardt commented on #935
@astrand Can you provide a scaled-down simple code example of what you are trying to that isn't working?

Ultimately any long-running thing providing asynchronous alerts needs to be in another thread.  If you haven't already, please see the [async_printing.py](https://github.com/python-cmd2/cmd2/blob/master/examples/async_printing.py) example

[2020-04-29 01:06] tleonhardt commented on #932
@kmvanbrunt @kotfu What do you two think about this path forward ? ...

Near term:
- Retroactively update both the changelog and release notes to mention the specifics of the change to `SystemExit` in case anyone else is impacted
- Make `Cmd2ArgparseError` public and documented

In the future:
- We all be very careful to document bug fix changes, even if we don't anticipate there might be impact t

[2020-04-29 06:07] astrand commented on #935
I'm trying async_printing.py:

`(APR)> run_pyscript myscript.py`

myscript.py looks like:

[code]
When myscript.py starts, the applications appears blocked, and alerts are no longer printed.

I'm also open for and interested in non-Python scripts, but the problem seems to be the same. I tweaked async_printing.py and added a function:

[code]
The problem is the same, though, as long as "sleep" is c

[2020-04-29 14:13] kmvanbrunt commented on #935
@astrand `async_alert()` is for alerting while at the prompt.

When you're in a `do_*` function, there is no prompt. Therefore the `_alerter_thread_func()` in the [async_printing.py](https://github.com/python-cmd2/cmd2/blob/master/examples/async_printing.py) example isn't going to print anything. Please read through the example to understand `async_alert()'s` purpose and how best to use it.

[2020-04-29 14:49] kmvanbrunt commented on #932
I agree we should add `Cmd2ArgparseError` to the public docs and edit the comment to exception.py so it no longer says:

If we are going to retroactively update the change log, I don't think it should be so specific as to single out `SystemExit`. We had a bug that was suppressing any exception that didn't inherit from `Exception`. Those exceptions (except for `KeyboardInterrupts`) are now always r

[2020-04-29 15:49] DerDakon opened #936 "Testsuite failure because of editor preferences"
As I have [reported in Gentoo bugzilla](https://bugs.gentoo.org/710174#c1) the test_which_editor_good failed for me.

I hate vi. With passion ;) That's why I don't have it installed on my systems as I don't use it anyway. Seriously speaking: testing for things like "true" or "false" or maybe just "ls" seems a more safe option to find something that should be universally available.

[2020-04-29 15:53] kmvanbrunt commented on #936
Sorry you had trouble with the unit tests. This issue was actually fixed a few days ago in PR #927.
It should be in our next release.

[2020-04-29 16:04] DerDakon commented on #936
Ha, he even reported my bug upstream. Nice one.

[2020-04-29 16:04] #936 closed

[2020-05-03 01:38] xNinjaKittyx commented on #930
On top of CI, nowadays its pretty popular to run them with [pre-commit](https://pre-commit.com/)

`black` is great, but I do know there's some people that don't agree with its styling sometimes... (but I prefer it way more than yapf in any scenario).

`isort` can sometimes be a little annoying to configure if you have any python files that do things on import.

[2020-05-05 21:25] tleonhardt commented on #935
As I think the question has been answered, I am going to close this issue.  If I am mistaken, please feel free to re-open.

[2020-05-05 21:25] #935 closed

[2020-05-06 09:04] aseemjakhar commented on #932
Folks, I have the same issue as @kotfu with my project EXPLIoT - https://gitlab.com/expliot_framework/expliot

As per the discussion here, Im assuming we should catch SystemExit in our own argparse methods inside any do_*() and raise Cmd2ArgparseError? Please correct me if Im wrong.

[2020-05-06 13:32] kmvanbrunt commented on #932
@aseemjakhar

1. `return` if you want `Postcommand` hooks to run
2. raise `Cmd2ArgparseError` if you don't

[2020-05-08 14:43] kmvanbrunt commented on #932
I posted a PR attempting to address this issue. One aspect I'm still up in the air about is handling `SystemExit`. In my initial check in, I'm doing this:

[code]

But I'm not sure I like this solution. It isn't consistent with the cmd2 docs that @kotfu referenced which say:

Plus it adds another way to stop the command loop that we have to maintain.
@tleonhardt @kotfu, What are your thoughts? Sho

[2020-05-12 15:22] tleonhardt opened #938 "Consider an appropriate time to drop support for Python 3.5"
The recent [Python Developers Survey 2019 Results](https://www.jetbrains.com/lp/python-developers-survey-2019/) show that only 4% of Python 3 users are still using Python 3.5

Python 3.5 is scheduled to be end-of-life in [September 2020](https://devguide.python.org/#status-of-python-branches).  Major projects like [Django](https://code.djangoproject.com/ticket/30116) have already dropped support f

[2020-05-13 04:36] willmoore opened #939 "Invalid commands and using python builtin 'input()' leaves incorrect text in command history"
From the docs:

Also, after discussing it with @anselor, my understanding is that if there is a command that uses python's builtin `input()` to get user input for a command, the actual text input at the prompt should not be included in cmd2's command history.

In both cases, an invalid command and `input()` text, seem to be saved to the command history using version cmd2 1.0.2 on python 3.7.1.

If

[2020-05-13 04:47] willmoore commented on #939
I think I just stumbled upon the distinction between the readline and cmd2 history. I didn't realize that the readline history was what was being accessed with an arrow up press or ctrl-r instead of the cmd2 history. Using the `history` command itself does show just the expected history as stated in the docs.

[2020-05-13 04:47] #939 closed

[2020-05-13 23:43] tleonhardt commented on #932
I'd say we should make a decision based on how would most developers expect it to behave?

If I try to pretend like I don't know anything about `cmd2` and it's just some Python library I'm new to, then I would say that I would expect that calling `sys.exit()` or equivalently raising a `SystemExit` exception to exit the application.  I would be pretty surprised if manually doing either of those did

[2020-05-14 02:02] kotfu commented on #932
By way of reference, in `cmd` in the standard library, if you raise SystemExit in one of your `do_command` methods, the `postcmd()` method is not called, and the application exits as you would expect.

So what if we do the same. If SystemExit is raised, the application gracefully exits (i.e. calls the appropriate post command hooks) with no fuss and no warning message. We then update the documenta

[2020-05-14 02:22] tleonhardt commented on #932
While as an end user I would prefer a warning message giving me a clue why the app just quit when I didn’t explicitly ask it to, I wouldn’t strongly object to just quiting with no fuss as long as we document it well.

[2020-05-14 02:32] kmvanbrunt commented on #932
When you say quit with no fuss, are you ok that command finalization hooks can still override stop?

[2020-05-14 02:38] tleonhardt commented on #932
It would be odd for a developer to override stopping in a command finalization hook, but that seems fine and fair game.

[2020-05-14 03:05] kotfu commented on #932
How would the code j. The command finalization hook know that SystemExit has been raised? All it would know is that the flag has been passed as true.

So let’s call the hook and then exit.

[2020-05-14 20:34] kmvanbrunt commented on #932
Since my previous change already inconvenienced @kotfu and @aseemjakhar, I want to make sure we have consensus and are defining terms the same way.

Questions for @kotfu
1. When you say, "let's call the hook and exit", does **exit** mean return `True` to end the command loop or actually exit the application at that point?

2. I didn't mean the command finalization hook would know a `SystemExit` ha

[2020-05-14 20:41] kmvanbrunt commented on #938
I'm OK removing support but we should give sufficient advanced warning. I know Debian 9 has Python 3.5 as it's default, so **cmd2** developers on that system will need to upgrade Python for new **cmd2** features.

[2020-05-15 22:52] kotfu commented on #932
Answers for @kmvanbrunt

1. Yes, I mean pass `True` to the the command finalization hooks, if present. If a `do_command` method raises `SystemExit`, I think we should follow the same code path as if it returns `True`.

2. Agree. we would pass the `Stop` parameter to the command finalization hooks with a value of `True`, and if the hook changes the value to `False` then the app would continue to ru

[2020-05-15 22:55] tleonhardt commented on #932
@kotfu Brings up a good point.  I’m fine with not printing the warning

[2020-05-24 18:09] Laurentiu-Andronache opened #940 "is there any scaffolding already done for this (for example with cookiecutter)?"
I'm looking to build a package that's simultaneously a library, a CLI and a CLU. cmd2 seems perfect for the task, but I'd love to use some already existing scaffolding that has proper organization and proper code quality standards. Is there such a thing?

[2020-05-25 02:12] kotfu commented on #940
We don't have any scaffolding or templates yet, although I think we should keep this issue open as the vehicle to create one. However, I have another project called [tomcatmanager](https://github.com/tomcatmanager/tomcatmanager) which offers a python library, a CLU, and a CLI using `cmd2`. It might give you some ideas about how to construct your application.

One note about the design of tomcatman

[2020-05-25 06:43] Laurentiu-Andronache commented on #940
It's very helpful, thank you.

[2020-05-29 21:43] #932 closed

[2020-06-02 00:12] tleonhardt commented on #938
I recommend that before we put out the **1.1** release, lets update the README to remove the old warning about dropping support for Python 2.7 and add a new warning about dropping support for Python 3.5, say perhaps August 31, 2020.

[2020-06-02 00:15] kotfu commented on #938
Sounds good to me. What will the version number of `cmd2` be for the first release we drop python 3.5 support? 2.0?

[2020-06-02 00:22] tleonhardt commented on #938
Good question about version after we drop support for Python 3.5 .... Yeah I guess **2.0** might be the right answer in that case.

[2020-06-02 00:50] tleonhardt commented on #940
@Laurentiu-Andronache Your question is a good one and it makes me thing that we should probably work on adding some documentation about overall application patterns and recommended best-practices for using `cmd2`.

I help some coworkers setup a package that is essentially exactly what you are talking about - a library, a CLI and a CLU and we followed a very different overall architectural pattern

[2020-06-02 04:03] kotfu commented on #938
I'm not certain that 2.0 is the right version number we should use. I was just thinking of how Requests didn't drop support for python 2.7 and 3.5 in their 2.x series. 3.x will only support python 3.6+. But they had lots of other changes in requests 3.x too.

[2020-06-02 08:43] Laurentiu-Andronache commented on #940
Ultimately, we will still need that cookiecutter that you can just install in 2 seconds. And link to it in the documentation....

[2020-06-02 19:05] #934 closed

[2020-06-02 19:06] tleonhardt commented on #938
I'm not certain of the right answer either.  I think **1.2** or **1.3** or whatnot could be fine as well.

[2020-06-05 19:46] tleonhardt commented on #907
Where are we with this issue?  I know a lot of code has been implemented.  Are there decisions that need to be made?  Code that needs to be tested?

[2020-06-09 20:12] anselor opened #943 "Allow modular command definition"
Allow commands to be split into multiple classes that are registered with cmd2 instead of requiring all commands to be defined in one giant class.

Breakdown:
- Define a base class for these satellite command definitions.
- Everywhere in cmd2 where it introspects for `do_`, `complete_`, or `help_` also search in the satellite command objects.
- Stretch - auto-detect all satellite command definitio

[2020-06-09 20:35] anselor opened #944 "argparse parameter wizard"
Initially I was going to submit an enhancement ticket to add an optional parameter wizard that, for some commands, can walk the user through all of the required fields and present a menu for optional fields.

Thinking this through some more, I think the enhancements we've made to argparse are generally useful outside of cmd2. What I want to do is to take our current enhanced argparse and automatic

[2020-06-10 01:13] tleonhardt commented on #944
@anselor
I'm not sure I fully grok what you are aiming for here, but I'd say lets cross this bridge when you have that stand-alone project working with the new features you want implemented.

[2020-06-16 03:08] anselor opened #946 "usage of typing.Deque breaks compatibility"
The new TableCreator uses typing.Dequeue, which was added in Python 3.5.4. We currently declare we support 3.5.0 and higher. Debian Stretch maxes out python3 support at Python 3.5.3 so we currently don't support Debian Stretch users and we don't support the versions of python we're currently publishing.

Suggestions:
- We should probably have one of the test variations run on the oldest version we

[2020-06-16 15:10] anselor commented on #946
Ok, it looks like support for earlier 3.5.x python versions must have been broken for a while.

[2020-06-20 19:58] jkeen871 opened #948 "What is the proper way to upate the prompt after every command?"
I want to update the prompt with a status value from  a local database each time the user presses enter.

for example :

appstatus[OK]:
or
appstatus[FAILED]:

Thanks,

[2020-07-07 02:12] tleonhardt commented on #948
HI @jkeen871, various different approach would work.  But one easy approach, I would recommend you take a look at the [python_scripting.py](https://github.com/python-cmd2/cmd2/blob/master/examples/python_scripting.py#L39-L53) example.

[2020-07-07 04:59] kmvanbrunt commented on #948
@jkeen871 If you choose the simple option of just updating the prompt when a user presses Enter, you will want to use a **command finalization hook** instead of a **post command hook**. The difference is that a **command finalization hook** will run even if the user hits Enter on a blank command line.

[code]

As @tleonhardt mentioned, **cmd2** also has the ability to update the prompt even while

[2020-07-08 18:52] anselor opened #950 "Remove all tox usage"
Once we're comfortable that nox is doing everything we want, remove tox and make sure documentation, requirements, etc. have been updated to remove tox and add nox

[2020-07-09 01:04] tleonhardt commented on #948
@jkeen871 Since your question has been answered I am going to close this issue.

[2020-07-09 01:04] #948 closed

[2020-07-09 01:08] tleonhardt commented on #930
I believe we should use all of these as part of our CI build/test process.  We should also use [mypy](http://mypy-lang.org) as part of that process, but we might want to wait until after we deprecate support for Python 3.5 for that one.

[2020-07-10 21:42] anselor opened #952 "Figure out why CI system can't use filtered git version tags"
For the ext_test plugin, the setup.py now has the version hard-coded to 0.2.0 and will require a manual update for each new version. The issue is the custom filters for `git describe` aren't executing correctly on the CI nodes. It may be possible to switch out how it does the tag filtering depending on whether we're running it on our system vs the CI system. We only really need the tag filtering t

[2020-07-14 01:02] #946 closed

[2020-07-17 19:06] DarkmatterVale opened #958 "Registering a preloop hook without return type hint throws an error"
As is discussed [here](https://cmd2.readthedocs.io/en/latest/features/hooks.html?highlight=preloop#application-lifecycle-hooks), I should be able to declare and register a preloop hook as follows:

[code]

However, running the above will throw an error: ```TypeError: initialize_preloop must declare return a return type of 'None'```. In order to fix the error, you need to provide a return type hint

[2020-07-17 19:19] kmvanbrunt commented on #958
@DarkmatterVale Thanks, I'll update the documentation.

[2020-07-17 20:28] #958 closed

[2020-08-04 08:14] muhrin commented on #943
Thanks a lot for introducing this feature.  I, for one, would find this to be very useful.

In general, I think it's also a good thing for `cmd2` to move away (or at minimum provide alternatives to) to the monolithic model of putting everything in one class as this severely restricts modularity and leads to a very complex state.

If I can be of any help with testing or development, do let me know,

[2020-08-04 11:49] muhrin commented on #943
I've been playing around with this new API and I think it's very nice.  It brings some very helpful modularity to `Cmd2`.

There's one thing that I find a little awkward though, which is the interface for the `do/help/complete` functions in `CommandSet`.  Placing the `CommandSet` as the second positional argument removes some of the flexibility of being able to move a command function (without mod

[2020-08-04 14:40] anselor commented on #943
I'm a bit confused by your reference to the second parameter being CommandSet. Within a CommandSet, the `do/help/complete` functions should be CommandSet as `self`, since it is a method of CommandSet and the cmd2 app is the 2nd parameter.

[2020-08-04 15:02] anselor commented on #644
It's probably also worth nothing that the external test plugin simply opens up the pyscript as a cmd2 member function to make it easier to unit test cmd2 application commands.

[2020-08-04 15:33] anselor opened #962 "Deprecate `with_argparser_and_unknown_args` and add `with_unknown` parameter to `with_argparser`"
Other than 2 lines, `with_argparser_and_unknown_args` is identical to `with_argparser`.

Suggest deprecating `with_argparser_and_unknown_args` and adding an optional parameter of `with_argparser`.

As a transitional near-term solution, we can just add the new parameter to `with_argparser` and change `with_argparser_and_unknown_args` to just call the common implementation.

[2020-08-04 16:20] anselor commented on #943
@muhrin
We are planning on publishing what we have thus far as 1.3.0 today.

[2020-08-04 18:23] kmvanbrunt opened #965 "Allow CommandSets to have their own user-settable settings"
Currently `do_set` is limited to attributes of `cmd2.Cmd` classes. Make it possible for attributes of `CommandSet` to also be settable.

[2020-08-04 19:23] #950 closed

[2020-08-04 19:24] #962 closed

[2020-08-04 19:49] anselor opened #966 "Validate Python 3.5.2/3.5.3 support before ending support for 3.5"
Python 3.5.3 is the last version officially supported on Debian 9 and 3.5.2 is the last officially supported version on Ubuntu 16.04. Let's validate everything against 3.5.2/3.5.3 one last time before cutting support completely.

[2020-08-05 08:10] muhrin commented on #943
Thanks for getting back to me.  Sorry, my bad, I hadn't thought through the function signatures - you're quite right about `Cmd` being the second param.

I guess what I'm getting at is that there are benefits for `do/help/complete` to be designed as if they were abstract methods of an interface that both `Cmd` and `CommandSet` derive from. While this isn't technically possible (because there is no

[2020-08-05 11:32] muhrin opened #967 "path_complete doesn't work with CommandSet"
Version 1.3.0.

When using `path_complete` for a `CommandSet` `argparse` argument the following exception occurs:

[code]

This happens because the `CommandSet` is being passed in as the second positional argument which isn't expected by the completer.

A big benefit of completers is that they can be used by disparate commands (whether they be free functions later bound to a `Cmd` class, members o

[2020-08-05 13:17] anselor commented on #967
@muhrin Can you provide a code snippet to reproduce this?

[2020-08-05 13:41] muhrin commented on #967
Sure, here's an MWE:

[code]

[2020-08-05 13:48] anselor commented on #943
@muhrin @kmvanbrunt @tleonhardt
I'm re-opening this enhancement ticket for possible continued discussion.

[2020-08-05 16:03] anselor commented on #967
@muhrin Ah yes, it seems that the assumption I made here is that if the command is in a CommandSet then the completer_method is a member of the same CommandSet. This will require some thinking to resolve.

Part of the complication here is the point at which completers are registered with the argparse object is when the class definition is loaded. The completers are registered as unbound functions

[2020-08-05 19:04] anselor commented on #967
After some analysis of the issue and some discussion with @kmvanbrunt, I think we have a path forward.

It really doesn't make sense to have the exact same function signature for the `do_/complete_/help_` functions in a `CommandSet` because it violates the contract of what `self` means inside of a class. The `self` parameter of a class function should be the instance of the class in which the func

[2020-08-05 19:19] anselor commented on #967
@muhrin

I just pushed up changes in this branch:
https://github.com/python-cmd2/cmd2/tree/cmdset_completers

It should detect whether the completer function is in a CommandSet before passing in a CommandSet as a parameter. It'll also search all available registered CommandSets to locate the matching instance so you should be able to use a completer function across CommandSets as long as they're r

[2020-08-05 19:29] anselor commented on #943
Bug issue #967 was filed related to this feature.

[2020-08-06 07:57] muhrin commented on #967
Thanks for the quick work @anselor.

I don't think I was clear in my initial description.  I 100% agree that self should always be the class instance, anything else would be insane.  However, it's totally fine to have a different self (`Cmd` or `CommandSet`) depending on where it was defined but have the rest of the function signature be identical (which is what I was suggesting).  In fact, this i

[2020-08-06 08:36] muhrin commented on #943
Thanks for re-opening.  I just wanted to follow up on the completers discussion I highlighted.

For me there are many benefits to having a common `do_`/`complete_`/`help_` definition spanning both `Cmd` and `CommandSet`.  At the moment I'm forced to care if if my method is defined in a `Cmd` or a `CommandSet` both in the way I write my function signature, but also in the way I think.

Let me sketc

[2020-08-06 14:50] anselor commented on #967
@muhrin I'm not sure what you're looking at. There are a bunch of tests I wrote while implementing CommandSet. On this particular branch  it looks like it failed some coding style validation and didn't run the tests so you might not be seeing the right coverage output.

[2020-08-06 15:05] muhrin commented on #967
Ah, sorry I think I missed the tests.  I was looking in `tests` but hasn't seen the `isolated_tests` folder.  Thanks!

[2020-08-06 15:13] anselor commented on #967
I think since that's causing some confusion, I'm going to rename the directory to `tests_isolated` so it'll be grouped together and be more noticeable.

[2020-08-06 16:08] anselor commented on #943
@muhrin
I understand what you're getting at now but there are a lot of challenges with this.
First, cmd2 is an extension of the base Python Cmd implementation. While we've added quite a lot of features beyond Cmd, many things still fall back on the standard library implemantion.
Second, quite a lot of things are accessed as public attributes of the cmd2 application and not through functions. It wo

[2020-08-06 20:12] anselor commented on #967
This was fixed in #968

[2020-08-06 20:12] #967 closed

[2020-08-11 08:03] muhrin commented on #943
@anselor
Thanks a lot for taking a look at my suggestion.  I see that this differentiation of `Cmd` and `CommandSet` is actually by design in which case it all seems to make sense.

Your suggestion is a nice idea.  For my application it'd be great to be able to support completers and `do_` functions in a way that is agnostic to the context that they are invoked from (i.e. standard `argparse` cli f

[2020-08-11 17:04] anselor commented on #938
Things to do when we cut 3.5 support:

- travis.yml, noxfile.py - remove the special 3.5.x test handling. Remove conditional checks related to 3.5.x
- utils.py - restore type annotations for `get_defining_class`
- setup.py - Remove conditional module dependencies for 3.5.x
- table_creator.py - Remove fallback redeclaration of typing.Deque needed for versions earlier than 3.5.4.
- cmd2.py, many oth

[2020-08-11 17:06] anselor commented on #966
PRs #971  and #972 resolve this by adding explicit tests against python 3.5.2 and 3.5.3 and fixes to enable 3.5.2/3.5.3 support.

[2020-08-11 17:06] #966 closed

[2020-08-12 17:07] anselor commented on #943
@muhrin
I think you may like my next change. We're going to go ahead and remove the `cmd.Cmd2` parameter as the required second parameter to the `do_`/`help_`/`complete_` functions in a CommandSet.  If you're in a CommandSet, you'll have access to the cmd2 instance through `self._cmd`. It loses the the function signature acting as a signal that something is different but does give you more flexibi

[2020-08-12 17:11] kmvanbrunt commented on #943
@anselor I like removing the redundant parameter.

[2020-08-12 17:18] muhrin commented on #943
Yes! Was thinking about this redundancy too.  Certainly, for those like me that aren't using `self` in most cases this brings back the possibility to copy/paste when moving things around without having to make a signature change.

[2020-08-12 20:20] tleonhardt opened #974 "Bug in Cmd2HelpFormatter and ArgparseCompleter when metavar is a tuple"
The [Cmd2HelpFormatter](https://github.com/python-cmd2/cmd2/blob/master/cmd2/argparse_custom.py#L600-L716) class has a bug which causes a crash in the following circumstances:
- `nargs` is an int and > 1
- [metavar](https://docs.python.org/3/library/argparse.html#metavar) is a tuple

Tested with `cmd2` 1.2.0 but verified the bug exists in the current version as well.

In my case, the crash occurs

[2020-08-12 20:51] kmvanbrunt commented on #974
@tleonhardt This bug also affects the `ZERO_OR_MORE` and `ONE_OR_MORE` cases when `metavar` is a tuple.

[2020-08-12 21:02] tleonhardt commented on #974
Specifying `metavar` as a tuple only really seems to make sense if `nargs` is an integer greater than 1.

But perhaps the simplest solution is to remove our custom help formatting for this except when nargs is a range?

[2020-08-13 16:22] kmvanbrunt commented on #974
A `metavar` tuple also crashes `ArgparseCompleter` when creating a `CompletionItem` table. I will fix this in the same PR.

[2020-08-13 16:54] #974 closed

[2020-08-19 13:09] tleonhardt opened #978 "Ability to pipe to cmd2 commands"
One feature of a "normal" shell that `cmd2` applications are currently missing is the ability for a `cmd2` command to pipe output to other `cmd2` commands - it is limited to piping output to shell commands only.  Occasionally this limitation feels significant.  I know it can be worked around by creating a custom Python script and using the `run_pyscript` command to run that, but it would be much m

[2020-08-19 13:35] tleonhardt opened #979 "Emphasize development and debug utility of ipy command"
The utility of the optional `ipy` command combined with `self.self_in_py = True` for developers is truly phenomenal.  We don't do these amazing features justice in our documentation and I'm not sure how discoverable they are for new `cmd2` developers.  These features open the door to an enhanced development experience that allows easy experimenting as well as the ability to do some after-the-fact

[2020-08-20 02:08] kmvanbrunt commented on #978
I think we'll have to use something like a double pipe `||` to distinguish between piping output to a built-in command and an OS shell command.

Lots of thoughts come to mind for a change like this.

1. Command line parsing will have to split built-in commands using `||`. It will also have to resolve aliases for each command.

2. What will a `Statement` contain? Just one of the commands or all of

[2020-08-20 14:54] tleonhardt opened #981 "Crash in 1.3.x when a cmd2.Cmd method is mocked"
If you mock a method within a cmd2 which isn't a command or subcommand method using a MagicMock such as with `with mock.patch()` or `with mock.patch.object()`, then things crash because our code thinks it is a subcommand.

Here is a simple unit test that can be added to any of the cmd2 tests files such as **test_cmd2.py** to reproduce this problem:

[code]

And there is the test failure traceback:

[2020-08-20 15:45] tleonhardt commented on #981
Its important to note that this can be fixed on the test side by changing the MagicMock to use `spec=True` like so:

[code]

But we should do something on the `cmd2` side to help with this, I'm just not 100% sure what.

[2020-08-20 23:35] #981 closed

[2020-08-21 19:12] kmvanbrunt opened #982 "Enhance read_input()"
Add following feature to `cmd2.Cmd.read_input()`.

1. Ability to tab complete custom values
    * Support passing in list of choices
    * Support passing in argparse.ArgumentParser which tab completes similar to our commands
    * Preserve support for doing command tab completion since this is called by `cmd2.Cmd._read_command_line()`.
    * Default will be no tab completion

2. Support passing i

[2020-08-24 22:23] tleonhardt commented on #982
@kmvanbrunt Can you explain the overall motivation for this feature?  Understanding that will help inform my thoughts on your proposal.

[2020-08-24 22:27] kmvanbrunt commented on #982
@tleonhardt `read_input()` is cmd2's version of the`input()` function. This enhancement will given developers the ability to prompt a user for input and provide tab completion from a known set of values. The history aspect will allow the user to up arrow through previous entries and perform history searches (e.g. Ctrl-R).

[2020-08-24 23:05] tleonhardt commented on #982
Ok, I get it now.  That is one super-powered function for reading input - it seems to handle every conceivable thing people might want.  But it does so in a way where all the advanced functionality is optional so the basic use case is simple.  I like it.

[2020-08-25 04:55] kmvanbrunt opened #983 "RecursionError when printing argparse Namespace"
If I call `print(args)` in a do_* command function, I get the following stack trace.

I've narrowed down the cause to this line in [decorators.py](https://github.com/python-cmd2/cmd2/blob/master/cmd2/decorators.py)
[code]
This change fixes it
[code]

[2020-08-25 15:25] #983 closed

[2020-08-27 19:49] legacy-code opened #986 "The do_shell() is not working correctly with multiple commands"
When I call do_shell() with multiple commands using

* ";".join(commands) - it only executes the first command
* "&&".join(commands) - it throws an exception

Given the following script (which has all of the details), you can see the behavior I'm seeing.

[code]

Thanks!
Mike

[2020-08-27 20:09] legacy-code commented on #986
Here is the error I'm getting for _do_fail1()_ (I realized that I had forgotten to paste that in the sample - sorry):

[code]

[2020-08-27 20:17] legacy-code commented on #986
I quickly reverted back to v1.2.1 and it worked.

Upgraded to v1.3.0 and it did NOT work.

So, something change between these two versions.

Hope that helps!

-Mike

[2020-08-27 20:27] kmvanbrunt commented on #986
For the multiple shell command, question, cmd2 treats `;` as a command terminator. It's used to terminate multiline commands. Anything that appears after a semicolon is removed during cmd2 command line parsing. If you have no multiline commands, pass an empty list for the terminators argument.

[code]

[2020-08-27 20:48] anselor commented on #986
I found a small issue specifically when processing multiple commands on a single line and with_argparse. Need to see about getting this reproduced in a unit test and then I can put up a fix.

[2020-08-27 20:52] legacy-code commented on #986
That would be awesome, as a large majority of the commands I use internally in cmd/cmd2 are multiple commands in a single line.

Thanks!

[2020-08-27 20:59] kmvanbrunt commented on #986
If your app does not implement any multiline commands, then disabling terminators makes sense.

[2020-08-27 21:04] anselor commented on #986
It's some sort of interaction between the terminator, calling do_shell, and with_argparse. I'm not seeing it with other instances of multiple commands on a single with `;` as a separator. I have a simple test that copies the failure example above and verifies that it no longer crashes.

[2020-08-27 21:07] legacy-code commented on #986
@kmvanbrunt - I don't have any right now, but I do want to add some, so ...

Hard choices!  😀

Right now, I've just reverted back to v1.2.1 as it works and I need that over other features right now.  I'll have to give it a try though later.  Maybe this weekend.

I also want to use the CommandSet stuff, which started me on this whole thing, as I usually don't pay too close of attention to new featu

[2020-08-27 21:11] anselor commented on #986
@legacy-code I have a PR is up that no longer crashes with your example. Can you try it out?

[2020-08-27 21:11] legacy-code commented on #986
@anselor what about the "&&"?

After noticing that the ";" was failing, I realized that really I should be using "&&" chaining so that if something fails, just quit.  That's probably safer (for what I'm doing anyway).

[2020-08-27 21:13] kmvanbrunt commented on #986
@legacy-code If you want both the ability to chain shell commands with semicolons and plan to have multiline commands, then just choose another terminator character.

[2020-08-27 21:18] legacy-code commented on #986
@kmvanbrunt that would work!  Thanks.  I'll give it a go soon!

Thanks again to you and @anselor for your quick response!

[2020-08-27 21:22] anselor commented on #986
@legacy-code I tried both of your examples.

[2020-08-27 21:35] legacy-code commented on #986
Thanks @anselor -- I saw the unit test!

Great!  Thanks again for your help!

[2020-08-27 21:55] anselor commented on #986
@legacy-code What version of python are you using?

For me, your `fail2` command doesn't produce the crash that the `fail1` command does.

[2020-08-27 22:07] anselor commented on #986
Nevermind, I see you provided that info.

[2020-08-27 22:21] #986 closed

[2020-08-28 14:39] anselor commented on #982
This looks like a great feature that will make #944 a ton easier to implement. I like it.

[2020-09-03 08:54] ralequi opened #992 "Support for partial commands"
Some shells accept and interpret partial commands and it would be a great feature to be included.

Let's take a look an example:
By default cmd2 includes `quit` command, which is used to end the cmd-session.
In many scenarios, it would be useful to allow the user just write `q` to get the same functionality.
Of course cmd2 support many ways of doing this, such as alias, macros or shortcuts, howeve

[2020-09-03 09:43] ralequi commented on #992
I've made the following hook that does that simple implementation.

[code]

Seems to works great but It should also support concatenations of partial commands.
Example: we have a command `show`, with a subcomand `interface`... In order to fully support partial commands `sh int` should be an alias to `show interface`.

[2020-09-03 14:22] anselor commented on #992
I've never actually used it but I know we have this plugin for abbreviated command support. It seems very similar to what you're describing.

https://github.com/python-cmd2/cmd2-abbrev

[2020-09-03 14:45] kmvanbrunt commented on #992
@ralequi Completion of subcommand names is done by `cmd2.ArgparseCompleter`. Since `argparse` only supports abbreviation of long options names, and not subcommands, we do not support it either. Therefore calling `complete()` won't achieve the desired functionality beyond the basecmd.

If you have a known set of aliases you'd like to use for subcommands, you can take advantage of `argparse` subcomm

[2020-09-04 09:31] ralequi commented on #992
Thanks for your replies guys,

@anselor that plugin looks great but it seems to do something like I did in that hook. It should work great but unless I'm missing something it would have the same limitation that my hook has, as far as it should not be able to autocomplete sub-commands.

Thanks @kmvanbrunt , I supposed a simple hook won't be able to do what I wish. I have to finish some basic functi

[2020-09-09 03:18] anselor commented on #965
Started some work on the cmdset_settables branch which allows additional Settables to be added to cmd2. The issue is tracking settables added by a CommandSet to make sure they're unregistered when the CommandSet is unregistered.

Probably going to take a new direction and have each CommandSet manage its own dictionary of settables. Cmd2 will search first the cmd2 dictionary, then the CommandSets.

[2020-09-09 03:25] anselor opened #995 "CommandSet default category enhancement"
Enhance the `with_default_category` decorator to tag the class with a default category attribute.
When commandsets are registered with cmd2, if they aren't already decorated with a category, search up the class hierarchy to find a default category and apply it.

Also, fixes for the `with_default_category` decorator so it doesn't apply it to parent functions is already in the `default_categories` b

[2020-09-09 07:08] kmvanbrunt commented on #982
Finished in #991

[2020-09-09 07:08] #982 closed

[2020-09-09 11:00] #943 closed

[2020-09-10 16:03] anselor opened #997 "Update cmd2-ext-test documentation and push new release"
This will let us close out the separate repo and reduce confusion.

See https://github.com/python-cmd2/cmd2-ext-test/issues/3

[2020-09-11 13:39] #997 closed

[2020-09-11 17:51] #995 closed

[2020-09-18 17:14] anselor opened #1000 "Update cmd2 examples to reflect latest API changes"
We've made a lot of significant improvements in recent releases but some of our examples are still lagging behind a lot. There are cases where the examples no longer represent the easiest/cleanest solution or what we currently consider to be best practices when using cmd2.

- [ ] Assess each example and annotate any updates needed
- [ ] Identify examples that should be removed, simplified, split a

[2020-09-24 19:14] shivanshcoder commented on #40
Hey @tleonhardt, I tried doing this, just made extra class for achieving the functionality
Check out my repository
[https://github.com/shivanshcoder/cmd2-prompt](url)

My code simply uses `prompt-toolkit` to display the suggestions, the suggestions are made using the `cmd2` code itself.
I was thinking of starting auto completion from scratch but first tried using already available code

[2020-09-24 19:35] anselor commented on #40
@shivanshcoder
I'll try to take a look at this too.

I was actually exploring how we could support prompt toolkit integration pretty recently.

For full-screen prompt-toolkit applications, I think it should be possible to override the `poutput` and `perror` functions to add a destination prompt-toolkit container.

For completions we should be able to bypass our readline usage and use prompt toolki

[2020-09-24 19:59] shivanshcoder commented on #40
Yes with prompt-toolkit we can even do validations and print helping statements in toolbars.

By modifying `cmd2:Argparse completer` we can provide extra display information with prompt-toolkit toolbars.

I am reading `cmd2` code quite extensively inroder to try make prompt-toolkit as an additional completer with all expected functionalities.

[2020-09-24 20:18] tleonhardt commented on #40
@shivanshcoder If you can get this to work in a clean way that would be awesome.  @kmvanbrunt Is a good person to chat with if you have any questions about how our completion stuff works.  Feel free to re-open this issue or create a new one if you think this can be make to work in a clean and maintainable fashion.

[2020-09-24 20:20] anselor commented on #40
Also, definitely take a look at the changes being made in the 2.0 branch. There are some API breaking changes coming related to completion.

[2020-09-28 18:42] kmvanbrunt opened #1002 "Help text duplicated when using more than 1 CLI instance"
[code]
With this program, run `alias -h`. The subcommand help gets repeated.
[code]

Since the parsers (e.g. `Cmd.alias_parser`) are class objects, they get updated with each instantiation. This problem has existed since we added the `argparse` decorators, but it's being exercised a bit more since we added `CommandSet` and `as_subcommand_to` decorators. This specific issue of repeated text was int

[2020-09-28 19:44] tleonhardt commented on #1002
I have a very vague recollection of researching how to make a deep copy of a parser and finding that it was possible in Python 3.7+ (or something similar) but not beforehand.

[2020-09-28 19:48] tleonhardt commented on #1002
Yeah, inability to deep-copy an `ArgumentParser` was fixed in Python 3.7.  The context is in older issue #522

[2020-10-11 16:41] spaceTruckerTucker opened #1009 "back space breaks"
I am having an issue with cmd2 where I loose the back space after any command is executed, this follows over to the terminal once the script has been exited. I have minimized the code where this issue occurs and attached it for review with a screen shot of the issue. If anyone has any insight into this please let me know as I would really like to to fix it.

Platforms tested: Kali 2019, kali 2020.

[2020-10-11 22:37] kmvanbrunt commented on #1009
I ran into this issue as well a few months ago. I'm assuming your default terminal is set to QTerminal. On Linux and Mac, cmd2 runs `stty sane` after each command. For some reason, this puts QTerminal into the state you are seeing. Try running `stty sane` in bash you'll see the same behavior. The solution is to switch to a different terminal.

`sudo update-alternatives --config x-terminal-emulator

[2020-10-11 23:06] spaceTruckerTucker commented on #1009
Hey, thanks for the information really appreciate it but unfortunately it still did not fix the issue after changing to MATE.

[2020-10-11 23:22] kmvanbrunt commented on #1009
Did you open a new terminal after changing the default? When you select `Help -> About` in the terminal, does it show it's running MATE?

[2020-10-11 23:44] spaceTruckerTucker commented on #1009
Yeah even did and init 6 to kick it over but now that I actually went back and checked it. Even tho MATE is selected it's still using QTerminal, so I just had to manually force it to switch over and that fixed the issue. Thank you for all the help.

[2020-10-11 23:52] kmvanbrunt commented on #1009
I'm happy you got it working.

[2020-10-11 23:52] #1009 closed

[2020-10-12 00:00] spaceTruckerTucker commented on #1009
Thank you very much for the help

[2020-10-29 04:22] godzillachan opened #1010 "Please consider the ability to suppress diagnostics output of "set" command"
Currently when a Settable's value is changed via "set" or via startup script, there is a small amount of diagnostics output that is always generated regardless of the "quiet" setting.  For example:

root - was: '/.space'
now: '/.more-space'

This is somewhat jarring if we use a lot of "set" commands in startup script.  Would you please consider suppressing this output?

[2020-10-31 22:55] KyleKing commented on #1010
Would a `set ... --quiet` or `set ... --silent` be useful? Particularly for the case of a startup script

[2020-10-31 23:41] KyleKing commented on #979
I found some documentation on `ipy` in [embedded_python_shells.html](https://cmd2.readthedocs.io/en/latest/features/embedded_python_shells.html#ipython-optional). I think I'm missing something obvious, but how do you access `self` from within the ipy shell?

[code]

[2020-10-31 23:53] kmvanbrunt commented on #979
Set `self.self_in_py = True`. We default this to `False` so normal users can't mess with `self` in pyscripts or IPython shells.
Typically in apps that I write, I include a developer mode where I set that flag to `True`. That way I can easily make changes to the application state within ipy for debugging purposes.

[2020-11-01 00:57] kmvanbrunt commented on #1010
We're looking at a few options for this one.
1. Add option to run startup script silently. I think this one is a must. The startup script is executed using the `run_script` command. In all other cases, a user would be able to redirect the output of `run_script` to /dev/null. I believe startup scripts should have the same option.
2. Add `--silent` flag to `set` command like `alias` and `macro` comm

[2020-11-01 14:14] KyleKing commented on #979
Oh 🤦 , I missed the information in your first comment and at the top of the page for [embedded_python_shells](https://cmd2.readthedocs.io/en/latest/features/embedded_python_shells.html)

Maybe an example under the `ipython-optional` header would help?

[code]

[2020-11-02 13:55] tleonhardt commented on #979
@kmvanbrunt What other changes do you typically make in your developer mode?

[2020-11-02 16:35] kmvanbrunt commented on #979
In developer mode, I typically do the following:

- `self.debug = True`
- `self.self_in_py = True`

If not in developer mode:

- `self.self_in_py = False`
- Add `ipy` and `py` to `self.hidden_commands`

[2020-11-02 18:51] tleonhardt commented on #979
@kmvanbrunt Do you think that is a generic enough functionality that we should add it into cmd2, perhaps as an opt-in feature supported by an optional flag provided to the initializer?

[2020-11-11 01:36] EpicWink opened #1013 "TypeError on tab-completion on Windows"
When using tab-completion on Windows (ie using `pyreadline`), I get a TypeError.

[code]

This is due to the line (in the commit that introduced it): https://github.com/python-cmd2/cmd2/blob/e6a9a1c972e5e6195278966c6b134a2f450465e1/cmd2/cmd2.py#L1578

The metadata is being written to stdout, then the return value of that write (the number of characters written, an integer) is passed to `readline.r

[2020-11-11 03:43] tleonhardt commented on #1013
@EpicWink Thanks for reporting this!  We'll take a look at replicating and fixing it shortly.

@kmvanbrunt This sounds up your alley ...

[2020-11-11 03:45] tleonhardt commented on #1002
@kmvanbrunt #1005 appears to have fixed this, at least temporarily.  Are we awaiting a more permanent fix?  Or should this issue be closed?

[2020-11-11 17:12] kmvanbrunt commented on #1013
Oops, that was a bad copy/paste error on my part. Pull request is up to fix it.

[2020-11-11 17:14] kmvanbrunt commented on #1002
@tleonhardt The permanent fix needs to be in 2.0. We need a way to support instance-specific parsers and that will most likely be a breaking change.

[2020-11-11 21:07] #1013 closed

[2020-11-12 02:47] tleonhardt commented on #1013
@EpicWink The 1.4.0 release has been published to PyPI which has a fix for this bug.

[2020-11-12 20:43] anselor commented on #952
More of a note to self - it's possible that we need to specify newer versions:
setuptools >= 42
setuptools_scm >= 3.4.

[2020-11-16 22:53] gmmephisto opened #1016 "Traceback on import cmd2 in centos:7 docker container"
Hi! I've got an error while running tests using `stestr` tool for some OpenStack project in fresh `centos:7` docker container. There is an original traceback:
[code]
Looks like `stestr` uses `cmd2` under the hood and `cmd2` tries to detect the default editor using `which` tool, but can not find it. And `EDITOR` env variable is not set in the container by default.

Steps to reproduce the:
* `$ dock

[2020-11-16 23:09] gmmephisto opened #1017 "Incorrect detection of default editor in ubuntu:bionic docker container"
Hi! I found a corner case in the default editor detection where neither `EDITOR` variable set nor any editor installed in the system. The excellent environment to reproduce this case is `ubuntu:bionic` docker container.

Steps to reproduce:
* `$ docker run -ti --rm ubuntu:bionic`
* `(container) # apt update && apt install python3 python3-pip`
* `(container) # pip3 install cmd2`
* `(container) # py

[2020-11-18 02:48] #1016 closed

[2020-11-18 02:49] tleonhardt commented on #1017
This was closed by #1018

[2020-11-18 02:49] #1017 closed

[2020-11-19 09:25] SolomonSklash opened #1019 "Printing to CLI from outside the cmd2 event loop"
Hello,

I am running Flask asynchronously while using cmd2. Occasionally I want to print a message to the cmd2 CLI from inside a Flask HTTP request handler function. I do this simply using `print('message from Flask')`.

Doing this "overwrites" cmd2, appending the message after the prompt and requiring a carriage return to get the prompt back to normal, like this:

[code]

Is there a standard way

[2020-11-19 13:58] mrherman opened #1020 "behavior with use_rawinput=False differs with cmd"
I've located a couple things with cmd2 that differ with the standard library cmd.  I set stdin and stdout in the init to a file object that is attached to a socket like:

[code]

comparing the behavior between cmd2 and cmd by just changing `class FirstApp(cmd2.Cmd):` to `class FirstApp(cmd.Cmd):` I see the following changes:

1. cmd2 doesn't flush its output while cmd does resulting in no output b

[2020-11-19 14:52] mrherman commented on #1020
I think both of the above behaviors is related to that file is not a tty and cmd2 checks isatty() on stdin and doesn't flush or print the prompt if it is not a tty.

The code for checking isatty and printing the prompt is here:
https://github.com/python-cmd2/cmd2/blob/aac467e6eb2557b15170919446b2d9cc8fffabdc/cmd2/cmd2.py#L2574-L2593

A workaround is that I can trick cmd2 by making file.isatty() re

[2020-11-19 15:15] kmvanbrunt commented on #1019
See the [async_printing.py](https://github.com/python-cmd2/cmd2/blob/master/examples/async_printing.py) example for a demonstration of how to asynchronously print in cmd2.

Also reference the [Prompt - Asynchronous Feedback](https://cmd2.readthedocs.io/en/latest/features/prompt.html#asynchronous-feedback) section of the user manual.

[2020-11-19 17:24] kmvanbrunt commented on #1020
When input isn't coming from a tty, the prompt and input line are displayed only if `self.echo` is True.

[2020-11-19 17:43] mrherman commented on #1020
echoing the prompt/command is different than displaying the prompt (the former comes after the command is entered and the later before the command is entered).  In the case I presented above I can telnet in to the socket to interact with cmd2, but I don't get a prompt.  If I turn echo on, I still don't get a prompt, but after I type the command I'll see the prompt/command displayed.

Maybe I am ap

[2020-11-19 18:36] SolomonSklash commented on #1019
Thanks @kmvanbrunt . I'd read through that example, and it makes sense, assuming you are printing from within cmd2. I've not been able to figure out how to call into an existing cmd2 instance and pass in text to print. None of the examples I've looked though seem to have that use case either. I tend to get a lot of `AttributeError: 'str' object has no attribute 'stdout'` errors when I pass a strin

[2020-11-19 18:38] kmvanbrunt commented on #1019
Is the flask instance running in the same process as the cmd2 instance?

[2020-11-19 18:57] SolomonSklash commented on #1019
Scratch that, I just got it working. The example helped, I tweaked the `_generate_alert_str()` function to access a globally shared list of alerts, and it work great now.

Thanks a ton for your help, and your work on this library!

[2020-11-19 18:57] #1019 closed

[2020-11-19 19:50] kmvanbrunt commented on #992
Closing since @ralequi was given direction on how to proceed for this custom functionality.

[2020-11-19 19:50] #992 closed

[2020-11-20 17:25] kmvanbrunt commented on #1002
@anselor Do you have any thoughts on this issue?

[2020-11-20 17:49] anselor commented on #1002
I'm sure I do I've just been busy with other more immediate deadlines and haven't had time to come back to this and other cmd2 stuff.

[2020-11-21 15:31] KyleKing opened #1022 "default_error formatting"
The default_error appears to print without style, but I think it should be red

Is this the intended behavior to print without style or is this a bug in how the style is removed in perror? Temporarily I'm overriding the default() method to set apply_style to true

https://github.com/python-cmd2/cmd2/blob/aac467e6eb2557b15170919446b2d9cc8fffabdc/cmd2/cmd2.py#L2519

[2020-11-21 15:35] KyleKing opened #1023 "Change Prompt Color with ansi.Style Rules?"
If I set the prompt to some color (i.e. `self.prompt = color('blue> ', fg=fg.green`)

Then run a script and capture the output (`run_script script.txt -t transcript.txt`)

The transcript file will have the color formatting

[code]

Is there a way to safely set the prompt style? So that the transcript.txt looks like this:

[code]

---

Separate, but related question, is there a way to change the co

[2020-11-21 15:51] KyleKing opened #1024 "Escaped slash in transcript?"
I ran these commands in my app

[code]

But the transcript introduces an escaped forward slash that is causing issues in my automated tests (`slash-script.txt`)

[code]

Is the escaped forward slash an intended behavior?

[2020-11-21 16:48] kmvanbrunt commented on #1022
`cmd2.Cmd` has 2 error string members which we do not print in red by default.

[code]

Since these are custom messages, we did not want to enforce the message or style on developers.
Rather than overriding the methods which print them, it would be easier for you to do the following in your `__init__()` function.

[code]

[2020-11-21 16:54] KyleKing commented on #1022
Thanks, tested and that works!

[2020-11-21 16:54] #1022 closed

[2020-11-21 17:04] tleonhardt commented on #1023
@KyleKing If I remember correctly, the Transcript Testing feature ignores any ANSI escape codes that are part of the prompt when doing its comparisons - so the presence of them won't hurt.

You can view the transcript in color by using any program which supports rendering of ANSI codes, such as any of the following:
- `cat`
- `less -r`
- `more`

[2020-11-21 17:10] tleonhardt commented on #1024
@KyleKing I'm not sure, but I think you might be confusing two completely separate features.

`cmd2` support executing basic ASCII text scripts of commands as you would enter them normally on the command-line using the `run_script` command.  `cmd2` also supports a built-in regression testing framework we call **Transcript Testing** and it has capabilities for automatically generating transcripts.

[2020-11-21 17:14] tleonhardt commented on #1023
@KyleKing An example would definitely help as would an explanation of what it is you are trying to do and/or what you want to accomplish.

First off are you really intending to use a **Transcript** file?  These are for a built-in regression test framework feature called **Transcript Testing**.  If you just to run a script using `run_script` - you are not generating a script in the correct way.

[2020-11-21 17:22] KyleKing commented on #1023
Thanks for the reply!

My use case is that I'm working on a school project where we have script/transcript files to compare against (hence the burst of issues since it it due tomorrow and we are just trying to complete the last few things 😄 )

My first approach was to use the `--test` transcript feature, but it seemed to be ignoring other commands passed at initialization (i.e. `python main.py "lo

[2020-11-21 17:26] KyleKing commented on #1024
Thanks, I'll go ahead and close this issue and continue the discussion in #1023 since this is more about resolving my use case

[2020-11-21 17:26] #1024 closed

[2020-11-21 17:29] KyleKing commented on #1023
Merging the discussion from #1024 and from my comments above. Would it be better to pipe the output of `run_script` rather than using `-t`. I haven't tested this yet, but I saw there were options to use `>` etc. but I'm not sure if they are cross-platform. I'll take a look at: https://cmd2.readthedocs.io/en/latest/features/redirection.html

[2020-11-21 17:33] tleonhardt commented on #1023
If you need to be able to parse additional arguments when launching your cmd2 application, please see [decorator_example.py](https://github.com/python-cmd2/cmd2/blob/master/examples/decorator_example.py#L91-L112) for one example of how to do that.

[2020-11-21 17:35] tleonhardt commented on #1023
It isn't clear to me exactly what you want to do and/or what you are struggling with, but I'm 95% sure you don't want to be using the **Transcript Testing** feature.  So yeah you probably shouldn't be using `-t`.

All features of `cmd2` are cross-platform and work on Windows, macOS, and Linux unless explicitly stated otherwise.  Redirection and piping work the same on all OSes.

[2020-11-21 20:22] tleonhardt commented on #874
Lately TravisCI has been super slow.  So it might be a better candidate for first moving to GitHub Actions

[2020-11-22 01:28] ralequi commented on #992
Thank you @kmvanbrunt . I'll probably reopen this issue when I have time to work on it.

[2020-11-22 17:45] KyleKing commented on #1023
We turned in the project last night, so I left the tests cases the way they were. I'm planning on using Cmd2 in other projects at work/personal, so I'll have more control over what test scripts/transcripts look like and will be able to use the transcript testing more appropriately

[2020-11-22 17:45] #1023 closed

[2020-11-22 17:48] KyleKing opened #1025 "pyreadline"
I ran into a character encoding issue on Windows installing pyreadline with poetry, but was able to manually install it with pip

In case this would be useful, I found that pyreadline hasn't been updated in 5 years, but there is an active fork, pyreadline3, that should be a drop in replacement. See: https://github.com/brgirgis/pyreadline3

[2020-11-22 17:58] tleonhardt commented on #1025
@KyleKing We'll have to check out `pyreadline3`.  The REAMDE for it says it works with Python 3.8+ and currently `cmd2` supports Python 3.5+, to move soon to 3.6+ - so that could be a blocker.  But maybe it will actually work with earlier versions of Python.

Can you provide more details about the character encoding issue you ran into?

[2020-11-22 19:18] KyleKing commented on #1025
I saw the encoding issue while remotely debugging over a screen share and don't have access to Windows, but it should be reproducible with `poetry init; poetry add pyreadline`

That's interesting, the pypi README says 3.3+ in the 3.1-3.3 releases, but not the 3.0 release (3.8+) and the current Github README. Their test action does pass on 3.6-3.9: https://github.com/brgirgis/pyreadline3/blob/maste

[2020-11-22 19:22] KyleKing commented on #1025
I think this was the codec issue we saw (we were using python 3.8.3): https://github.com/pyreadline/pyreadline/pull/63

[2020-11-25 23:19] True-Demon opened #1026 "Request: Create a settable.setter_cb callback option"
I'm writing a somewhat complex application with Cmd2 and I'm loving the ease at which I can add new commands, functionality, and such to it. One hang-up I'm having is with the `Settable` class, more specifically that it lacks the ability to allow the user to define _how_ a `settable` parameter is set.

I looked at the code for the `onchange_cb()` method which allows the programmer to define action

[2020-11-25 23:59] anselor commented on #1026
This seems heavily related to #965, trying to associate settables to CommandSets so they come and go with a CommandSet. I also had the thought of trying link published settables to arbitrary objects. I'll have to read through this in more detail when I'm not on a phone.

I've been busy with other things recently and haven't had time to do any cmd2 enhancements.

[2020-11-26 03:12] kmvanbrunt commented on #1026
The `Settable` class has a member called `val_type` which is defined as:
[code]

I believe this already does what you are looking for. Just set `val_type` to your conversion/validator function which should return the correct type after parsing and converting the user's input.

Please view [`Settable.__init__()`](https://github.com/python-cmd2/cmd2/blob/master/cmd2/utils.py#L104) for full documenta

[2020-12-04 13:08] timothy-netapp opened #1027 "prompt not displaying in pycharm"
I'm running cmd2 1.4.0 on a Mac with python 3.8 using conda environment.  When I run inside pycharm IDE, the prompt does not display.  Running it from bash shell works fine.  The prompt works when I use the older cmd package inside pycharm.  This is a pain since I do all my dev work inside pycharm.  Likely something that pycharm is doing, but hoping for a work around.

[2020-12-04 14:05] anselor commented on #1027
Maybe @tleonhardt or @kmvanbrunt have some insights on this. I use PyCharm as well and I just run it externally and attach to it if I need to debug. I seem to recall @tleonhardt said that VS Code does show the prompt correctly in their built-in terminal emulator. I didn't like VS Code as much as PyCharm when I tried it.

[2020-12-04 20:00] aenima-x opened #1028 "Error parsing arguments with spaces when used as command"
I have a command with an string argument that is a json string.
When the command is called inside cmd2 works perfect but when is call as a command from the terminal

Example:
This works fine
my_app> example_command -d '{"key": "value"}'

but when executed from command line:
#> my_app example_command -d '{"key": "value"}'

example_command: error: unrecognized arguments: value }

I have tried a lot

[2020-12-04 21:23] anselor commented on #1028
If I were to guess, bash might be stripping away the single-quotes. Maybe this could work:

[code]

[2020-12-04 21:37] kmvanbrunt commented on #1028
**cmd2** uses Python's **shlex** library to split the command line into tokens. Specifically we call it like this:
[code]

Since **cmd2's** parser uses **shlex** we have whatever limitations it has. The syntax you are suggesting would require some custom parsing on your part.

Read the non-POSIX mode [shlex parsing rules](https://docs.python.org/3/library/shlex.html#parsing-rules) to understand wh

[2020-12-04 21:48] marc-haberstroh commented on #1027
I see the same issue described when running in Eclipse/PyDev. The Eclipse console doesn't show the prompt. Prompt does display when run from bash.

[2020-12-04 21:50] aenima-x commented on #1028
Ok with the suggestion of @anselor worked, I will use it like that.

I'm migrating from click and with click the other syntax worked ok.

[2020-12-04 21:50] #1028 closed

[2020-12-04 21:52] aenima-x commented on #1028
thanks @anselor I thought I tried that way

[2020-12-05 00:56] tleonhardt commented on #1027
@timothy-netapp Can you please provide some more information, in particular the following:
- Version of PyCharm
- Version of MacOS
- How you are running within PyCharm
- Default terminal

In older versions of PyCharm, the terminal didn't work well, but in newer versions I've never had a problem.

I just tested using the following setup and was unable to reproduce the problem:
- macOS Big Sur 11.0.

[2020-12-05 01:10] tleonhardt commented on #1026
@True-Demon Have you tried the approach recommended by @kmvanbrunt ?  It seems like it should work great and if so, I would like to close this Issue.

[2020-12-05 01:16] tleonhardt commented on #1025
`cmd2` already has a conditional dependency on `pyreadline` in the case that the OS is Windows.  Given that `pyreadline` hasn't been updated in about 5.5 years, I think its safe to say it is abandoned.

I'd say that we may want to implement some slightly more conditional dependency logic where for Windows, if they version of Python is newer then we have a dependency on `pyreadline3` and a dependen

[2020-12-05 02:17] timothy-netapp commented on #1027
I'm running
MacOS Catalina 10.15.7
PyCharm : I was running PyCharm 2020.2.3 (Professional Edition) I just upgraded to 2020.3 and same problem
I use Conda virtual environment with Python 3.8.5
I run it using the run configurations so I can have different command line args to test with and just hit ^r to run or ^d to debug so it runs inside the "Run" tab within the IDE.  If I manually run it in "Ter

[2020-12-05 02:38] timothy-netapp commented on #1027
Also, I just installed python 3.8.6 directly from python.org and set up a non-Conda virtual environment.  Still no prompt in the run tab.  My IT Dept has not blessed Big Sur yet nor do I really want to jump on that for a while.

[2020-12-05 02:57] tleonhardt commented on #1027
@timothy-netapp Thanks for all the info - that explains it and there is a really easy fix.  By default when you are running in PyCharm using either `run` or `debug`, it doesn't actually really emulate a terminal.  However, there is a box you can check in "Edit Configurations" under the *Execution* section called **Emulate terminal in output console**.

Check that box and everything should just wor

[2020-12-05 03:01] tleonhardt commented on #1027
On an unrelated note, the default version control integration in VSCode is crap.  But the [GitLens](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens) extension is excellent and makes it worlds better.

[2020-12-05 04:29] True-Demon commented on #1026
Apologies, I took some time off for the holiday and haven't been back til now. This does look promising, but let me do some tests this weekend and I'll let you know. If it works, I'll copy my solution and close the issue.

Thanks, guys, for all the helpful tips. :grinning:

[2020-12-06 23:06] True-Demon commented on #1026
@tleonhardt & @kmvanbrunt
Thank you. I did finally figure this out, and yes, it works perfectly. The only change I needed to make was to account for the provided argument in the callback function.

The main pitfall for me was that it wasn't immediately apparent in the documentation that val_type could also be a callback function, but looking back that it is marked as "Callable" in the docstring, i

[2020-12-06 23:06] #1026 closed

[2020-12-06 23:21] True-Demon commented on #1026
For the sake of those who run into this in the future, I wanted settable to be able to accept a dictionary, but one that had very specific value requirements. in order to set this dictionary values, I needed to make sure to hold the user's hand and prevent them from putting in bad/invalid values for the dict.

In this case, this dictionary was a dict with the CVSS (Common Vulnerability Scoring Sys

[2020-12-10 18:19] navneethc opened #1029 "Using startup_script with entry_point"
I'm sorry if this kind of question doesn't belond in the 'Issues' category. I've tried looking through the documentation and searching Google, but I couldn't find an answer. I'm using this as a last resort.
<hr>

Could someone please show me a way to invoke the `startup_script` when one wants to run the script from an entry point?

This is how my source directory looks:

[code]

The `startup_scrip

[2020-12-15 02:48] tleonhardt commented on #1027
@timothy-netapp I'm going to close this since I think I documented the simple checkbox fix.  If you are still having problems, feel free to re-open it.

[2020-12-15 02:48] #1027 closed

[2020-12-15 11:33] navneethc commented on #1029
Closing this issue as a solution was found, and the original problem was found to be not related to cmd2.

[2020-12-15 11:33] #1029 closed

[2020-12-16 01:26] xNinjaKittyx commented on #930
I was somewhat bored on a weekend, and I did some stuff with pre-commit along with your recommended linters into a branch. Let me know what you think. Most changes were automated by pre-commit, so the more important files to look at would be .travis.yml, setup.cfg, tasks.py, and .pre-commit-config.yaml

https://github.com/python-cmd2/cmd2/tree/ci_improvements

[2020-12-16 01:57] tleonhardt commented on #930
@xNinjaKittyx I really like the basic approach. I'm sorry you were bored, but I'm glad you spent the time doing this ;-)   I think we want to tweak the default configurations a little though.

For starters, for `black`, I recommend we add the setting to ignore forcing double quotes everywhere.  Personally I think that is arbitrary and it makes this diff way harder than it should be to look at.  I

[2020-12-16 02:09] xNinjaKittyx commented on #930
Yeah for E231, it's an unfortunate bug that's in black's 2nd to last release. There's several reports, but here's one for example

https://github.com/psf/black/issues/1465

Regarding why I avoided the latest release is due to this bug
https://github.com/psf/black/issues/1629

I thought I added this to setup.cfg to ignore E231
[code]

running black twice I think is worse than just temporarily disab

[2020-12-16 02:19] tleonhardt commented on #930
Yeah I'm fine temporarily disabling E231 until black is fixed. If we do that, we need to make sure we do it universally so it is the same for pre-commit, running manually via invoke and running in the unit tests

[2020-12-16 02:25] tleonhardt commented on #930
@kmvanbrunt @anselor Can one or both of you please take a look at the changes on this branch. There are lots of little whitespace changes with the adoption of `black`.  I want to make sure you both think the changes are OK.  We can make small tweaks in configuration(s) if that helps.

[2020-12-16 02:30] xNinjaKittyx commented on #930
I had another question...

For `invoke flake8`, we also invoke flake8 inside ext_test, but the one in the root folder already covers the plugin. Would there be a reason why we would want to have 2 separate flake8 runs?

Since `setup.cfg` is in the root folder, the task inside `ext_test` will execute with its own parameters. It's fairly easy to fix with a config parameter, but was wondering if we e

[2020-12-16 02:34] tleonhardt commented on #930
Good question.  I can't remember if there is a good reason for that or not.  Not too long ago @anselor moved a core extension inside the main repo and when he did that also ported from using `tox` to using `nox`.  @anselor Do you have any memory of why we did it this way?

[2020-12-16 02:59] anselor commented on #930
2 things come to mind. One is when I'm working on a component I like being able to run things scoped to that component. So like run validation and testing on just the plug-in without running it on everything. The second is that the plugin was in it's own repo before so it could be a holdover.

I'll try to take a look at the changes tomorrow when I'm in a computer.

[2020-12-17 19:50] legacy-code opened #1030 "Question: is there a way to have an alias execute multiple commands?"
Just curious if there is a way to do this.  I didn't see anything in the docs, so ...

Let's say I have a couple of commands defined: a and b.  If I want to define an alias to perform both of these command with an alias, how would I do that?

`alias create c a;b` or something like that (this doesn't work, btw, or didn't for me), hence, the question.  Is there a way to do this?

Thanks!

[2020-12-17 19:59] tleonhardt commented on #1030
Aliases are designed to allow users to customize their environment in a cmd2-based application so they can call a single command in a specific way and give that a name.   I don't believe there is currently a direct way to make an alias execute multiple cmd2 commands.

However, cmd2 supports both text-based scripts via the `run_script` command and Python-based scripts via the `run_pyscript` command

[2020-12-17 20:10] legacy-code commented on #1030
Hmmm.  Something to think about.

I'm using a Cmd2 app for myself, where I wanted to string several commands (defined as do_xx) together -- stop server, build stuff, and then restart server.  All of these commands are defined, but not as *one* command.

You did answer my question though.  Aliases are meant as a one-to-one command, not quite like an alias in, say bash, which can do all sorts of thi

[2020-12-17 20:19] legacy-code commented on #1030
As an idea, maybe I could do another command (i.e. do_multcmd or something like that) which would take the passed in string (could be looked up or passed in) and then it would split it and then call the cmd2.onecmd() for each.  Currently, the commands that I would want to run don't have any parameters, so that makes it easier.

That might solve it for me and add something I might use.  Will have t

[2020-12-17 20:33] legacy-code commented on #1030
Looking at the command scripts, you are right.  This might be something that would probably do exactly what I need.  I haven't used them yet, so had to look it up to see what it does.  It looks like exactly what I'm wanting to do in this instance.

I'll have to give it a go and see how it works out!

Thanks!  Really appreciate it!

[2020-12-17 20:33] tleonhardt commented on #1030
@legacy-code Yeah I think that can work for you.  I would encourage to look at potentially using the [runcmds_plus_hooks](https://github.com/python-cmd2/cmd2/blob/master/cmd2/cmd2.py#L2132-L2158) method which lies at the core of the implementation for the `run_script` command.  It should do 80% of what you are looking for and you just need to add some split logic outside of it in your command.

[2020-12-17 20:53] legacy-code commented on #1030
@tleonhardt Thanks so much.  This has given me some additional thought on what to add to my app.

Currently, the `run_script` handles what I need.  The only down side is it needs to create a file to execute from, and that's not bad at all, just sort of inconvenient at worst.

Thanks for the thoughts on using `runcmds_plus_hooks` - I might give that a go as well.  It all depends on how much time I

[2020-12-17 21:39] tleonhardt commented on #1030
@legacy-code Good luck with your project.  Glad you are enjoying cmd2.  I'll close this now.

[2020-12-17 21:39] #1030 closed

[2020-12-23 00:48] aenima-x opened #1031 "non ascii character written to stdout after command finished"
when I run a command from command line using "onecmd_plus_hooks" I get a nons ascii character written to stdout.
If the command is executed in the interactive mode it all fine.

The most strange thing is that if i put a print after the line ```app.onecmd_plus_hooks(command_string)```
the character is written after the print.
And that is the last line in the script

[2020-12-24 22:24] tleonhardt commented on #1031
@aenima-x Could you possibly provide a small code example to help us reproduce this issue?  Also, what OS, version of Python, terminal, and shell are you using?

[2020-12-24 22:38] tleonhardt commented on #1031
On an unrelated note, you should almost never use a `print` within a cmd2 application.  We have a slew of output methods within the `cmd2.Cmd` class which your application should inherit from such as:
- [poutput](https://cmd2.readthedocs.io/en/latest/api/cmd.html?highlight=poutput#cmd2.Cmd.poutput)
- [perror](https://cmd2.readthedocs.io/en/latest/api/cmd.html?highlight=perror#cmd2.Cmd.perror)
- et

[2020-12-24 23:05] aenima-x commented on #1031
Yes the print was just a test.
I use poutput.
I will provide the info, I will try in a different OS first

[2020-12-28 16:38] aenima-x commented on #1031
Forget it, I was doing something un postcmd()

thanx

[2020-12-28 16:38] #1031 closed

[2021-01-09 01:00] tleonhardt opened #1035 "Unit test failures on Python 3.8 and 3.9"
The `test_not_in_main_thread` test is now failing on Python 3.8 and 3.9 on both macOS and Linux - its probably also failing on Python 3.8 and 3.9 on Windows, but our unit tests on run for Python 3.6 and 3.7 on AppVeyor at the moment.

The failure looks like:
[code]

So I think either something changed in recent versions of Python 3.8.7+ which makes this behave differently or something changed in p

[2021-01-09 01:04] tleonhardt commented on #1035
Unfortunately there hasn't bee a lot of activity in this repo recently.
- Last known good build: November 25, 2020
- First known bad build: January 2, 2021

So whatever release broke things happened somewhere between those two dates above.

[2021-01-09 01:17] tleonhardt commented on #1035
Last good build on Mac:
- Python 3.8.6, pytest-6.1.2, py-1.9.0, pluggy-0.13.1
- pytest plugins: mock-3.3.1, cov-2.10.1

First bad build on Mac:
- Python 3.8.6, pytest-6.2.1, py-1.10.0, pluggy-0.13.1
- pytest plugins: mock-3.4.0, cov-2.10.1

Differences between passing and failing:
- py 1.9.0 vs 1.10.0
- pytest-mock 3.3.1 vs 3.4.0

[2021-01-09 01:25] tleonhardt commented on #1035
The only things I can see unique about the failing unit test is to the best of my knowledge, it is our only unit test which uses the `threading` module.  It doesn't using mocking in any way, so I think we can rule out changes to `pytest-mock` as a potential cause.

`py` is just a support lib used by `pytest` and it doesn't seem like there are any earthshattering changes from 1.9 to 1.0: https://gi

[2021-01-09 01:35] tleonhardt commented on #1035
Linux Builds

Python 3.9:
- Last good: Python 3.9.0+, pytest-6.1.2, py-1.9.0, pluggy-0.13.1  ; plugins: cov-2.10.1, mock-3.3.1
- First bad:    Python 3.9.1+, pytest-6.2.1, py-1.10.0, pluggy-0.13.1;  plugins: cov-2.10.1, mock-3.4.0

Python 3.8:
- Last good: Python 3.8.0, pytest-6.1.2, py-1.9.0, pluggy-0.13.1 ; plugins: cov-2.10.1, mock-3.3.1
- First bad:   Python 3.8.6, pytest-6.2.1, py-1.10.0, plu

[2021-01-10 18:33] laf0rge opened #1036 "stdin redirection?"
it's very nice that one can redirect the output of some command to a file.

However, in order to have symmetric operation, one would also have to be able to use stdin redirection, i.e. start a command which then receives stdin from a file.

stdin from a file is one step, the second - even better - step would be the ability to 'pipe' the output of a shell command into the stdin of a built-in cmd2 c

[2021-01-11 17:19] anselor opened #1037 "PEP 561 Compliance"
We added type declarations but didn't meet PEP 561 so mypy validation against anything that uses cmd2 causes a lot of warnings.

[2021-01-13 20:17] legacy-code opened #1039 "Printing `console.print()` with Markdown referenced links has unexpected output"
Not sure if this is a know issue or not, but I found it when writing a script for myself that processes Markdown referenced links.

I included a small example (below) that I created for this after figuring out what the issue was.

So, is there a way to tell Rich to **not** try to do color (or any other interpretation) on a string it is going to print?

Thanks!
Mike

========================
Exampl

[2021-01-13 20:41] legacy-code commented on #1039
Sorry about this guys -- totally wrong repo here.  Not sure what I was thinking.

Please close this, as not an issue for Cmd2.

Thanks and sorry for the noise!
Mike

[2021-01-14 01:15] #1039 closed

[2021-01-16 00:38] tleonhardt commented on #1036
@laf0rge Thanks for the suggestions.  Certainly the ability to pipe the output a a shell command or cmd2 command into another cmd2 command would be useful and we already have issue #978 that covers that suggestion.

The ability to use stdin redirection is a separate request and we can look into the possibility and keep this issue open for that.

Actually, a long time ago cmd2 had this capability,

[2021-01-16 01:05] tleonhardt commented on #1035
I upgraded my local virtualenv to Python 3.9.1 and everything is passing:
[code]

[2021-01-21 02:28] jayrod opened #1040 "Add search path functionality for run_script and run_py_script commands"
It would be helpful if it were possible to add a search path for the run script and py run script commands. This would allow an application to specify a central place to hold scripts.

As an added bonus it would be great if the scripts were auto-completed as well.

[2021-01-21 15:20] #1035 closed

[2021-01-21 22:29] kmvanbrunt opened #1042 "Support formatted tab-completion output"
Add support for newlines and colored text in tab-completion hints.

[2021-01-21 22:32] kmvanbrunt commented on #1002
@anselor and I agree the 2.0 release does not have to wait for this fix. The risk of someone using two cmd2 objects and editing common parsers between them is pretty low.

[2021-01-21 22:49] kmvanbrunt opened #1043 "Populate self.last_result in all built-ins"
Currently only `do_shell` populates `self.last_result`. For the 2.0 release, all built-in commands should set this member to `True` or `False` to fully support `pyscript`. Right now it assumes the command failed if `CommandResult.stderr` is populated. That isn't a safe assumption since `pfeedback()` can write to stderr in non-error cases.

[2021-01-21 22:50] kmvanbrunt opened #1044 "2.0 Discussion"
@anselor @tleonhardt
I'd like to move toward getting cmd2 2.0 released. What needs to get done before we do?

My list

- ~~#1042 (Support formatted tab-completion output) (This will only be done on 2.0 branch)~~

[2021-01-22 04:48] jayrod commented on #940
I've been working on this exact item (but it is super un polished)

https://github.com/jayrod/cookiecutter-cmd2-python

[2021-01-22 04:50] jayrod commented on #940
I also believe that the plugin example should be a cookiecutter template as well. Ideally both templates would be linked together so that you could quickly stand up a CLI as a framework and then if needed create a bunch of plugins for it that are also separate projects.

[2021-01-22 06:30] anselor commented on #1044
Not exciting work, but updating the examples to be up to date with our latest improvements is probably a good thing to do. #1000

Also, #1010 suppressing output of startup scripts.

passing both flake8 and mypy with type annotations throughout would be nice too.

#965 per-CommandSet settables

[2021-01-22 15:39] anselor commented on #952
Resolved via #1034

[2021-01-22 15:39] #952 closed

[2021-01-22 20:59] kmvanbrunt commented on #1044
We also need to remove the `with_argparser_and_unknown_args` decorator on the 2.0 branch since it was deprecated.

[2021-01-22 22:03] kmvanbrunt commented on #1044
#1010 has a PR out for it now

[2021-01-23 05:35] #1037 closed

[2021-01-23 16:11] tleonhardt commented on #940
@jayrod I don't know the first ting about `cookiecutter`, but if you want to move forward with your example, I'm pretty sure others would be happy to polish it up a little.  So where are cookie cutter templates typically published?  As part of cookiecutter?  As part of the package, e.g. `cmd2`?  Or are they published separately?

[2021-01-23 16:18] tleonhardt commented on #1044
The things I think are most important are:
- #874  - Travis CI is insanely slow and makes working on this project not fun right now, need to replace with GitHub Actions or fix Travis
- #930  - flake8 runs as part of our build - black, isort, and maybe doc8 should also run as part of the build
- #938 - We need to drop support for Python 3.5 so we can finally start to use f-strings and other good Py

[2021-01-24 16:02] tleonhardt commented on #714
I think we have done fine without a library, but in the future if we want one, [deprecated](https://github.com/tantale/deprecated) seems to be both more popular and more maintained than [deprecation](https://github.com/briancurtin/deprecation).

I'll resolve this since I don't think any further action is going to be taken on it at this time.

[2021-01-24 16:02] #714 closed

[2021-01-24 16:07] #1010 closed

[2021-01-24 21:28] jayrod commented on #1044
On the user end of things, the most awesome thing about cmd2 is how it allows you to rapidly build a feature rich application with minimal effort. The simple app is well, simple and if you look at the larger applications they are exceedingly complex.

It is difficult for those of us that are advanced but unable to really grok some of the complexities of cmd2.

I.e. you have a plugin example projec

[2021-01-24 22:14] anselor commented on #1044
@jayrod Take a look at #1000

I was trying to go through and annotate the purpose of each example we have. Probably worthwhile to discuss what examples are missing.

For some if the more complicated features it'll probably actually make more sense to develop a stand-alone app to demonstrate what it does.

[2021-01-25 01:54] jayrod commented on #940
They should be published separately on github. I imagine there might be a basic cookiecutter project and one that is a plugin project.

[2021-01-26 14:14] jayrod commented on #940
My cookiecutter uses a custom plugin setup that I stole from one of the other projects that used cmd2. Perhaps the best practice should be to use the cmd2-plugin project already in the repo ??

[2021-01-26 14:33] tleonhardt commented on #940
I'd recommend keeping any cookie cutter templates somewhere underneath the the `python-cmd2` GitHub Organization for discoverability.  I'd be fine with them being in the main repo under the plugins or in a separate repository.  If anyone wants to help out, let us know and we can get you the access you need.

[2021-01-27 03:43] jayrod commented on #940
I'd be more than willing to start from scratch. My cookie cutter template at the moment is a bit of a mess.

[2021-01-29 01:47] #1025 closed

[2021-01-29 03:59] jayrod commented on #940
So I started over and created a new cookiecutter project using the firstapp cmd2 example.  As I started going down the meta project rabbit hole I can see how others might benefit from such a project. The template provides for a clean setup and install that is fairly basic.

I modeled it after the cookiecutter pypackage project and I think I'll just add it to my repo.

[2021-01-29 15:02] jayrod commented on #940
@Laurentiu-Andronache

I just re-worked the cookiecutter template into a new repo. My old personal template was highly suggestive of the way I like to work and probably a bit complex for a starting place. The new repo name also reflects my intention to create other similar templates. This template is simple and basic

https://github.com/jayrod/cookiecutter-python-cmd2

I would like to make another

[2021-01-29 17:36] tleonhardt commented on #940
Whenever you are happy with your template(s), please submit a CR that adds info on how to use them to the README and/or Sphinx docs.

[2021-01-30 05:47] jayrod commented on #940
The project is actually at a decent place at the moment. I'd love some feedback on how far to go with it. It is a stripped down example of how to create a package around the basic_cmd2 example. I'm not sure exactly how to incorporate testing into it but I'd welcome some insights there.

I plan to add nox testing and bumpversion to the template as well but those items seem less worrisome.

[2021-01-30 05:59] jayrod commented on #979
@kmvanbrunt Please tell me more how you enable 'developer mode'. Is this something that you toggle with a general command after release or do you hide it somewhere and only use it when needed. So normal users *could* be developers if they wanted.

This sounds like a good idea for my cmd2 templates.

[2021-01-30 14:07] jayrod commented on #940
What is a CR btw??

[2021-01-30 16:01] tleonhardt commented on #940
Ah sorry about the confusion.  CR == Code Review, which in my mind is equivalent to a PR == Pull Request. To me, the two terms are synonymous.  I think CR is a better term because it is more descriptive of the overall process.  However, I try to stick with PR on GitHub to avoid confusion.  But every now and then I slip up.

I'll take a look at your cookiecutter project sometime this weekend.

[2021-01-30 17:13] kmvanbrunt commented on #979
@jayrod I just make developer mode a command line option when opening the app. I'm not worried if my users are aware of it, but other applications may want to hide it depending on the intended users.

[2021-01-30 19:16] tleonhardt commented on #874
The `travis-ci.org` site now has a warning at the top that says:

From what I read they are giving everyone 1000 minutes of CPU time (or something like that) for free and then open source projects will need to get "validated" in order to receive free open-source credits.

So this whole re-organization and shutting down of the old infrastructure may in-part explain why Travis has been so shitty lat

[2021-01-31 15:57] jayrod commented on #979
I've been using cmd2 for a long time and it is a great framework to begin any CLI application, the examples are great for familiarization but more complicated things like "developer mode" are a bit more difficult to flesh out.  I think adding a developer mode to my cookiecutter template would mean all would get this functionality by default.

I just want to make sure I do it the right way ;)

[2021-01-31 16:08] jayrod commented on #979
Maybe we can flesh out what "developer mode" really means. I know why self_in_py is used for but why is that a bad thing for normal user mode?  I also saw that there was a nice auto-doc script in the example folder to help spit out help documentation for all commands but it required self_in_py mode. Perhaps developer mode could auto set everything and offer this sort of command.

Are there other d

[2021-01-31 16:10] tleonhardt commented on #979
I like the idea of adding a "developer" mode option to the cookie cutter template and possibly adding some kind of support for it to `cmd2` itself.

At a minimum, during development of `cmd2` applications I always do the following:
- Set `use_ipython=True` when calling `cmd2.Cmd.__init__()` to enable `ipy` command for embedded IPython shell
- Set `self.self_in_py = True` within `__init__()`
- Set

[2021-01-31 18:43] tleonhardt commented on #930
@xNinjaKittyx I think we are going to have to refactor some of your work on the `ci_improvements` branch after PR #1051 merges in.  That PR gets completely rid of Travis CI and AppVeyor and replaces them with CI using GitHub Actions  Workflows - there is also a `Lint` and `Doc` action separate from the main `CI` workflow.

I envision adding something like a `Format` action which runs `black` and `

[2021-01-31 18:46] tleonhardt commented on #938
I already removed Python 3.5 testing already in PR #1051 - it was failing in GitHub Actions for reasons related it to being significantly past its EOL.

So I think we should drop 3.5 support ASAP.  I'm happy if we do that as in a 1.5 release or if we put out 2.0 soon.  But we shouldn't delay since we will no longer have continuous integration testing for Python 3.5 (any version).

[2021-01-31 19:00] tleonhardt commented on #940
@jayrod I tried running the cookie cutter template and got a crash due to an unhandled exception.  I created an issue for it: https://github.com/jayrod/cookiecutter-python-cmd2/issues/11

[2021-01-31 19:46] tleonhardt commented on #940
@jayrod After you pushed the doc instruction fix, I was able to create a basic `cmd2` application using it.  From taking a quick look, the code it generates looks OK to me.  I'll experiment with it more later.

[2021-01-31 21:23] #874 closed

[2021-02-01 03:02] jayrod commented on #940
@tleonhardt I polished it up today as well. I removed the isort dependency from the cookiecutter generation process and instead added it to the generated application. I also updated the Readme documentation with an ascii cinema walkthrough and finally (what I'm a bit happy with) is that I added a functional test case that works with pytest using the cmd2_ext_test plugin.

So you can use the cookie

[2021-02-02 18:30] laf0rge commented on #1036
I was quite excited when I heard that this issue was closed, and the feature already implemented..  However, looking at the actual code changes linked here, I think there was a mistake.   I cannot find any stdin related code in it?

[2021-02-02 22:47] tleonhardt commented on #1036
Re-opening this because I'm 98% sure that @anselor intended to close #1037 and just had an off-by-1 error in his commit message

[2021-02-03 04:57] jayrod commented on #940
I got a little crazy and created a new template based on my plugin needs.

https://github.com/jayrod/cookiecutter-python-cmd2-ext-plug

It creates a base application that's ready to install and a sample plugin that's also installed in a separate package. It uses pluginlib to tie the two together via dynamic CommandSets.

I'm really happy with how it turned out and just how easy CMD2 made it.

[2021-02-12 15:24] jayrod opened #1056 "Sphinx-doc integration question"
I've been playing with getting sphinx to autodocumenteng cmd2 apps.. It's a bit klugy. I was wondering if anyone had done this as well and if there was a way to best represent the help commands in formal documentation?

[2021-02-18 05:11] jayrod commented on #979
@kmvanbrunt could you perhaps share a snippet of how you enable dev mode from the command line..

create a do_dev_mode function that "toggles" settings on and off?

[2021-02-18 23:39] tleonhardt commented on #940
@Laurentiu-Andronache Can you please take a look at the cookiecutter templates that @jayrod has created?

- [Basic cookiecutter template for cmd2](https://github.com/jayrod/cookiecutter-python-cmd2)
- [Advanced cookiecutter template for cmd2](https://github.com/jayrod/cookiecutter-python-cmd2-ext-plug)

I think these satisfy the request in this issue.  But I would like some confirmation if possibl

[2021-02-18 23:45] tleonhardt commented on #1056
@jayrod What audience are you trying to generate the documentation for?  Developers of the cmd2 application?  End users of the application who are not developers?

For developers I think Sphinx works great and is pretty straightforward.

For end users, I don't think Sphinx works so well.  I have documented cmd2-based applications using Sphinx, but it involved a lot of cut-and-paste from help menus

[2021-02-19 04:35] jayrod commented on #1056
I was thinking of turning that help text into a sphinx extension for end users.

[2021-02-19 07:11] DattatrayPayatu opened #1058 "Pyperclip v1.8.1: KeyError: 'XDG_SESSION_TYPE'"
pyperclip v1.8.1 throw **KeyError: 'XDG_SESSION_TYPE'** error when used with CMD2 v1.3.0 and above. (**pyperclip v1.8.0 is working perfect**.)

[code]

[2021-02-19 08:16] tleonhardt commented on #1058
@DattatrayPayatu Nothing here seems specific to `cmd2`.  I think you should create an issue in Pyperclip's GitHub and provide more info such as what OS and version you are using.  Unless I'm missing something, this appears to be a bug in `pyperclip` version 1.8.1

[2021-02-19 09:22] DattatrayPayatu commented on #1058
@tleonhardt, yeah I understand, but pyperclip released the last version in Oct 2020, not sure when they release the fix. Appreciate your help here if it is possible to fix the pyperclip version below 1.8.0 in the next release of cmd2.

[2021-02-20 01:17] tleonhardt commented on #1058
@DattatrayPayatu Can you please provide more information to help us replicate the issue?

Things the would help include:
- OS name and version (including distro if LInux)
- Terminal name and version
- Shell name and version

Also, if Linux, which of the following do you have installed?
- xclip
- xsel
- gtk
- PyQt4

[2021-02-20 21:28] #930 closed

[2021-02-20 21:35] tleonhardt commented on #938
Since the 2.0 branch has been merged into the main branch, we should be able to drop support for 3.5 any time now.

[2021-02-20 21:42] tleonhardt commented on #1058
An issue already exists in the Pyperclip repo for this: https://github.com/asweigart/pyperclip/issues/189

Moreover, there is also already a PR to fix it: https://github.com/asweigart/pyperclip/pull/177

[2021-02-21 03:56] tleonhardt commented on #1058
@DattatrayPayatu Pyperclip 1.8.2 was released a few hours ago with a bug fix for this issue.

[2021-02-21 03:56] #1058 closed

[2021-02-21 04:07] tleonhardt commented on #940
@jayrod I love that you made the advanced cookiecutter example that also creates a plugin and uses dynamic CommandSets!

[2021-02-21 04:17] tleonhardt commented on #979
I'm pretty sure @kmvanbrunt uses `argparse` to parse various command line arguments when his cmd2-based application launches and then based on them passes various arguments to the `__init__` method of the custom class derived from `cmd2.Cmd`.

We used to have a good example showing how to do this and I'm not sure what happened to it.  The [decorator_example.py](https://github.com/python-cmd2/cmd2/

[2021-02-21 04:19] tleonhardt commented on #1020
@mrherman Did you ever find a solution to your problem?

[2021-02-21 04:22] tleonhardt commented on #1040
@jayrod The `run_script` and `run_pyscript` commands both already use filesystem path completion, so they should tab-complete file names on your path.  Its currently all relative to your current working directory.

[2021-02-21 15:04] #938 closed

[2021-02-22 17:25] jayrod commented on #940
Thanks, I also just added a second type of plugins that allows for Settables from afar as well. So you can define a CommandSet AND Settables to go along with them.

[2021-02-22 18:51] jayrod commented on #1056
After a day of traveling down the Sphinx extension rabbit hole, I'm going to avoid this topic and never speak of it again.. Hopefully.

[2021-02-22 18:51] #1056 closed

[2021-02-22 19:07] jayrod opened #1061 "Cmd2 Application wide settings file via cmd2 extension."
I've been writing a few application-specific configuration file modules in different ways and haven't found something quite elegant enough. Ideally, I'd like to have a cmd2 add in module that took care of adding these configuration issues. It would work like this.

When a cmd2 application starts up you would attempt to load a configuration file (user specified json, toml, ini.. etc) if successful

[2021-02-23 16:12] mrherman commented on #1020
Only sort of.  I open a socket and makefile from the socket_response.  I then change the file descriptor returned so that isatty() returns true and then pass that in as stdin and stdout to the cmd2 init.  Changing isatty() to return true is might have repercussions I haven't foreseen yet, but it does give the expected behavior from CMD2 that I wanted to see.

I think the right approach would be to

[2021-02-24 04:19] AdityaRajaram opened #1062 "choice_provider is not working properly"
from cmd2 import doesn’t supporting  choices_provider

[2021-02-24 20:52] MrKevinWeiss opened #1063 "Propagate exception flag"
I would like to know if there is a way that I can propagate an exception instead of catch and print it?

I would expect that this can be some kwarg in the `cmd2.__init__` that would allow for the exceptions to be raised instead of printed.

The use case is more for the `onecmd` functionality.  We have a GUI that uses the some built-in commands like `run_script` and some other custom commands that

[2021-02-25 15:16] kmvanbrunt commented on #1062
@AdityaRajaram `choices_provider` is a feature in our 2.0 release which isn't out yet. What version of cmd2 are you using?

Here is a link for [tab completion](https://cmd2.readthedocs.io/en/1.5.0/features/completion.html) documentation in our latest release (1.5.0).

[2021-02-25 15:36] kmvanbrunt commented on #1063
@MrKevinWeiss As you probably saw in `onecmd_plus_hooks()`, cmd2 already has some custom exception handling for those it doesn't print. As an alternative to adding a parameter to `__init__()`, we could add a new cmd2 exception class called `Cmd2PassthroughException` or something similar. You could use this to wrap whatever exception you want. If  `onecmd_plus_hooks()` catches an exception of this

[2021-02-25 15:46] kmvanbrunt opened #1064 "History repeats index numbers"
Once a history file reaches the max limit of items, cmd2 truncates it before closing. When you reopen cmd2, the history file is read and all `HistoryItems` are restored with their previous index numbers. Then `cmd2.History` sets the starting index based on the length of the list, which could be an index already used by a restored `HistoryItem`.

I propose removing the index from `HistoryItem` and

[2021-02-25 22:03] MrKevinWeiss commented on #1063
A sound idea, either the whole `Cmd2PassthroughException` or raising the specific one would work for me.  I suppose I have a very slight preference for the specific exception as then the GUI app would not need to import another exception type.

No I didn't but that is good to know. 👍

[2021-02-27 21:24] tleonhardt commented on #1062
@AdityaRajaram You are probably looking for `choices_function` or `choices_method` instead per the [tab completion](https://cmd2.readthedocs.io/en/1.5.0/features/completion.htmlhttps://cmd2.readthedocs.io/en/1.5.0/features/completion.html) documentation for the latest stable version of `cmd2`.

We updated the documentation link on our main GitHub page to point to the docs for the [stable version](

[2021-02-27 21:24] #1062 closed

[2021-02-27 21:28] tleonhardt commented on #1063
I like the idea of passing that specific exception type through and then unwrapping it and raising the wrapped exception.

[2021-02-27 21:29] tleonhardt commented on #1064
I like your proposed solution.

[2021-02-27 21:33] tleonhardt commented on #1061
Settables are really designed for settings you want users to be able to change at runtime.

So far we have left how to implement at-startup configuration to developers and haven't attempted to provide anything to make this easier.  Typically I have seen developers use either command-line arguments via `argparse`, some sort of configuration file (JSON, YAML, ini, etc.), or a combination thereof.

B

[2021-03-02 15:29] kmvanbrunt commented on #1063
This is the final exception class.

[code]

[2021-03-02 18:01] #1063 closed

[2021-03-02 18:59] kmvanbrunt commented on #1040
A change like this would require at least 2 things.

1. Edit `path_complete()` to accept a search_dir where any search strings which have no path characters (e.g. dots and slashes) will search from this directory. Similar to how we do shell command completion in that we search through the user's path.

2. Edit run_script and run_pyscript to prepend this script_dir to any files passed to it that ha

[2021-03-02 18:59] #1040 closed

[2021-03-02 19:08] #1064 closed

[2021-03-02 21:18] #1042 closed

[2021-03-02 22:19] kmvanbrunt opened #1070 "Argparse choices can't be CompletionItems"
ArgparseCompleter is converting CompletionItems to normal strings when they appear in a choices list.

[2021-03-03 01:27] tleonhardt commented on #907
Since no work has been done on this issue in almost 11 months and a ton of changes have happened since, I'm going to resolve this issue and delete the branch.

This would be a nice-to-have feature, but I think it would require some rethinking for how it will work with CommandSets and the like.

[2021-03-03 01:27] #907 closed

[2021-03-03 01:29] tleonhardt commented on #940
Since there are now two nice cookiecutter templates and links to them from the README, I'm going to close this issue.

[2021-03-03 01:29] #940 closed

[2021-03-03 01:30] tleonhardt commented on #944
@anselor Is this something you are still interested in?  If not I'm going to close this issue.

[2021-03-03 01:35] tleonhardt commented on #965
@anselor Is this something you are still working on?  Do you believe this needs to get in the 2.0 release?  Or can it come afterwards?

[2021-03-03 01:36] tleonhardt commented on #978
I don't have a clear concept of exactly how this feature would/should work.  Without one we can't design it.  Does anyone else have a clear concept of how they think it should work?

[2021-03-03 01:38] tleonhardt commented on #979
I like the concept of putting this in the basic  oookiecutter template: https://github.com/jayrod/cookiecutter-python-cmd2/issues/10

We can probably also update our documentation a little to emphasize just how darn useful `ipy` is for debugging.

[2021-03-03 01:42] tleonhardt commented on #1036
@laf0rge We would welcome PRs to implement this feature, but it's not a feature that any of the core `cmd2` developers are excited about implementing at this time.  So I'm going to close this issue.  But please feel free to submit a PR if you have a good idea for how to implement this feature.

[2021-03-03 01:42] #1036 closed

[2021-03-03 01:43] #1070 closed

[2021-03-03 01:47] tleonhardt commented on #930
@xNinjaKittyx Since we went ahead and made the various CI improvements using GitHub actions, albeit not use pre-commit hooks, I"m thinking of deleting your `ci_improvements` branch as part of some cleanup.  But I'll wait a week or so in case you plan on doing anything more with that branch.

[2021-03-03 09:37] MrKevinWeiss commented on #1063
Thanks guys!

[2021-03-04 07:32] AdityaRajaram opened #1071 "global variable is not returning values assigned inside choice=function(globalvariable) ."
Tab completion option working locally but when I ran on remotely it is not working. I saw some gnureadline installation . Can you please tell me how to make completion to work remotely?

[2021-03-04 15:37] kmvanbrunt commented on #1071
@AdityaRajaram Can you provide more details on how you are accessing your application remotely?
I have used ssh and telnet to run my application, and tab completion works in both.

[2021-03-04 15:43] kmvanbrunt commented on #1061
@jayrod Since `CommandSets` already have access to their parent `cmd2` object, what is blocking your application from having a  configuration structure at the top level which all `CommandSets` have access to?

I'm worried a feature like this isn't generic enough to add to the cmd2 framework since applications vary greatly on how they load config settings.

[2021-03-07 17:48] jayrod commented on #1061
![cmd2](https://user-images.githubusercontent.com/29623/110249124-8fad4b00-7f42-11eb-8f32-3a04e68ecd4e.jpg)

Here's my external plugin implementation. Because I am creating the CommandSet instances and passing them into the cmd2 app constructor I lose the ability for each Commandset to simply call self.config. I fully admit that I could be thinking of this  incorrectly or misunderstanding how inhe

[2021-03-07 18:06] jayrod commented on #1061
I could also be easily convinced that Configuration storage is NOT a framework issue but an implementation one. Perhaps I should just look more into how other applications are implementing persistent configurations.

When I wrote CLI apps pre cmd2 I would first look to a default ini file to load variables, If they were not present or available I made the arguments mandatory.

like.. if the ini had

[2021-03-07 21:33] jayrod commented on #1061
https://github.com/jayrod/cmd2-app-poc-plugin

Here is the POC..

https://github.com/jayrod/cmd2-app-poc-plugin/blob/main/sample_plugin/src/sample_plugin/fruits.py

This function does indeed show that a global config object is accessible via self._cmd

  def do_really_like_apples(self, _:Statement):
        apple_setting = self._cmd.config['apple'].getboolean('like')

but this is NOT accessible vi

[2021-03-08 14:52] kmvanbrunt commented on #1061
@jayrod Yes, it is by design. `CommandSets` have a lifecycle and various events occur within this lifecycle.
Refer to the [event handler](https://cmd2.readthedocs.io/en/stable/features/modular_commands.html#event-handlers) documentation for a description of each event.

The `cmd2` object becomes available to the `CommandSet` upon registration (`on_register()`).

Here is a link to the `CommandSet`

[2021-03-08 15:11] kmvanbrunt commented on #1061
The main reason I advocate for a common config object being implementation-based is because `cmd2` itself has no common configuration settings that aren't already individual class members. Therefore `cmd2` would have this empty `self.config` member.

Another question that arises is, what type of object is `self.config`? Your example makes it a dictionary. Other developers may prefer a `namedtuple`

[2021-03-08 16:07] jayrod commented on #1061
I can agree.. Perhaps it's just better to submit an advanced example. Enforcing a standard from the framework is indeed a "bad" thing but looking at all of the different cmd2 implementations there is a lot of rope available to hang one's self ;)

[2021-03-08 16:07] #1061 closed

[2021-03-11 04:27] AdityaRajaram commented on #1071
x=None
def class(Cmd2.Cmd):
          //init
      @with_argparser(some_parser)
      def hi(self,args):
            global x
            x= args.x
            obj = class2(x)
            obj.cmdloop()
 If I use global variable inside choice=some_funtion(x) in argparse returns None. But it works inside method. how can I use it global variable  inside choice of argparse.add_argument() . I don’t  wa

[2021-03-12 00:09] xNinjaKittyx commented on #930
I don't have much knowledge into github actions, maybe i'll check it out sometime in the future. Feel free to delete the branch, thanks for letting me know!

[2021-03-12 05:44] AdityaRajaram commented on #1071
x```
=None

def class(Cmd2.Cmd):
          //init
      @with_argparser(some_parser)
      def hi(self,args):
            global x
            x= args.x
            obj = class2(x)
            obj.cmdloop()
[code]

[2021-03-12 08:28] jedie opened #1072 ""allow_cli_args" failed"
I would like to call any command from the shell. Actually, an `allow_cli_args=True` should be there for that.
But this will only pass a part of the given arguments into `self._startup_commands`.

My work-a-round is currently this:
[code]

Then i can do this:
[code]

Without my work-a-round and `allow_cli_args=True` it looks like this:
[code]

[2021-03-12 20:27] anselor commented on #965
@tleonhardt @kmvanbrunt

This is where I'm at now. I think this should work pretty well. Here's the gist of it:

- Each CommandSet has its own settables.
- Renamed attribute `settables` to `_settables` and added a new `settables` property that combines cmd2's `_settables` with the ones from all CommandSets
- New cmd2.Cmd attribute `always_prefix_settables` will prepend all settables from CommandSe

[2021-03-12 22:57] tleonhardt commented on #965
@anselor I took a quick look at the code on your branch and overall it looks good and the approach seems solid.

Specific recommendations I have are:
- Consider making `self._installed_command_sets` a `set` instead of a `list` so that testing membership is O(1) instead of O(n)
- Run `flake8`, `black`, and `isort` to fix various warnings/errors

[2021-03-15 07:57] glisignoli opened #1073 "TypeError: __init__() got an unexpected keyword argument 'allow_abbrev'"
I get the following error when trying to use cmd2

[code]

https://github.com/glisignoli/fcreplay/blob/master/fcreplay/cli.py

[2021-03-16 18:05] anselor commented on #1044
PR #1074 Is out and related to this.

[2021-03-16 18:06] anselor commented on #1044
I think we should try to fully adopt pathlib in our APIs before the 2.0 switch as well.

What do you think, @tleonhardt @kmvanbrunt

[2021-03-16 19:17] tleonhardt commented on #1044
I’m a huge fan of both pathlib and f-strings.  But I’m also a fan of not fixing what isn’t broke.  So I could go either way.

[2021-03-16 20:08] anselor commented on #1044
My specific concern is I'd like to get everything API breaking in together in 2.0 release if possible. So if there are places on our APIs that would benefit from pathlib I'd rather take the hit now than later.

[2021-03-17 10:25] #1071 closed

[2021-03-18 05:45] glisignoli commented on #1073
Os: Debian 10 (Buster)
Python Version: 3.8
cmd2 version: 1.5.0
Terminal: docker / bash / windows terminal

Pip freeze output:
[code]

[2021-03-18 16:42] MaxWipfli commented on #1073
I got a similar error while trying to use the `completer` argument to `Cmd2ArgumentParser`.
[code]

Minimal working example:
[code]

# Possible Solution
I think the problem is that all `**kwargs` are passed onto the original `ArguemntParser.add_argument` function in file `cmd2/argparse_custom.py` on line 445:

[code]
I assume that `argparse` is checking for "invalid" keyword arguments and thus thr

[2021-03-18 17:25] kmvanbrunt commented on #1073
cmd2 isn't passing any of its custom args in the `kwargs` dictionary. What's really confusing is that your exception is complaining about `allow_abbrev` which has been in `argparse` since Python 3.5.

[2021-03-18 17:26] anselor commented on #1073
@MaxWipfli Your issue is more of a documentation reference issue. The `completer` parameter is part of the new Cmd2 2.0 release we're still working on. The last published version of cmd2 (1.5) doesn't have that parameter defined.

[2021-03-18 17:27] kmvanbrunt commented on #1073
Use `completer_method` on cmd2 1.5.

[2021-03-18 18:20] anselor opened #1075 "Change linked version of document"
I think always linking to latest from master is causing confusion.

A couple ways to go:

1) do development on a dev/unstable branch and only update master with each release
2) Change the documentation link to always link to latest stable. instead of latest master.

[2021-03-18 18:31] tleonhardt commented on #1075
I think the better approach is changing the documentation to by default point to the latest stable.

[2021-03-18 18:57] kmvanbrunt commented on #1075
I already changed the **About** section of our github page to link to 1.5.0 docs.
But Todd is right. Our documentation is linking to the latest docs.

[2021-03-18 19:39] MaxWipfli commented on #1073
@anselor @kmvanbrunt Thank you very much!

[2021-03-18 22:26] #965 closed

[2021-03-18 23:37] glisignoli commented on #1073
Can you leave this open? My issue isn't resolved yet.

[2021-03-19 05:38] glisignoli commented on #1073
Still not sure what's going on here

I'm using my setup.py to create `/usr/local/bin/fcreplay`
[code]

Which generates:
[code]

If I run  `fcreplay cli` from bash, I get the reported error. If I run `python3.8 /usr/local/bin/fcreplay cli` I still get the reported error. But, if I run `python3.8 -m pudb /usr/local/bin/fcreplay cli` it works fine.

Then if I run `python3.8 -m pdb /usr/local/bin/fcre

[2021-03-19 06:02] anselor commented on #1073
@glisignoli Can you try creating a fresh venv and installing in there?

What you're describing doesn't make sense and I'm very suspicious of your host environment.

I've on many occasions ended up with a completely unusable python environment when mixing Linux packaging with python's own packaging system. On one occasion, I ended up with python 2 base libraries getting loaded when I run python 3.

[2021-03-19 07:13] glisignoli commented on #1073
I get the same thing when running in a virtual environment with pipenv.

The host environment is the python 3.8 buster image (https://hub.docker.com/_/python)

My Dockerfile looks like this:
https://pastebin.com/5yuJ9kHw

Running with:
[code]

[2021-03-20 05:02] kotfu opened #1077 "_register_subcommands() breaks when methods have been mocked"
Steps to reproduce:

1. Create a file `test_patch.py` in `cmd2/tests` with the following contents:
[code]

2. run `pytest tests/test_patch.py`

Expected result: a successfully passed unit test

Actual result: `CommandSetRegistrationError` exception thrown from `_register_subcommands()`

[2021-03-20 05:21] kotfu commented on #1077
You can demonstrate that `_register_subcommands()` is the problem with the following test:
[code]
which causes `_register_subcommands()` to not be called. This test passes.

[2021-03-23 08:43] glisignoli commented on #1073
Found the issue (with a lot of help).

Another library (pyscreenshot) is importing entrypoint2, which uses https://github.com/ThomasWaldmann/argparse as a requirement.

See: https://github.com/ponty/entrypoint2/issues/9

Consider this resolved, since it's nothing to do with cmd2

[2021-03-23 13:52] kmvanbrunt commented on #1073
@glisignoli Thanks for the update. That certainly explains it since `allow_abbrev` wasn't introduced until the Python 3.5 version of `argparse`.

[2021-03-23 13:53] #1073 closed

[2021-03-23 14:33] kmvanbrunt commented on #1077
@kotfu Because mocked objects create attributes on demand, all calls to `hasattr()` in `_register_subcommands()` are returning `True` . That is causing the mocked `cmdloop` to get flagged as a subcommand method.

Add this line to your unit test and it will work.
`delattr(mock_cmdloop, cmd2.constants.SUBCMD_ATTR_NAME)`

[2021-03-23 15:28] jayrod commented on #1000
Can you give some guidelines on how one can "assess" an example. I definitely would like to jump in on one or two examples and rewrite them. Not sure where to start though.

[2021-03-23 16:18] anselor commented on #1000
@jayrod One of the things is we have examples that span a range of API changes over time.

We have some that are somewhat redundant in that they are copies/tweaks of another example. In these cases, it may make more sense to combine into a single example with lots of comments explaining the different things being demonstrated.

We probably also have some that are no longer representative of how we

[2021-03-23 16:37] kmvanbrunt commented on #1000
@anselor

That's an interesting thing to bring up and could make for a good example. The CLI I work on is a good case for using `CommandSets` alongside enabling/disabling commands. The `CommandSet` feature allows me to easily place command functions and their respective resources in their own files. But my CLI has two modes, and in one mode a whole category of these commands aren't available. I co

[2021-03-23 22:44] kotfu commented on #1077
I tried your suggestion as an alternative workaround to the mocking `_register_subcommands()` I already found. It didn't work.

Here's the error from pytest:
[code]

I think I know why. Here's a relevant snipped from a debug session:
[code]

It appears that `hasattr()` on a MagicMock has the side effect of creating the attribute if it doesn't exist (and making the attribute be an instance of Magic

[2021-03-23 23:12] kmvanbrunt commented on #1077
Look again at my post. It is calling `delattr()` on the mock object.
`delattr(mock_cmdloop, cmd2.constants.SUBCMD_ATTR_NAME)`

That's how you get `hasattr()` to return `False` for a given attribute on mock objects. See the [Python docs](https://docs.python.org/3/library/unittest.mock.html#deleting-attributes) for a full explanation.

This pytest works for me.

[code]

[2021-03-23 23:14] kmvanbrunt commented on #1077
You have to call `delattr()` on the mock object.
`delattr(mock_cmdloop, cmd2.constants.SUBCMD_ATTR_NAME)`

That's how you get `hasattr()` to return `False` for a given attribute on mock objects. See the [Python docs](https://docs.python.org/3/library/unittest.mock.html#deleting-attributes) for a full explanation.

This pytest works for me.

[code]

[2021-03-23 23:29] kotfu commented on #1077
I tried your suggestion as an alternative workaround to mocking `_register_subcommands()` that I already found. It didn't work.

Here's the error from pytest:
[code]
There is no way to inject code into the middle of `_register_subcommands()` to remove the subcommand attributes on the mock after they are created, but before the exception is thrown.

I don't use subcommands, so this doesn't really m

[2021-03-23 23:30] kotfu commented on #1077
Oops, didn't realize I submitted the same comment twice. sorry about that 😞 .

[2021-03-23 23:37] kotfu commented on #1077
So there are two ways to work around this problem:
[code]
and
[code]
The first one posted by @kmvanbrunt has the benefit of allowing the mock to work if you are using subcommands, and is therefore preferable.

It's unfortunate that mocking any method on `cmd2.Cmd` requires an additional magic incantation to have it not throw exceptions.

I don't know the subcommand code at all, so I'm reluctant to

[2021-03-23 23:55] kmvanbrunt commented on #1077
@anselor, since you're the expert on this method, what are your thoughts on the fix proposed by @kotfu?

Not having to include a mock-specific check in your logic is nice and it makes it easier for unit tests to mock cmd2 methods.

[2021-03-24 00:11] anselor commented on #1077
The line calling `self.statement_parser.is_valid_command(subcommand_name, is_subcommand=True)` is actually doing a check to verify that `subcommand_name` is a string. That's why `subcommand_valid` is false and the exception gets thrown. If you look in the original error message that's exactly what the exception is complaining about: `cmd2.exceptions.CommandSetRegistrationError: Subcommand <MagicMo

[2021-03-24 00:21] kotfu commented on #1077
I agree that it's a good idea to carefully check if subcommands are defined correctly. But if they aren't defined correctly, could an alternative behavior be to just not treat it as a subcommand, ie ignore it, instead of throwing an exception? Especially when, as in my case, I didn't think I was defining a subcommand. Initializing the class (with no commandsets defined) triggered the subcommand pr

[2021-03-24 00:51] anselor commented on #1077
So I got partway through trying a way to filter out mocks without explicitly filtering out mocks and discovered I added unit tests already specifically dealing with mocks.

If you declare the mock with `spec=True`, then MagicMock will use the object being matched as a specifcation rather than automatically reporting it has everything.

[code]

[2021-03-24 00:52] anselor commented on #1077
See: https://github.com/python-cmd2/cmd2/blob/d05875247c430a1e32a203f9575a93464b5521f1/tests/test_argparse.py#L431

[2021-03-24 01:02] kmvanbrunt commented on #1077
Apparently we actually documented this. I guess we all forgot :)
https://cmd2.readthedocs.io/en/latest/testing.html#mocking

[2021-03-24 01:17] jayrod commented on #1000
@kmvanbrunt

Soo.... how would I figure out which examples you speak of ;)

[2021-03-24 01:57] kmvanbrunt commented on #1000
@jayrod I used Pycharm to inspect the code in the examples directory.  It found an "Unresolved reference" error in colors.py that I just fixed.

Doesn't look like there are any other API errors.

[2021-03-24 02:54] tleonhardt commented on #1077
I had some coworkers that ran into the mocking issue and once we finally figured out a solution, I documented it because I knew I would forget ;-)

[2021-03-24 03:11] kotfu commented on #1077
New pr which adds another example of how to turn autospeccing on, as well as an example of the kind of error message you will see if you forget to turn autospeccing on. I think we can close this issue.

[2021-03-24 03:19] #1077 closed

[2021-03-26 08:30] jedie opened #1081 "Please open github "discussion" feature"
I have a Questions: How can one commandset call a command from a other commandset ?

The github discussions may be a better place for this, isn't it?

EDIT: About my Question: I found a way, e.g.:
[code]
May fail if the first command get's `statement=None` but the second needs a Statement instance, isn't it?

EDIT2: This seems to be a better idea:
[code]

[2021-03-26 18:15] tleonhardt commented on #1081
@jedie I've never used GitHub Discussions before, but I just enabled it for `cmd2`.  I look forward to learning more about it!

[2021-03-26 18:40] jedie commented on #1081
You can "move" this issued into discussions, too ;)

[2021-03-26 19:35] #1081 closed

[2021-04-06 21:40] kmvanbrunt opened #1091 "Build help tables with TableCreator"
Update the `print_topics()` function to use `TableCreator`.
This will simplify the code and handle wrapping of command help text.

[2021-04-27 07:41] mgorny opened #1096 "rl_utils trying to load .py as a shared library on PyPy3"
When trying to run cmd2's tests on PyPy3, I get the following error:

[code]

Apparently the cause is cmd2/rl_utils.py#L131:

[code]

which assumes that `readline` will be a shared library rather than pure Python module.

[2021-04-27 14:39] kmvanbrunt commented on #1096
@mgorny I can fix this `OSError`, but you still won't have tab completion support. Currently, cmd2 supports only GNU readline and pyreadline.

cmd2 imports the shared library for GNU readline because Python's [GNU readline wrapper](https://docs.python.org/3/library/readline.html) does not expose all the functions we need for our tab completion and async alert features.

cmd2 will need a bit of cod

[2021-04-27 16:11] mgorny commented on #1096
I suppose it's not critical, so as long as tests pass, I'm  good.

[2021-04-28 14:11] #1096 closed

[2021-05-05 21:02] csonsino opened #1102 "pyscript with logging?"
I'm trying to figure out how to get the stdout text that was written through the python logging library while running a pyscript.

I have the following simple pyscript (`test_script.py`):
[code]

Running through the following simple shell (`main.py`):
[code]

If I run the pyscript with `python3 main.py "run_pyscript test_script.py"`, I get:
[code]

You can see that the logger appeared to write to

[2021-05-05 21:03] csonsino commented on #1102
I just noticed the "Discussions" feature - let me know if you want me to move this over there instead of an Issue.

[2021-05-17 17:44] Brenn10 opened #1106 "allow_redirection=False allows writing to disk: Security risk"
Goal: I would like to prevent the user from having any way to access the disk or system outside of my methods.

Problem: Allow redirection prevents redirection with pipes but does not stop > and >> from creating or appending files. [The docs state](https://cmd2.readthedocs.io/en/latest/features/redirection.html#disabling-redirection) that this should be prevented.

Code to recreate:

[code]

![ima

[2021-05-17 18:34] kmvanbrunt commented on #1106
The documentation needs to be fixed. We forgot to include the call to cmd2's `__init__()` function, which needs to run before you update `allow_redirection`.

Just change your code to the following and it will work.
[code]

[2021-05-25 04:07] tleonhardt commented on #1106
`allow_redirection` is intended to be passed in at initialization like so:
[code]

[2021-05-25 15:35] kmvanbrunt commented on #1106
I updated docs to reflect setting `allow_redirection` at initialization.

[2021-05-25 16:10] #1106 closed

[2021-05-25 16:11] #1102 closed

[2021-05-28 23:20] iancote opened #1108 "poutput or print string with ansi codes quietly crashes cmd2"
I have a scenario where as string I get back from an api call already has ansi color codes embedded in it (see snippet below).  I'd like to just print that to the screen keeping the existing coloring if possible.  When I try to use poutput or even just print cmd quietly crashes out and I get dropped back to my regular shell.  Using python to print the string from my pycharm python shell window wor

[2021-06-01 14:39] kmvanbrunt commented on #1108
You don't need to do anything special to print colored text in cmd2. If your console is silently crashing, first check the state of your output streams. Are they closed at the time you are printing?

If just stdout is closed, the following exception will print:
`ValueError: I/O operation on closed file`

If both stdout and stderr are closed, nothing will print.

[2021-06-01 21:18] iancote commented on #1108
Thank you for the response - this pointed me in the right direction to find my error.  Closing

[2021-06-01 21:18] #1108 closed

[2021-06-03 00:26] losalamosal opened #1109 "Change to include_ipy breaks examples with pip installed version 1.5.0"
I'm not sure this is a valid beef, but just as an FYI...

A recent change to many examples where `use_ipython` was changed to `include_ipy` (in the example's `__init__` method) breaks the examples with a pip installed version (1.5.0) of `cmd2`. Easy enough to figure out, but when coming to the repo for examples I wonder if they should be expected to run with the most recently released version (esp

[2021-06-03 21:38] sreekarreddy21 opened #1110 "Unable to execute argparse_completion.py example. Throwing TypeError. unexpected keyword argument 'choices_provider'"
I tried executing argparse_completion.py. It outputs the following error.

Traceback (most recent call last):
  File "argparse_compl.py", line 30, in <module>
    class ArgparseCompletion(Cmd):
  File "argparse_compl.py", line 84, in ArgparseCompletion
    example_parser.add_argument(
  File "C:\Users\sr\anaconda3\lib\site-packages\cmd2\argparse_custom.py", line 478, in _add_argument_wrapper
    n

[2021-06-03 22:04] kmvanbrunt commented on #1110
Sorry, our master branch is for the upcoming cmd 2.0.0 release, which is a bit different from the current version (1.5.0).

For cmd2 1.5.0, use the examples from one of the following sources.

1. 1.5.0 tag on github: https://github.com/python-cmd2/cmd2/tree/1.5.0
2. Download the tar.gz file from: https://pypi.org/project/cmd2/1.5.0/#files

[2021-06-03 22:51] losalamosal commented on #1109
Your comment to #1110 addresses my issue as well. Feel free to close.

[2021-06-03 23:00] kmvanbrunt commented on #1109
Sorry for the inconvenience.

[2021-06-03 23:00] #1109 closed

[2021-06-04 01:44] sreekarreddy21 commented on #1110
Great, it's working.
Thank you so much.

[2021-06-04 01:44] #1110 closed

[2021-06-04 16:59] kmvanbrunt commented on #1044
@tleonhardt @anselor
`f-string` conversion was completed in #1092.
`pathlib` support can be added later by converting applicable argument types to `Union[str, pathlib.Path]`.

If this approach is acceptable, are we good for releasing 2.0 soon?

[2021-06-04 19:19] tleonhardt commented on #1044
I think now is a fine time for the 2.0 release and we should get it out very soon to help avoid further customer confusion with examples not working with the latest version of `cmd2` installed from `pip`.

[2021-06-06 12:30] jayrod opened #1112 "Weird argparse issue"
I am working on an app based on cmd2  1.5.0 and I am in a weird scenario.

I will admit I'm doing some weird things like loading commandsets from external plugins but for some reason I can't get Cmd.path_complete to work.

I was using python 3.7 and had issues then moved to 3.9 and still issues. What is really weird is that if I pull down cmd2 1.5.1 the issue goes away but then tab complete in my

[2021-06-07 01:55] kmvanbrunt commented on #1112
At the time you coded your app, our master branch contained example code for the unreleased `cmd2` 2.0.0 version. Certain features in 2.0.0 are not backward compatible with 1.5.0. For example, `completer` was called `completer_method` in 1.5.0. That's why you received `unexpected keyword argument`. You were using a 2.0.0 keyword in 1.5.0.

I just put out the 2.0.0 release, so all examples in the m

[2021-06-07 02:39] felixonmars opened #1113 "Non-fatal errors at exit of tests"
I'm not sure what caused these, although they are not fatal and not treated as errors to fail the tests:

[code]

[2021-06-07 02:50] kmvanbrunt commented on #1113
The `cmd2.history.History` class changed between versions 1.5.0 and 2.0.0. Delete any persistent history files created with 1.5.0 and rerun the tests.

[2021-06-07 02:51] tleonhardt commented on #1113
@felixonmars can you please provide some more info to help reproduce?

Things like:
- What OS and version are you running tests on?
- What version of Python is it using?
- What terminal and shell?

[2021-06-07 02:52] tleonhardt commented on #1113
@kmvanbrunt We don't have anything in the CHANGELOG about the persistent history file format changing.  We should update that ASAP to make it clear this is backwards incompatible.

[2021-06-07 03:02] kmvanbrunt commented on #1113
@tleonhardt Done

[2021-06-07 03:17] felixonmars commented on #1113
Arch Linux x86_64 and Python 3.9.5, bash/konsole. The tests are running in a clean environment, from github tag tarballs, so I think no persistent history files are involved here.

[2021-06-07 03:24] tleonhardt commented on #1113
I tested on my Mac in a freshly built pipenv virtualenv and everything passes with latest master using these versions:
platform darwin -- Python 3.9.5, pytest-6.2.2, py-1.10.0, pluggy-0.13.1
plugins: cov-2.11.1, mock-3.5.1

[2021-06-07 03:26] kmvanbrunt commented on #1113
Does the Arch Linux environment have an older version of cmd2 installed?

[2021-06-07 03:36] felixonmars commented on #1113
No, but I think I find the difference. The errors are present when running the test suite with `python setup.py pytest`, but not present with a plain `pytest`.

There are other errors when invoking the test suite with plain `pytest` without cmd2 installed though, that's why we are using pytest-runner here.

[2021-06-07 03:39] tleonhardt commented on #1113
These errors appear to be related to the fact that we also run tests for a couple plugins as part of that extended suite.  PR #1114 is up to try to fix this.

[2021-06-07 03:41] felixonmars commented on #1113
I have tried to apply the change in #1114, but the errors are still present here.

[2021-06-07 03:47] felixonmars commented on #1113
It seems related to capsys failing to empty stderr from pytest if running with pytest-runner.

[2021-06-07 03:59] tleonhardt commented on #1113
PR #1115 modifies the manifest to exclude the `plugins` directory from a `cmd2` release tarball as published to PyPI.  A `cmd2` release should not include any plugins or tests for plugins.

[2021-06-07 04:12] felixonmars commented on #1113
I have tried to delete the whole plugins folder, but still getting the same (non-fatal) error. A specific test can trigger it here:

[code]

[2021-06-07 04:15] tleonhardt commented on #1113
@felixonmars Please try deleting the `tests_isolated` folder and re-running tests

[2021-06-07 04:23] felixonmars commented on #1113
I have tried, but unfortunately it's still the same :(

[2021-06-07 04:38] tleonhardt commented on #1113
@felixonmars We are not sure if it will fix your problem, but we just published a 2.0.1 release of `cmd2` to PyPI.

[2021-06-07 04:57] felixonmars commented on #1113
Thank you. I have tried to use the 2.0.1 PyPI tarball instead of the github tag tarball and the errors are still intact with pytest-runner (in a clean chroot).

[2021-06-07 05:05] tleonhardt commented on #1113
@felixonmars Ok, your last comment clued me onto something perhaps.

The fix we put out in 2.0.1 will change what is in the PyPI tarball, but it will **not** change what is in the GitHub tarball.

GitHub just zips/tars up your source code exactly as it is on GitHub.  For the tarball published to PyPI, it is more nuanced.

[2021-06-07 17:12] kmvanbrunt commented on #1113
@felixonmars Is the Python module `cmd2-ext-test` installed in this environment? If so, what version is it?

[2021-06-07 18:29] felixonmars commented on #1113
It's not, as it's not present in the PyPI tarball at all now.

[2021-06-09 00:53] tleonhardt commented on #1112
I'm going to resolve this since it appears to have been confusion related to unreleased code which has now been released

[2021-06-09 00:53] #1112 closed

[2021-06-09 00:54] tleonhardt commented on #1113
@kmvanbrunt @anselor

Any ideas on best path forward here?

I really don't like that `cmd2` now has unit/integration tests which rely on a plugin.  That feels like circular coupling to me.

[2021-06-09 00:59] tleonhardt commented on #1113
IMO we should either refactor the tests for Command Sets to not rely on the plugin or if this functionality in the plugin is so damn central we should just incorporate it into `cmd2`

[2021-06-09 01:26] anselor commented on #1113
The reason we require plugin tests as part of verifying cmd2 is because we want to verify that we don't break plugins again from API changes. The plugin tests are testing that plugins still work.

[2021-06-09 01:27] anselor commented on #1113
And obviously the problem is unrelated to the tests verifying plugins since you've removed them and the problem is still present.

[2021-06-09 03:53] tleonhardt commented on #1113
My understanding is the @felixonmars was pulling the tarball from GitHub, not PyPI which still contains all of the tests.

[2021-06-09 13:44] felixonmars commented on #1113
I was, but I have also tried to use the PyPI tarball in a clean chroot, without cmd2 or any of the previously included test modules installed, and still able to reproduce this with pytest-runner.

[2021-06-09 15:01] anselor commented on #1113
It seems that the way a class gets imported can confuse pickle. The best guess right now is somehow the way pytest-runner is loading and running the tests changes the paths in some way that causes HistoryItem to be imported relative to a different path than normal execution.

We're looking into switching to JSON for persistence instead of pickle which is well known to be brittle and unreliable any

[2021-06-09 18:11] kmvanbrunt opened #1118 "Convert persistent history file to JSON"
@tleonhardt @anselor
To fix issue #1113, I am converting history files from the pickle format to JSON.

The JSON represents a list of `HistoryItem` objects. Which of the following formats do you prefer? The first one has a `statement` label under each `HistoryItem` and the second one eliminates this. `HistoryItem` only has 1 member so I figured the `statement` label is redundant.

**Example 1**
[c

[2021-06-09 18:29] anselor commented on #1118
As I understand it, a good JSON best practice is to always have a an object at the root and not a list at the root.

So for the above, probably something more like:

[code]

[2021-06-09 18:41] anselor commented on #1118
lol, we should go ahead and put a version number at the top level.

[2021-06-09 18:48] kmvanbrunt commented on #1118
Anyone know how to write a JSON schema? That would catch errors up front.

[2021-06-10 01:28] jayrod commented on #1112
I can confirm that I no longer get the stack trace. I still can't seem to get readline working but I don't believe that is cmd2's fault.

[2021-06-10 02:00] jayrod commented on #1112
Ya issue solved. In my python 3.7 release all is working now. When I had the above error I just went and compiled and installed python 3.9.. I don't know what I did but readline was NOT apart of my 3.9 build but my 3.7 it is.

I used this to verify.

[f for f in sys.modules.keys() if 'read' in f]

[2021-06-10 14:42] anselor commented on #1118
I think this looks good to me.

[2021-06-10 15:12] tleonhardt commented on #1113
I think converting the persistent history to JSON is a good idea regardless, however if the problem is a path issue when using `pytest-runner` then that won't help.

[2021-06-10 15:18] kmvanbrunt commented on #1113
I was able to reproduce the error that @felixonmars was receiving using `pytest-runner`. Converting to JSON did fix the issue. `pickle` is the root cause of this since differences in how a module is imported can break it.

[2021-06-11 19:08] kmvanbrunt commented on #1118
I am compressing the JSON files to save space and discourage people from editing history data since they represent `Statement` objects and not just command line text.

Below are the size results for my test data.

1,000 commands
[code]

10,000 commands
[code]

[2021-06-11 21:25] laf0rge opened #1120 "api breakage use_ipython vs include_ipy"
Daer cmd2 developers,

I'm the author of a python program that uses cmd2.  Users have recently reported breakage as the following commit breaks API compatibility, apparently without any attention to backards or forward compatibility:

[code]

How are application developers supposed to deal with this?  Check for the cmd2 version at runtime and then call cmd2.Cmd.__init__() with different kwargs?

I

[2021-06-11 21:38] kmvanbrunt commented on #1120
Sorry for the inconvenience. `cmd2` recently released version `2.0.0`. There are quite a few backwards-incompatible changes, which is why we increased the `MAJOR` version from 1 to 2.

All breaking changes are documented in the [CHANGELOG](https://github.com/python-cmd2/cmd2/blob/master/CHANGELOG.md).

To avoid this in the future, configure your application to use a specific major version.
For exa

[2021-06-11 21:38] #1120 closed

[2021-06-14 15:28] #1113 closed

[2021-06-14 15:28] #1118 closed

[2021-06-14 15:45] kmvanbrunt commented on #1113
@felixonmars I just released `cmd2` 2.1.0. Does the version fix the unit test bugs you were seeing?

[2021-06-14 17:21] felixonmars commented on #1113
Yes, all the errors are gone now. Thanks a lot :)

[2021-06-14 19:54] kmvanbrunt commented on #1044
Closing since 2.0.0 is out

[2021-06-14 19:54] #1044 closed

[2021-06-14 20:54] mgorny opened #1121 "argparse-related test failures on Python 3.10"
It seems that a few `--help` labels have changed in Python 3.10 and they're breaking the test expectations.

Tested with git 54a7752d720bb6724be17a6e965fcb81d5fcc176, using Python 3.10.0b2.

[code]

[2021-06-15 00:39] tleonhardt commented on #1121
@mgorny Thanks for reporting this.  We haven't begun adding Python 3.10 to our CI testing yet.

@anselor @kmvanbrunt It looks like we need to add begin testing on Python 3.10 now that 3.10 beta 2 is out.

[2021-06-15 01:13] tleonhardt commented on #1121
PR #1122 Adds support for running all `cmd2` unit tests on Python 3.10b2 on the latest versions of ubuntu, macos, and windows available via GitHub Actions and all tests pass.

[2021-06-15 01:15] tleonhardt commented on #1121
@mgorny Can you please add more details about your specific test environment and setup, including at a minimum the following:
1. Exact version of Python
2. OS including version

We are having trouble reproducing these failures on our end.

[2021-06-15 05:30] mgorny commented on #1121
3.10.0b2

Gentoo Linux (we do not version)

Please see my comment on #1122. It seems that tests weren't run in the first place.

[2021-06-15 09:45] bitozoid opened #1124 "About Questionary"
Any plans to integrate [Questionary](https://github.com/tmbo/questionary)?

There is `select` but I wonder how both cmd2 and questionary could work together.

[2021-06-15 15:42] kmvanbrunt commented on #1121
@anselor @tleonhardt

Python 3.10 changed the default optional flag group title from `optional arguments` to `options`.
https://bugs.python.org/issue9694
https://github.com/python/cpython/pull/23858

This change breaks our string check when we separate the options in to `optional arguments` and `required arguments` groups.

I don't consider `options` to be any less confusing as it was before when

[2021-06-15 18:34] kmvanbrunt commented on #1124
I'm not familiar with `questionary`, but the following test shows it works fine within `cmd2`.

[code]

[2021-06-16 11:20] bitozoid commented on #1124
I guess the questionary questions/answers won't get output redirection, (pipes,) transcripts, or any other input/output console management.

[2021-06-17 18:10] #1121 closed

[2021-06-19 10:24] dickens88 opened #1127 "Is it possible to highlight the text color when typing?"
Dear all,

When the user typing at interactive command (by cmd2), can the keywords typed by the user be highlighted? just like in some linux shell terminal.

![image](https://user-images.githubusercontent.com/8390209/122639203-305afb80-d12b-11eb-8383-f746b725ab4f.png)
you can see the keyword `ls` is highlighted and the params after it will has different color.

but when you run into a python inter

[2021-06-21 15:54] kmvanbrunt commented on #1127
Kali may be using a `readline` init file to color its text.
https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File.html

Try providing an init file to a `cmd2` app using `readline.read_init_file()`.
https://docs.python.org/3/library/readline.html

I can't provide any more support than that since I've never worked with those files.

[2021-06-24 02:32] dickens88 commented on #1127
@kmvanbrunt thank you so much for your reply. it's not a easy work for me, but anyway it's a useful information :)

[2021-06-24 02:32] #1127 closed

[2021-07-05 16:57] #1124 closed

[2021-07-20 06:57] nvincent-vossloh commented on #978
Hello,

I tried (before reading documentation) to do some `!cat my_file | my_cmd` and realized, after reading documentation that it was not supported and found this issue.

I do not have a clear concept of how it should work, but I can tell you how **I** would like it to work (I hope both are not exclusive :wink:)

Some of the commands I developed ask the user for some data (depending on cli args,

[2021-08-23 19:03] #1091 closed

[2021-08-23 20:13] #1043 closed

[2021-08-26 21:53] A1-exe opened #1139 "Cursor breaks when importing pwntools"
Importing pwntools causes the cursor to break when using cmd2, and the problem does not occur when I use the traditional cmd class.

I noticed that when I import pwntools at the top of my script, cmd2 works fine - until I press enter.
Once I press enter the cmd-line sort of breaks, where I can't even use arrow keys anymore.
To test I created the function:

[code]

Sure enough, the cursor breaks as

[2021-08-31 21:54] #1072 closed

[2021-09-01 18:54] kmvanbrunt commented on #1139
I'm not familiar with `pwntools`, but I examined the code which runs when you `import pwn`.
First it calls `pwnlib.args.initialize()`. That in turn calls their terminal initializer called `term.init()`.
`term.init()` then calls `can_init()` and here is the key.

The header to that function says:
[code]

Since `cmd2` is a REPL and we do quite a bit with the terminal and GNU readline, you need to ge

[2021-09-01 20:45] A1-exe commented on #1139
Thank you for your assistance.
I will use this hackish solution for now:
[code]

[2021-09-01 20:46] #1139 closed

[2021-09-04 17:16] tthkbw opened #1143 "cmd2 causes attribute error failure when accessing remote server that uses .casefold()"
I have an application developed using the Cmd module. The app connects to a remote server that runs using the rpyc module.

Using Cmd, the applications works reliably. I wanted to update to cmd2. All I changed was the import statement and the Class declaration. The remote server running the rpyc connection was not changed.

The remote server implements an exposed function that uses str.casefold()

[2021-09-04 17:26] tthkbw commented on #1143
Okay, I generated some ideas for debugging and quickly found a solution. When I removed .casefold() from the server search, I got a failure, but slightly different:

[code]
So, cmd2 is not passing a string to the server when I make the call:

`conn.root.FindTitleAuthor(searchstr`

where 'searchstr' is a string entered at the cmd2 input line.

If, on the server, I cast the input as a string type:

[2021-09-04 18:03] kmvanbrunt commented on #1143
Basic commands in **cmd2** are passed `Statement` objects, which are subclasses of `str`.
https://cmd2.readthedocs.io/en/latest/features/commands.html#statements

Along with the original `str` data, these objects contain custom attributes needed by **cmd2**. The attributes are documented here.
https://cmd2.readthedocs.io/en/latest/api/parsing.html#cmd2.Statement

[2021-09-05 02:40] A1-exe opened #1144 "self.self_in_py = True does not add self to ipy shell"
I am trying to use self from the ipy shell. I added code:
[code]
To the object before the call to `super().__init__` but self is not added to the shell environment.

[2021-09-05 02:48] kmvanbrunt commented on #1144
Since `self_in_py` is a member of the `cmd2.Cmd` class, it's being set to `False` in `super().__init__()`. That overwrites the value you set. Therefore set `self.self_in_py = True` after you call `super().__init__()`.

[2021-09-05 03:05] A1-exe commented on #1144
Thank you. I'm going to credit you on my project at this point. I keep running into tons of semantic issues lol

[2021-09-05 03:05] #1144 closed

[2021-09-06 16:47] tthkbw commented on #1143
Thanks for the explanation, @kmvanbrunt. I confess to not having read the documentation thoroughly before just diving in and simply changing from Cmd to cmd2. I did look at "Incompatibilities" in the documentation and it doesn't seem to mention this case. I was also confused by the initial error trace which didn't identify the typing problem at the server end.

I understand a bit more, now, althou

[2021-09-06 17:26] anselor commented on #1143
@tthkbw I haven't tried looking deeply into what rpyc does to serialize arbitrary objects but my suspicion is that, when confronted with an unknown type, rpyc tries to construct a custom object that mimics the object you're sending by copying the data attributes of the object. I don't think in recognizes or handles the fact that Statement is a subclass of `str` and constructs a custom data object

[2021-09-30 23:41] Hierosme commented on #978
Hello,

May be i not understand why the Pipe ``|`` require any explanation (i can miss understand).

The pipe is describe from long time ago by the POSIX documentation.
https://pubs.opengroup.org/onlinepubs/9699919799/functions/pipe.html

That is two file descriptor from STDIN, STDOUT, STDERR.

How integrate it to ``cmd2`` for me by modify poutput() for have somewhere a file descriptor to connect

[2021-10-01 08:06] Hierosme commented on #978
µI have take a look about pipe, but that is all ready code ans store on os.pipe()

https://docs.python.org/3/library/os.html#os.pipe

and

https://docs.python.org/3/library/os.html#os.pipe2 (look to be teh True POSIX pipe)

As describe by POSIX requirements, the os.pipe() should be couple with os.fork(), and the File Descritor should us a POSIX Open.

that is done by it type of code: https://www.t

[2021-10-04 08:28] Hierosme commented on #978
Here POSIX description of a PIPE:
https://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_09

[code]

[2021-10-05 08:08] Hierosme commented on #978
Here a exemple about **oilsshell** , that is not a pure POSIX Pipe but that look correct. That method can be use on cmd2 and look more easy to implement.

[code]
https://github.com/oilshell/shell-protocols/blob/master/coprocess/fcli_invoke.py

---
It look i'm a rare guy concerne by the internal Cmd2 command PIPE. That due to the fact i have start a project arround Cmd2 it consite to create a auton

[2021-10-05 14:46] tleonhardt commented on #978
@Hierosme The concerns of the `cmd2` developers are around how to implement a pure POSIX pipe within `cmd2` and not around how it works in POSIX/UNIX systems.

Supporting a pure pipe syntax where you can pipe from/to cmd2 commands as well as shell commands multiple times would be a great feature, but it would also very significantly complicate our parsing logic as well as how we resolve command al

[2021-10-09 09:06] Hierosme commented on #978
Hi @tleonhardt ,

I'm iterested to take a look, and in case send a PR :) or i minima push here my feedback.

Has i understand, how macro/alias (may be sub SHELL command) are implemented will certainly be the pain source .
By experience if i'll touch arround macra/alias it will be with **ultra limitated changes**, or my PR will never help any one ...

I suppose true POSIX fork will be not allow ...

[2021-10-10 20:59] Hierosme commented on #978
I have take a look, and have a better view now.

Actually ``Internal Command`` (cmd2.CommandSet) and ``Sub SHELL command`` (cmd2.utils.ProcReader) use differente way to deal with return code, stdin, stdout.

[2021-10-10 21:09] Hierosme commented on #978
I have take a look, and have a better view now.

Actually ``Internal Command`` (cmd2.CommandSet) and ``Sub SHELL command`` (cmd2.utils.ProcReader) use differente way to deal with ``return code``, ``stdin`` and ``stdout``.

The good thing is ``Sub SHELL command``  pipe work well, and can permit a workarround with SetupTools and entry point. Easy to interconnect many Command but nothing about the ma

[2021-10-18 07:24] jwag59 opened #1149 "Aliases not available when using line command arguments and running onecmd_plus_hooks"
I have a command interpreter that uses a startup-script to define a set of alias for commands I have implemented.
If you run the interpreter without command arguments the aliases are defined correctly. However when using command line arguments I detect this and run the onecmd_plus_hooks (just like the example in the sources) but in this case the aliases are not created and available for use.
I wou

[2021-10-21 19:53] kmvanbrunt commented on #1149
There is no need to manually call the `alias create` commands with `runcmds_plus_hooks()`. If they are in the startup script, then cmd2's `__init__()` method already created a `run_script` startup command for you. This will run all commands in your script, including those that create aliases.

That's why I said to call `app.runcmds_plus_hooks(app._startup_commands)`. This line typically runs in `c

[2021-11-03 13:12] matan1008 opened #1160 "Testing completions"
Dear Lords,

I am trying to write some tests to my Cmd2 application completion.
My application looks like:

[code]

And I would like my test to look something like:

[code]

Is that possible? is there any way to test the shell completion?

Thanks in advance!

[2021-11-08 05:12] GnikDroy opened #1161 "CHANGELOG missing breaking changes."
The [CHANGELOG](https://github.com/python-cmd2/cmd2/blob/master/CHANGELOG.md) document is missing a breaking change in 2.2.0

`set_default_argument_parser -> set_default_argument_parser_type`

[2021-11-10 02:36] kmvanbrunt commented on #1161
Sorry about that. I'll add it to the change log.

[2021-11-10 02:36] #1161 closed

[2021-11-10 02:48] #1149 closed

[2021-11-11 18:36] kmvanbrunt commented on #1160
Calling `shell.complete()` directly requires mocking out certain functions normally provided by GNU readline. cmd2 does this in our unit tests in [conftest.py](https://github.com/python-cmd2/cmd2/blob/master/tests/conftest.py#L171)

For your case, it's simpler just to test `_complete_student()` directly.

[code]

[2021-11-11 22:03] matan1008 commented on #1160
The issue with testing `_complete_student` (which I am already doing) is that I can't test the integration between my code and the completion.
For example, if I had a typo and instead of:
`self.complete_student = self._complete_student`
I wrote:
`self.complete_studet = self._complete_student`
Testing `_complete_student` alone will not be good enough.
I will try the mock attitude soon and will clos

[2021-11-12 09:33] duck-rh opened #1167 "cmd2.ansi.style stopped accepting strings without any deprecation, breaking the world"
Quack,

You just released 2.3.0, thanks for your hard work,

I just stumbled upon the fact that `cmd2.ansi.style` suddenly does not support using strings for color names and I was not expecting such incompatibility according to the changelog. I guess that's too late but at least the changelog should be updated with proper warnings.

[code]

Regards.
\\_o<

[2021-11-12 19:36] kmvanbrunt commented on #1167
@duck-rh Sorry about that. I forgot I made that change when I was writing the change log. I've updated both the change log file and release notes.

[2021-11-12 19:36] #1167 closed

[2021-11-15 02:40] duck-rh commented on #1167
@kmvanbrunt thanks

[2021-11-22 03:29] bambu opened #1176 "with_argparser always provides provider_self even when None"
Seems like regardless of the state of `provider_self` cmd2 will always supply it. I was expecting it to pass the `cmd2_app` when the var is None as was done back in the version i am upgrading from (1.1.0).

https://github.com/python-cmd2/cmd2/blob/2.3.1/cmd2/decorators.py#L354

Would expect for the linked line to be either
[code]
or

[code]

[2021-11-22 14:19] kmvanbrunt commented on #1176
Good catch, I'll get this fixed and a unit test or two.

[2021-11-22 20:38] #1176 closed

[2021-12-08 17:22] kulinacs opened #1182 "Pyperclip AsserionError not caught"
In the case pyperclip selects "klipper" as the underlying clipboard, an assertion error will be thrown if it fails to read from klipper (https://github.com/asweigart/pyperclip/blob/master/src/pyperclip/__init__.py#L301). This exception isn't caught by cmd2 (https://github.com/python-cmd2/cmd2/blob/master/cmd2/clipboard.py#L20), which will cause an application using cmd2 to crash on startup.

This

[2021-12-15 15:22] #1182 closed

[2021-12-17 20:13] MrSurly opened #1184 "Shell backgrounding doesn't appear to work in transcript generation or playback"
Performing this command:

`shell aplay /dev/zero -f S16_LE -c 2 -r 16000 -t raw -d 3 &`

works as expected, and `aplay` is backgrounded properly.

However, attempting to create a transcript with a backgrounded command via `history -t transcript.txt` will result in the script hanging as the `aplay` command is not backgrounded.

I can actually create the transcript: As a workaround, I hit CTRL-C dur

[2021-12-17 20:14] MrSurly commented on #1184
I also tried `shell bash -c 'aplay /dev/zero -f S16_LE -c 2 -r 16000 -t raw -d 3 &'` -- same effect

[2021-12-17 20:25] MrSurly commented on #1184
I assumed this was an issue with the ampersand (`&`) character, so I tried using the `bash` keyword `coproc`, which _does work_ in interactive CLI, but when generating a transcript I get: `/bin/sh: 1: coproc: not found`, which implies that the interactive CLI is using `bash`, and the transcript create/replay is using `sh`, which doesn't have `coproc`.

However, on my system (raspi), `/bin/sh` is `

[2021-12-17 20:28] MrSurly commented on #1184
This did end up working: `shell bash -c 'coproc aplay /dev/zero -f S16_LE -c 2 -r 16000 -t raw -d 10'`

[2021-12-17 20:30] tleonhardt commented on #1160
@matan1008 Were you able to work around your problem?

[2021-12-17 20:48] tleonhardt commented on #1075
I changed the `Advanced Settings` for our project on readthedocs.org and the `Default version` is now the `stable` one.

[2021-12-17 20:48] #1075 closed

[2021-12-18 17:37] matan1008 commented on #1160
Kind of, I did the following:

[code]

It feels like a really patchy, horrible and unstable workaround tho.

[2021-12-18 17:38] #1160 closed

[2021-12-22 13:51] duck-rh opened #1185 "transcripts do not catch errors"
Quack,

I'm using cmd2 2.3.3 on Python 3.9.9 on Debian unstable.

I am trying to test my application using transcripts. Depending on the gravity of the situation it uses `pwarning()` or `perror()` to alert the user but these calls are not caught by transcript and looking at the code of `_generate_transcript` is seems only stdout is captured.

I believe testing application checks are useful and in

[2021-12-22 14:00] duck-rh opened #1186 "cmd2 and libedit"
Quack,

While porting cmd2 from 2.1.2 to 2.3.3 on Debian unstable I stumbled onto massive tests failures. It happens that Python 3.10 is now built (3.9 stays the default at the moment) and that it was built with libedit. I found that in `cmd2/rl_utils.py` line 129 you explain cmd2 is not compatible with libedit. This code path  causes `readline` and `rl_force_redisplay` to later be undefined.

I r

[2021-12-25 04:12] jayrod commented on #644
I've written a fair bit of pyscript and would gladly add some documentation. Is this still a requirement?

[2021-12-25 04:15] anselor commented on #644
@jayrod Yes, if you're willing to improve this area of documentation and/or provide additional examples of how this can be used it would be appreciated!

[2021-12-27 03:27] jayrod commented on #644
I'm actually not sure what is meant by "Processing a CommandResult object returned from app()"  I presume you mean when the application returns a complex object via last_result that the script can then use for data?

[2021-12-27 03:47] jayrod commented on #644
After looking at the code and tinkering around a bit this also makes me scratch my head a bit.

Utilizing StdSim.pause_storage to avoid duplicating data already stored in CommandResult.data

i.e. what *is* a good use case for StdSim.pause_storage?

[2022-01-01 06:14] jayrod commented on #644
PR submitted. https://github.com/python-cmd2/cmd2/pull/1187

doesn't include anything about StdSim however.

[2022-01-01 15:34] jayrod commented on #979
I've got some time and now some experience but I admit I have not used ipy or even debug during my development of cmd2 apps. I played around with `self` and tried to perform a command in ipython but building a Statement object is a bit weird.

So my question is what use cases are really useful for ipython usage?

when I run into issues I simply set a debug point inside of a command and create a co

[2022-01-02 22:53] kmvanbrunt commented on #979
In both `py` and `ipy` shells, you can do everything possible in a pyscript. Therefore, you don't need to call `self.do_foo()`. Just use `app('foo arg1 arg2')`.

[2022-01-02 23:04] kmvanbrunt commented on #644
@jayrod Thanks for taking the time to write documentation. I'm just finishing my vacation, so please allow me a few days to read over your PR.

[2022-01-12 20:06] kmvanbrunt commented on #1186
I'll need to research this. The original reason we didn't support `libedit` can be found in issue #383.
It boiled down to it not supporting [readline.set_completion_display_matches_hook](https://docs.python.org/3/library/readline.html#readline.set_completion_display_matches_hook).

Hopefully this all works now since Python 3.10 may be moving to `libedit`.

[2022-01-15 10:01] Ethanwangguoliang opened #1189 "cmd2 and datetime"
I have used cmd2==2.3.3 with Python 3.8.3 on Ubuntu 16.04 LTS.
After the import of cmd2, there is a probelm with using datetime to display GMT time, as follows:
[code]
output:
[code]

Regards.

[2022-01-17 06:34] 69d9 opened #1190 "yb"

[2022-01-17 07:56] Ethanwangguoliang commented on #1189
In my project, the case is  solved below,  as:
[code]

[2022-01-17 15:54] #1190 closed

[2022-01-18 00:44] jonez734 opened #1191 "unable to install cmd2-2.3.3 from github tarball, pypi tarball, or wheel on fedora 35"
- the 'pyperclip' package has been renamed to 'pyclip'. changing this in the setup file did not result in a successful build.
- fedora 35 with all updates
- python 3.10

[code]

[2022-01-24 03:07] jayrod commented on #644
i *may* be able to add an example with self.py_locals. I've not used it before but it does seem super useful. But it's also difficult to document for end users.

[2022-01-26 20:04] tleonhardt commented on #644
This was closed by #1187

We can always improve it further.  But this is a great start.

[2022-01-26 20:04] #644 closed

[2022-01-27 17:11] giovannt0 commented on #1186
Hey there,

+1'ing this issue as I'm running into similar problems. Native support of libedit would be awesome.

[2022-01-27 17:34] morzen commented on #24
Hello apologies for re-writting here but i wanted to know if this would ever be fixed or you had alternatives to the emptyline() function cause i am in need of updating something everytime a command is entered or not so empty line or not the prompt need to update.

thanks

[2022-01-27 18:00] morzen commented on #24
PS: because the issue is that no lice cycle hook or post or pre command hook can work or at least if an empty line isn't considered as a command.

IE: if I enter a command like (prompt which need to update at every iteration): ls

in this case, the prompt will update thx to pre or post command hooks

but should I enter nothing
 (prompt which needs to update at every iteration):

the prompt won't u

[2022-01-27 18:03] kmvanbrunt commented on #24
@morzen You will want to write a Command Finalization Hook. This type of hook runs after every command and empty line.
https://cmd2.readthedocs.io/en/stable/features/hooks.html#command-finalization-hooks

Here's a simple example

[code]

[2022-01-27 18:04] morzen commented on #24
oh man, you are my savior thanks =))

[2022-01-27 18:09] kmvanbrunt commented on #24
@morzen You're welcome. Let us know if you have any other questions.

[2022-01-28 11:54] morzen commented on #24
Well actually, yes i thought the backward compatibility with cmd would prevent some issue but one arose to the occasion.

in a  former version of my program which was using cmd i was able to use back space and delete my commands if i had made a typo or anything without any issues.

But since moving on to cmd2  the back space key output ^H which is quite problematic.

many thanks ^^

[2022-01-28 14:18] morzen opened #1196 "back space output ^H"
Hello, I came across an issue while creating a CLI which I can't show you, so the example will be done using your basic.py program from the example programs.
(although I had to make some modifications around the blue arrows see picture )

changing use_ipython=True to include_ipy=True
other wise i had errors
and change
self.intro = style('Welcome to PyOhio 2019 and cmd2!', fg='red', bg='white', bol

[2022-01-28 14:50] kmvanbrunt commented on #1196
Check if this post explains the issue you're seeing.
https://github.com/python-cmd2/cmd2/issues/1009

[2022-01-28 15:33] morzen commented on #1196
IT does indeed, thanks for helping just curious do you think it might risk happening if I put the CLI program I m developing on a docker?

but I am guessing if it does I can run a pre-loop scrip to make the terminal change? because I am trying that the user won't have to do such thing

[2022-02-01 04:42] anselor opened #1197 "Per-command clean-up registration"
Currently the only way to handle a SIGINT is overriding `sigint_handler()` in the `cmd2.Cmd` main class.

We now have CommandSets, allowing different sets of functionality to be written in relative isolation from each other. What would be useful would be a way to optionally register a custom cleanup function for a command in the event of an interrupt.

Thinking an optional decorator on a command t

[2022-02-02 03:19] jayrod commented on #944
I'd like to re-open this issue.. slightly.

https://clig.dev/#ease-of-discovery has some good suggestions for creating great CLI interfaces. One thing that is difficult as an app developer is leading users down the right path. with complex commands.

Perhaps we can help link cmd examples to do functions like we do with complete_foo functions. and help_foo functions.
perhaps a related_cmd_foo funct

[2022-02-06 01:24] terrysimons opened #1198 "AttributeError: module 'cmd2' has no attribute '__version__' when built with pyinstaller"
Hi there,

I'm building a cmd2 app with pyinstaller for both macOS and Windows.

On macOS, when running the python sources natively, everything works fine.

When building as a pyinstaller app, the cmd2 app works fine, except when I run a script with the -t option I get an error such as:

[code]

This happens on Windows (above) as well as macOS:
[code]

Just curious if any of the cmd2 app developer

[2022-02-06 01:47] terrysimons commented on #1198
I looked at the source and saw how the __version__ property is managed.  That explains the problem I ran into.

The fix is to add this to the pyinstaller build step:

`--collect-all cmd2`

Interestingly enough while it seemed like `--hidden-import importlib` *should* work, it does not, nor does `--collect-submodules cmd2`

Hopefully this helps someone else!

Cheers,

- Terr

[2022-02-06 01:47] #1198 closed

[2022-02-12 03:21] kmvanbrunt commented on #1186
After researching this, it looks like **libedit** has the same issue it did when I first tried to fix this in 2018.

**cmd2** sets a custom display function using [readline.set_completion_display_matches_hook()](https://docs.python.org/3/library/readline.html#readline.set_completion_display_matches_hook) to support many of the advanced tab completion features (e.g. tab completion tables, displayin

[2022-02-15 12:19] duck-rh commented on #1186
@kmvanbrunt thanks a lot for looking into it. Indeed that's a big problem. I've asked the python 10 maintainers if switching back to readline would be possible. I guess in the long run it would be nice if libedit was improved.

[2022-02-15 17:40] kmvanbrunt commented on #1186
@duck-rh To get around this for now, install [gnureadline](https://pypi.org/project/gnureadline/) in your Python 3.10 environment. **cmd2** tries to load that first.

[2022-02-21 17:18] prot0man commented on #944
I'd love to see this sort of feature! I've worked on a few applications where I had to do some really ugly things to prompt users for mandatory fields. I think all users could benefit from a mode where the CLI allows a user to enter a command and then provides prompts for mandatory fields (with tab completion) based off of an argparse object. I also wonder if others would also benefit from a plugi

[2022-02-21 19:59] ploum opened #1205 "default() method is incompatible with cmd1"
I don’t know if it is a bug in cmd2 code or cmd2 documentation but behaviour of "cmd.Cmd.default()" is completely different in cmd and cmd2.

CMD1:

default(self,args):
___print(args)

=> return the complete command line as a string

CMD2:

default(self,args):
___print(args)

=> return only parameters (thus not the first word of the line, which is usually the one expected)

in fact, args is a cmd2

[2022-02-23 22:08] crotwell opened #1207 "transcripts do not fail on missing commands"
A non-existant command in a transcript should fail, but it passes even though cmd2 knows that "notacmd is not a recognized command, alias, or macro".

Create a transcript manually:
[code]
Then using first_app example:
[code]
output is:
[code]

[2022-02-24 00:42] crotwell commented on #1185
Possible this could be resolved by PR #1208
Also see issue #1207

[2022-02-24 14:51] #1196 closed

[2022-02-24 15:01] kmvanbrunt commented on #1191
`pyclip` appears unrelated to `pyperclip` (e.g. different authors, different codebase).
Also, `pyclip` requires Python 3.7+. `cmd2` needs to support Python 3.6+.

[2022-02-24 15:01] #1191 closed

[2022-02-24 15:16] kmvanbrunt commented on #1189
I'm not sure what's going on in that environment. I ran the same tests on Debian 11 and received the following output.

Test 1
[code]

Output:
[code]

Test 2
[code]

Output:
[code]

[2022-02-24 15:16] #1189 closed

[2022-02-24 15:18] #1186 closed

[2022-02-24 15:31] #1205 closed

[2022-02-24 15:37] #1207 closed

[2022-02-24 16:08] kmvanbrunt commented on #1184
I'm curious as to why your transcript environment is running a different shell than the interactive environment.
Our `do_shell()` function obtains attempts to capture the user's shell with `shell = os.environ.get("SHELL")`.
If that is successful, then it passes that as the `shell` keyword argument to `Popen()`.

I created a transcript file using `history -t` with the following contents:
[code]

Wh

[2022-02-24 16:12] kmvanbrunt commented on #1185
@tleonhardt @anselor
Can you think of a reason why capturing **stderr** would be problematic?

[2022-02-24 16:48] anselor commented on #1185
@kmvanbrunt The transcripts feature is an area of cmd2 I haven't really touched. At a high level I see no reason why it would be a problem.

[2022-02-28 14:14] crotwell commented on #1185
@kmvanbrunt I would be happy to see a more robust solution, but currently cmd2 transcripts do not actually capture stdout, they only capture the output of `self.poutput()`.

In other words, if you have two commands like:
[code]

and run you see this:
[code]
but if you create a transcript with:
[code]
then the transcript.txt looks like:
[code]
so the print output is missing.

If you can figure out

[2022-02-28 16:47] crotwell commented on #1185
OK, I see the clarification. You said capturing `stderr`, but sounds like you actually meant capturing `self.stderr`.

I do not care about stderr being in the transcript, intermingling stdout and stderr is probably hard and error prone. And I guess there could be cases where self.stderr was not an actual failure, so `perror` is not the right way to go. As I said in issue #1207, what I actually car

[2022-02-28 17:17] kmvanbrunt commented on #1185
**cmd2** does not have a `self.stderr` member like it does `self.stdout` and `self.stdin` which are inherited from Python's **cmd** library. We capture `sys.stderr` during transcripts, command redirection/piping, and pyscripts.

The question I have is about the purpose of transcripts. I've not really used them nor have I contributed much to the transcript code, so my thoughts here might be incorre

[2022-02-28 17:48] crotwell commented on #1185
That purpose for transcripts seems correct to me.

But it is unclear to me if a transcript of something that writes to both stdout and stderr would be usable as a test in that how stdout and stderr are intermingled could be non-deterministic. It might be worth trying, but I don't know enough about python internals to know if you might effectively create a race condition between stdout and stderr i

[2022-02-28 19:01] crotwell opened #1209 "run_script continues after not a recognized command"
Filing as a separate issue, but related to #1185 and #1207. Currently run_script also suffers from not seeing the error caused by a command that doesn't exist. A similar issue happens with unknown or incorrect arguments to a command. This would also occur in startup commands.

For example, with first_app.py, using this as a script
[code]
does not stop execution on the second or third command and k

[2022-02-28 21:16] kmvanbrunt commented on #1209
**run_script** is for text scripts, which have no logic. They're no more advanced than running multiple command lines in a row. Great for automation, but not for things which can fail. Without added logic, Windows batch files and Bash scripts also don't stop if an invalid command is run.

If you need something more powerful, consider using Python scripts with the `run_pyscript` command.

https://c

[2022-02-28 21:40] kmvanbrunt commented on #1197
On a related note, `cmd2` does provide a way for SIGINT protection during sections of code that need to fully run to avoid putting the app in an unstable state.

Using `self.sigint_protection` you can do stuff like:

[code]
See `cmd2.py` for actual uses.

When `self.sigint_protection` is set, `cmd2.Cmd.sigint_handler()` won't raise a `KeyboardInterrupt`.

[2022-03-01 01:13] jayrod commented on #1209
Actually in bash scripting this is exactly what happens. I just tried this out.

#/bin/bash

echo 'Works'
randome_command_not_exists
ls -l /tmp

The first and the third commands work like expected and there is an error for the second one. So it doesn't make sense to not show an error but continuation seems perfectly normal

[2022-03-01 02:11] #1184 closed

[2022-03-01 04:32] duck-rh commented on #1185
@kmvanbrunt yes, that's exactly it, I'm running unit tests. I don't see any other way to test the UI part of my application. I create a complete test environment and I want to make sure the flow of a command ends up with the proper result, whether it's a result or an error. I also have scenarios with a suite of commands having a specific outcome. You can have a look at what it looks like here: htt

[2022-03-01 05:14] anselor commented on #1185
@duck-rh
Have you looked at the external test plug-in?
https://github.com/python-cmd2/cmd2/tree/master/plugins/ext_test

[2022-03-01 09:32] duck-rh commented on #1185
@anselor thanks for pointing this out I must have missed it. I made a quick test and that seem to work fine.

I noticed that plugins are not included in the distribution and I had to copy the module in my sources to make it work. Would it be possible to distribute them?

[2022-03-01 13:57] crotwell commented on #1209
Bash, for example, continues after an error because the next line can potentially use the exit code of the previous and do something appropriate on error. There is also `set -e` to tell bash to exit on the first error.

I am not suggesting cmd2 scripts should have sophisticated error handling features, keeping it simple is best for run_script. But I would humbly suggest that in the absence of erro

[2022-03-01 14:53] anselor commented on #1185
@duck-rh It's distributed as a separate wheel you can import for your tests.
https://pypi.org/project/cmd2-ext-test/

[2022-03-01 16:40] crotwell commented on #1185
PR #1210 I think addresses part of this, at least my concern about a transcript with a non-existant command returning "ok". Does not take care of capturing stderr when creating a transcript with history, not sure how important that is. Basically I borrowed code from cmd2-ext-test to use pybridge to grab stderr and concat it with stdout for the result. Simple concat might not be the right way to go

[2022-03-02 20:40] ploum commented on #1205
Thanks, I understand the choice. But then, I believe it’s a bug in the documentation and it should be noted in the "incompatibilities" section of the documentation.

[2022-03-08 00:08] morzen opened #1211 "cmd2 and venv"
Hello dear developers, I find myself in a bit of a pickle.

Indeed using venv with my current CLI project which I am developing thanks to your amazing work on cmd2, proves to be challenging.
![image](https://user-images.githubusercontent.com/32000608/157139186-e63d90dd-c57b-4fae-963f-9799f4bb019c.png)

this is a clean new install of kali on a VM with updated pip and pip3 and of course, venv instal

[2022-03-08 00:43] morzen commented on #1211
nevermind issues between sessions sudo and not sudo

[2022-03-08 00:43] #1211 closed

[2022-03-08 13:26] kpad-git opened #1212 "Failure to import cmd2 in latest version (2.4)"
My application has been working fine for a year using cmd2 version 1.5.0. Today I tried to install cmd2_ext_test to expand our testing infrastructure. As part of that, it automatically upgraded cmd2 to version 2.4.0.

Now, even a simple cmd2 application copied from the examples gives me this error on the "import cmd2" line:

[code]

I'm using Python 3.9 on Windows 10 Home. For reference, here is t

[2022-03-08 13:34] kpad-git commented on #1212
I should have clarified, this is most likely not a bug with cmd2, but an issue on my side, but I can't find any resources to help narrow it down. Hoping for some sage advice from here... thanks!

[2022-03-08 14:07] anselor commented on #1212
I think @kmvanbrunt understands this area the best. Based on the error, it would probably help if you also provided the versions of packages installed in your environment. I recall there being some nuance regarding Windows and using a specific readline library.

[2022-03-08 14:40] kmvanbrunt commented on #1212
Check to see if you have `pyreadline3` installed. Also, make sure it's not simultaneously installed alongside `pyreadline`.

[2022-03-08 15:06] kpad-git commented on #1212
@kmvanbrunt, thank you for the quick assist, that was indeed the issue: I had pyreadline v2.1 and pyreadline3 v3.3 installed simultaneously. Removing the former, and upgrading the latter to 3.4.1 got it working again (without upgrading, cmd2 complained about disabling tab completion).

[2022-03-08 15:06] #1212 closed

[2022-03-09 08:57] duck-rh commented on #1186
@kmvanbrunt thanks for the tip.

Since that changes can break other programs I think it's better to revert to building Python with readline and the Debian maintainer did not even discussed it and changed things back in 3.10.2-2.

[2022-03-17 12:13] kulikjak opened #1213 "Test failures due to ANSI sequences in the output"
Hi, I just tried updating cmd2 we ship with Solaris from 0.9.13 to 2.4.0 and hit two test suite failures:

[code]
It seems that ANSI color sequences are not properly accounted for (although I am not sure how those got there)?

It happens with both Python 3.7 and 3.9, and even when ignoring the environment (so nothing weird sneaks in).

Do you have any suggestions as to what this can be caused by?

[2022-03-18 08:49] kulikjak opened #1214 "Question: overriding built-in alias command"
This is more of a question than an issue.

In an older version of cmd2 (0.9.13), I was able to override `do_alias` method (and not use alias functionality provided not any arguments for the command) simply with:
[code]
however, with version 2.4.0, the same code results in the following error:
[code]
Is this expected behavior? And what would be the optimal solution to this? I did some testing manag

[2022-03-18 16:36] kmvanbrunt commented on #1214
Your solution works and I don't think it will lead to errrors. But if you want to override `do_alias` without needing an `argparse` decorator, do something like this.

[code]

[2022-03-18 16:47] kmvanbrunt commented on #1213
By default **cmd2** strips ANSI color sequences from output if stdout/stderr aren't terminals. This behavior works when unit testing on Windows, Linux, and Mac. Not sure why you're seeing different behavior on Solaris.

I can alter those 2 unit tests to account for the ANSI color sequences, but could you test them for me on Solaris before I do?

In `test_history_run_all_commands()`, change:
`asser

[2022-03-21 16:13] #1214 closed

[2022-03-21 16:17] kulikjak commented on #1213
I just tested it again and found something weird. When I clone the repo, cd into it and call `pytest`, I see the errors above. But when I call in on failing test file only (e.g. `pytest tests/test_history.py`), it works without any issue. And I see the same thing on Linux as well, so it's most likely just me calling the test suite in an unexpected way...

I will investigate it more...

[2022-03-22 02:40] phrrngtn opened #1215 "Document use of docopt-based parser for option processing"
Hi,
I like to use docopt for simple scripts. I  wrote an integration with Cmd2 yearas ago and have been using it at work. I only noticed recently that there is an argparser integration in Cmd2 and then led me to search for something that converts docopt to argparser and that led me to argopt.

This allows you to write Cmd2 commands with usage-style docstrings and all the completion stuff etc just

[2022-03-22 03:01] phrrngtn opened #1216 "Consider using rich to format output like exceptions"
I found my usage of Cmd2 to be enhanced by using [rich](https://rich.readthedocs.io/en/stable/introduction.html) to format exceptions.

[code]

[2022-03-22 03:07] anselor commented on #1215
@phrrngtn This looks pretty great. Will have to play with this some and see how it goes. Does docopt allow sub-commands like argparse?

@jayrod You might like this too

[2022-03-22 03:08] anselor commented on #1216
This could easily be turned into a mixin class

[2022-04-01 21:19] tiolan commented on #764
Hi @tleonhardt, following this guide and the documentation, I was able to run `cmd2` on the `asyncio` event queue with help of `aioconsole`.
It is basically this:
[code]
I can run all my commands.
But what now is lost is the prompt and the welcome message, that I set like this:
[code]
I only have an empty console, that I can use for input.

Here is how I instantiate it:
[code]
Any idea what causes

[2022-04-13 11:18] AdrianFClark opened #1219 "Wrong value for yellow background to text"
`ansi.py` defines `Bg.YELLOW` as 44 but that's blue; it should be 43.

[2022-04-13 16:03] kmvanbrunt commented on #1219
Good catch, I'll get that fixed.

[2022-04-13 17:37] anselor opened #1220 "command function type annotations are pulled into command help"
in `with_argparser`, when an explicit description is not provided we pull the functions `__doc__` property as the description. It currently pulls the entire __doc__ property including any documentation generation annotations. Would be cleaner to omit annotations.

Example:

[code]

Results in something like:
[code]

And would be cleaner like:
[code]

[2022-04-13 17:43] kmvanbrunt commented on #1220
We already have code that does this in `cmd2.Cmd._print_topics()`. We could move this block to a common function in `utils.py`.

[code]

[2022-04-13 17:46] anselor opened #1221 "async_alert causes a double-prompt when called from the main thread."
It seems if async_alert() somehow gets called from the main thread, it causes the prompt to be doubled.

[2022-04-13 17:53] #1213 closed

[2022-04-13 18:22] kmvanbrunt commented on #1221
`async_alert()` isn't supposed to be called from the main thread. It's only needed when the main thread is blocking at the prompt.

[2022-04-13 18:30] kmvanbrunt commented on #1221
I'll raise a `RuntimeError` if developers try to call it from the main thread.

[2022-04-13 18:41] #1219 closed

[2022-04-13 18:47] kmvanbrunt commented on #1216
Printing exceptions with **rich** is a nice enhancement, but I'd rather not add **rich** as a requirement to use **cmd2**.

[2022-04-13 19:02] anselor commented on #1216
I'm going to look into doing a simple mixin for this or add an example, depending on what makes sense.

[2022-04-13 19:14] kmvanbrunt commented on #1221
See the [async_printing](https://github.com/python-cmd2/cmd2/blob/master/examples/async_printing.py) example for help with using this function.

[2022-04-13 19:44] #1221 closed

[2022-04-18 16:46] anselor commented on #1220
Seems this behavior is only in older versions of python. Newer versions strip the annotations automatically.

[2022-04-18 20:09] anselor commented on #1216
@phrrngtn I pushed up some initial structure of a rich mixin class for cmd2. Would you mind taking a look? My thought is the console.print() function can be called in poutput().

[2022-04-21 16:33] alhernau opened #1225 "Consider implementing/documenting a way to disable clipboard feature"
It would be nice to have a supported way to disable clipboard feature altogether.
Purpose:
Bypass checks and save a few milliseconds startup time (up to 400ms on systems I have to support)

[2022-04-25 21:48] #1220 closed

[2022-04-28 21:15] phrrngtn commented on #1216
I did not notice the feature branch so only just found out what you are referring to. I will exercise it. My most recent deep interaction with Cmd2 was in 2011 or thereabouts. I have just used it as-is since then.

[2022-04-28 21:21] anselor commented on #1216
It's a pretty minimal start that just took what you provided and puts it in a mixin. I've not used rich so I'm not really familiar with it but my thought is all of our print  functions can be optionally shunted over to rich using this mixin class.

[2022-05-03 20:27] ZakCheb opened #1227 "Persist failed commands for history"
Hello team,

Cool project! for the history part, it's working well, except when it's an "unrecognized" command, it would be nice to log/persist the history of those failed commands, or add a param to accept it.

[code]

[2022-05-21 13:39] mgorny opened #1228 "Python 3.11: tests/test_argparse_completer.py::test_add_parser_custom_completer fails"
On Python 3.11.0b1, the following test fails:

[code]

[2022-05-23 19:05] #1228 closed

[2022-05-30 10:47] chrysn commented on #1209
I agree @crotwell in that a `set -e` mode would be desirable for scripting (maybe enabled with `set stop_script_on_error True`). Ideally, that would halt script processing both on unknown commands and on commands that raise an exception.

[2022-07-11 21:14] mattsingh opened #1232 "How to use a custom namespace from cmd2.Cmd class with CommandSets"
As per title.

I am trying to use a namespace provider in the `cmd2.Cmd` to default a value for a command in a `CommandSet`.  How should I go about referencing the namespace provider in the main `cmd2.Cmd` from a `CommandSet`?

[2022-07-12 19:57] kmvanbrunt commented on #1232
This example shows how to reference a namespace provider in the main `cmd2.Cmd` class from a `CommandSet`.

[code]

[2022-07-14 14:57] tleonhardt commented on #1002
@kmvanbrunt Is this fixed now?  Or are we waiting on some better fix?

[2022-07-14 17:24] tleonhardt commented on #1216
I personally love `rich` and think it is fantastic and does a lot of things we have added features for in `cmd2`.

Right now I'm not sure we want to take a dependency on it, but we should consider doing so in the future.

@anselor  Regardless, a mixin with an example of using it could be pretty awesome in the meantime.

[2022-07-14 17:25] tleonhardt commented on #1225
@alhernau  This is a good callout since end users tend to care a lot about performance and startup time.  I like this idea for a feature request.  We can look into it.  But please feel free to submit a PR.

[2022-07-14 17:26] tleonhardt commented on #1227
@ZakCheb This is an interesting idea for a feature request.

At first glance to me, it feels like an anti-pattern.  I don't want to help users type the wrong thing ;-)

But perhaps if it were optional it might be ok.

[2022-07-15 18:14] mattsingh commented on #1232
Sorry, I should've been more clearer. I also wanted the namespace to overwrite the positional arguments from an argument parser. That way the positional argument wouldn't be required since it was passed with the namespace. I don't think it was possible so I did a workaround respective to my situation.
Thanks though :)

[2022-07-15 18:14] #1232 closed

[2022-07-15 18:46] anselor commented on #1225
I wonder if we could make this a load-on-first-use thing so it doesn't impact startup time.

[2022-07-21 16:28] phrrngtn commented on #1215
Will do. I have not been doing anything other than dayjob for several months so it may be some time.

[2022-07-21 22:53] ddejohn opened #1242 "[1.5.0] `choices_method` does not actually restrict argument choices"
Using `cmd2` version `1.5.0`, the `choices_method` for an argument *do* help with tab completion, but *do not* actually restrict the choices of values a user can legally input, contrary to how `argparse` module's `choices` works.

[2022-07-22 16:20] ddejohn opened #1243 "[1.5.0] Is it possible to provide a `type` callable access to `self` from within a command set, similar to how `choices_method` works?"
I'd like to run some type conversion on a few arguments inside a command set, but it needs access to `self`. If I simply add the methods as the `type` argument in `parser.add_argument` I always get an invalid value warning from the parser without that callable having even been called.

I assume this is caused by the fact that the `type` callable requires there to be one argument, but if using a me

[2022-07-22 16:36] kmvanbrunt commented on #1242
This is documented at https://cmd2.readthedocs.io/en/1.5.0/api/argparse_custom.html

If you know the dataset beforehand, just uses `choices`. cmd2 will tab complete those just like it does items provided from `choices_method` and `argparse` will validate your input.

When using a dynamic dataset via `choices_method`, you can either validate the input within the `do_` function or you can use a cust

[2022-07-22 17:07] kmvanbrunt commented on #1243
Since the parser is created before the `CommandSet` instance, `type` is pointing at an unbound method.
This is the same for tab completion methods like `choice_provider`. Command parsers are basically class objects, not instance objects.

`cmd2` gets around this for tab completion methods since they're called in our custom code and we pass `self` manually as the first argument to the unbound metho

[2022-07-22 21:39] ddejohn commented on #1243
Just to clarify, you've got `saved_arg` but then in the `__init__` you're setting the type of `MyCommandSet.my_arg`. This is just a typo, right?

[2022-07-22 21:40] ddejohn commented on #1242
My apologies, I missed that in the docs.

[2022-07-22 21:40] #1242 closed

[2022-07-22 22:13] kmvanbrunt commented on #1243
@ddejohn Yes, that is a typo. I've corrected the code now.

[2022-08-05 20:11] tewhalen commented on #907
I'm experimenting with something similar - I'd like to have commands that start with a slash. I'm taking the approach of overriding some standard functions and using a dict to map substititions between commands and do_* methods so I can have a method named "do_slash_travel" and have that interpreted as "/travel".

[code]

[2022-09-09 14:14] Abdullah18132 opened #1244 "100010953375263"
100010953375263

[2022-09-09 14:15] #1244 closed

[2022-09-09 14:35] anselor commented on #1227
So, looking back at bash for inspiration, bash does seem to preserve everything the user has submitted regardless of whether it was a valid command.

[2022-09-09 14:40] anselor commented on #1216
@phrrngtn Hey, just checking in again. Did you get a chance to try out the rich mixin branch?

https://github.com/python-cmd2/cmd2/compare/master...1216-rich-print-mixin

Should be able to use it with something like:

[code]

[2022-09-09 16:29] phrrngtn commented on #1216
Sorry but I have done absolutely nothing on this! There is a heck of a lot
of active development on Textual, a TUI framework by the people who did
rich and I have been waiting for that to be released before I start
digging into this (because one of my goals will be to run Cmd2 inside a
widget in the TUI)

I feel a bit bad about raising this issue and then doing nothing about it
but I hope I will b

[2022-09-09 16:40] anselor commented on #1216
No worries. I've also occasionally checked in on Textual's progress and I would love to be able to run cmd2 as the command interpreter inside of Textual Console UI. I have many project ideas if that can happen.

[2022-09-09 22:07] rADikal8e7 opened #1245 "replay select choices in transcript"
Hello,

Is there a way to replay `select` choices in transcript so that it doesn't wait for user input while running transcript?

Using the following example code
[code]

[code]
[code]

[2022-09-11 17:38] anselor commented on #1245
This seems like something @kmvanbrunt would know best.

[2022-09-21 17:26] kmvanbrunt commented on #1245
Place your **select** answers in a text file, each on its own line. For instance, answers.txt.

[code]

Then run your tests like this: `cat answers.txt | python sam/lib/test2.py --test transcript.txt`

[2022-09-21 17:49] rADikal8e7 commented on #1245
Got it. It needs external input piped. Thanks.

[2022-09-23 14:51] anselor commented on #1216
I think the discussion topic #1132 could also be enabled by integrating cmd2 with Textual.

[2022-09-27 15:28] #1245 closed

[2022-10-27 15:05] rADikal8e7 opened #1250 "overiding perror crashes program for unrecognized errors"
I am trying to log all commands from my application to a log file. Based on the recommendation by @kmvanbrunt in the following discussion #1248 overwriting the `poutput` works. However trying the same for `perror` causes the program to crash if it encounters an unrecognized command.

**command used**
exit

**Code used:**
[code]

**Error hit**

[code]

**Expected Behavior**
[code]

[2022-10-27 15:25] rADikal8e7 commented on #1250
Apologies. typo on my end. I seem to have picked the wrong `perror` definition. Fixing that got `perror` working as expected.

[code]

[2022-10-27 15:25] #1250 closed

[2022-10-27 15:33] kmvanbrunt commented on #1250
The call to `perror()` is missing the `apply_style` argument. It should be:
`super().perror(msg, end=end, apply_style=apply_style)`

On Thu, Oct 27, 2022 at 11:25 AM rADikal8e7 ***@***.***>
wrote:

[2022-10-27 15:37] kmvanbrunt commented on #1250
The call to `perror()` is missing the `apply_style` argument. It should be:
[code]

[2022-10-27 17:24] GnikDroy opened #1251 "Regarding KISS and direction of the project"
Firstly, thank you for your excellent piece of software. cmd2 works well for my applications.

# A case for KISS

I realize that it is rather unusual to request for the removal of a feature, but I think some of the features of cmd2 don't fit. A very clear example is the table creation API. As you already know, [Textualize/rich](https://github.com/Textualize/rich) is a project that also supports th

[2022-10-30 18:56] kotfu opened #1252 "Enhancing Settables val_type for `bool`"
I've found an opportunity for an enhancement in boolean settables. If you create a `Settable` with a `val_type` of `bool`, when you try and set it to a boolean value programatically, it throws a ValueException.

In short (details below) when you use `bool` as the `val_type`, we have a little magic that replaces `bool` with our internal `str_to_bool` function. Here's my request for enhancement (whi

[2022-11-02 16:34] kmvanbrunt commented on #1252
Hey @kotfu, it's good to hear from you again.
I support your proposed change. Feel free to rename `str_to_bool()` since it's not converting just strings anymore.

[2022-11-29 18:18] tewhalen commented on #1251
Agreed that I'd love to see the functionality of cmd2 (and similar tools!) split into separate libraries. I think there's a case to be made for figuring out how to disentangle (a) command discovery and argument completion, (b) a bunch of default/example commands, and (c) the REPL. For my project, I've looked at [rich](https://github.com/Textualize/rich), [click](https://github.com/pallets/click/),

[2022-11-30 01:02] ymkim92 opened #1254 "Can I reuse argparser with printing help properly?"
I am using version 2.4.2. When I reuse argparser, the help displays the last command name using the argparser.

[code]

[code]